{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<form id="times_news" role="form" class="text-center"
      action="{% url 'samples' %}" method="POST">
{% csrf_token %}
<fieldset>
<div class="form-group">
    <div class="form-inline">
        <label class="sr-only" for="type_opts">Your Pricing Type</label>

        <div class="input-group">
            <div class="input-group-addon label-inline label-primary">
                Your Pricing Type
            </div>
            <div class="input-group-btn">
                <div class="btn-group btn-group-justified btn-group-radios"
                     data-toggle="buttons">
                    <label class="btn btn-default {% if default.pack == 'Trial' %}active{% endif %}">
                        <input type="radio" name="pack" id="pack_trial"
                               value="Trial"
                               {% if default.pack == 'Trial' %}checked{% endif %}
                               class="input-xlarge val">
                        Trial
                    </label>
                    <label class="btn btn-default {% if default.pack == 'Lite' %}active{% endif %}">
                        <input type="radio" name="pack" id="pack_lite"
                               value="Lite"
                               {% if default.pack == 'Lite' %}checked{% endif %}
                               class="input-xlarge val">
                        Lite
                    </label>
                    <label class="btn btn-default {% if default.pack == 'Bundle' %}active{% endif %}">
                        <input type="radio" name="pack" id="pack_bundle"
                               value="Bundle"
                               {% if default.pack == 'Bundle' %}checked{% endif %}
                               class="input-xlarge val">
                        Bundle
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <label class="sr-only" for="plan">Select Platforms</label>

        <div class="input-group">
            <div class="input-group-addon label-inline label-primary">
                Select Platforms
            </div>
            <div class="input-group-btn">
                <div class="btn-group btn-group-justified btn-group-radios"
                     data-toggle="buttons">
                    <label class="btn btn-default platform-btn-check {% if 'Sunfrog' in default.platforms %}active{% endif %}">
                        <input type="checkbox" name="platform" id="platform_sunfrog"
                               value="Sunfrog"
                               {% if 'Sunfrog' in default.platforms %}checked{% endif %}
                               class="input-xlarge val">
                        Sunfrog
                    </label>
                    <label class="btn btn-default platform-btn-check {% if 'Teespring' in default.platforms %}active{% endif %}">
                        <input type="checkbox" name="platform" id="platform_teespring"
                               value="Teespring"
                               {% if 'Teespring' in default.platforms %}checked{% endif %}
                               class="input-xlarge val">
                        Teespring
                    </label>
                    <label class="btn btn-default platform-btn-check {% if 'Teechip' in default.platforms %}active{% endif %}">
                        <input type="checkbox" name="platform" id="platform_teechip"
                               value="Teechip"
                               {% if 'Teechip' in default.platforms %}checked{% endif %}
                               class="input-xlarge val">
                        Teechip
                    </label>
                    <label class="btn btn-default platform-btn-check {% if 'Viralstyle' in default.platforms %}active{% endif %}">
                        <input type="checkbox" name="platform" id="platform_viralstyle"
                               value="Viralstyle"
                               {% if 'Viralstyle' in default.platforms %}checked{% endif %}
                               class="input-xlarge val">
                        Viralstyle
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <label class="sr-only" for="plan">Select a Plan</label>

        <div class="input-group">
            <div class="input-group-addon label-inline label-primary">
                Select a Plan
            </div>
            <div class="input-group-btn">
                <div class="btn-group btn-group-justified btn-group-radios"
                     data-toggle="buttons">
                    <label class="btn btn-default plan-btn-radio {% if default.pack != 'Trial' %}disabled{% endif %} {% if default.plan == 'Daily' %}active{% endif %}">
                        <input type="radio" name="plan" id="plan_daily"
                               value="Daily"
                               {% if default.plan == 'Daily' %}checked{% endif %}
                               class="input-xlarge val">
                        Daily
                    </label>
                    <label class="btn btn-default plan-btn-radio {% if default.pack != 'Trial' %}disabled{% endif %} {% if default.plan == 'Weekly' %}active{% endif %}">
                        <input type="radio" name="plan" id="plan_weekly"
                               value="Weekly"
                               {% if default.plan == 'Weekly' %}checked{% endif %}
                               class="input-xlarge val">
                        Weekly
                    </label>
                    <label class="btn btn-default plan-btn-radio {% if default.pack != 'Trial' %}disabled{% endif %} {% if default.plan == 'Monthly' %}active{% endif %}">
                        <input type="radio" name="plan" id="plan_monthly"
                               value="Monthly"
                               {% if default.plan == 'Monthly' %}checked{% endif %}
                               class="input-xlarge val">
                        Monthly
                    </label>
                    <label class="btn btn-default plan-btn-radio {% if default.pack != 'Trial' %}disabled{% endif %} {% if default.plan == 'Yearly' %}active{% endif %}">
                        <input type="radio" name="plan" id="plan_yearly"
                               value="Yearly"
                               {% if default.plan == 'Yearly' %}checked{% endif %}
                               class="input-xlarge val">
                        Yearly
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <label class="sr-only" for="cycle_number">
            Billing cycle
        </label>

        <div class="input-group">
            <div class="input-group-addon label-inline label-primary">
                Billing cycle
            </div>
            <div class="input-group-btn input-group-btn-flex">
                <div class="btn-group btn-group-justified btn-group-radios"
                     data-toggle="buttons">
                    {% for c in 31|get_range %}{% if c >= 1 %}
                        <label class="btn btn-default disabled {% if default.cycle_number == c|stringformat:"s" %}active{% endif %}">
                            <input type="radio" name="cycle_number" id="cycle_number_{{ c }}"
                                   value="{{ c }}"
                                   {% if default.cycle_number == c|stringformat:"s" %}checked{% endif %}
                                   class="input-xlarge val">
                            {{ c }}
                        </label>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <label class="sr-only" for="cycle_number">
            After How Many Cycles Should Billing Stop ?
        </label>

        <div class="input-group">
            <div class="input-group-addon label-inline label-primary">
                After How Many Cycles Should Billing Stop ?
            </div>
            <div class="input-group-btn input-group-btn-flex">
                <div class="btn-group btn-group-justified btn-group-radios"
                     data-toggle="buttons">
                    <label class="btn btn-default {% if default.limit == '' %}active{% endif %}">
                        <input type="radio" name="limit" id="limit_never"
                               value=""
                               {% if default.limit == None %}checked{% endif %}
                               class="input-xlarge val">
                        Never
                    </label>
                    {% for l in 31|get_range %}{% if l >= 1 %}
                        <label class="btn btn-default {% if default.limit == l|stringformat:"s" %}active{% endif %}">
                            <input type="radio" name="limit" id="limit_{{ l }}"
                                   value="{{ l }}"
                                   {% if default.limit == l|stringformat:"s" %}checked{% endif %}
                                   class="input-xlarge val">
                            {{ l }}
                        </label>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="sr-only" for="paper_cost">Paper Cost</label>

    <div class="input-group">
        <div class="input-group-addon label-inline label-primary">Paper Cost</div>
        <p class="form-control form-control-static" id="paper_cost">{{ default.amount }}</p>
        <input type="hidden" name="total" value="{{ default.amount }}">

        <div class="input-group-addon label-inline suf_currency">{{ default.currency }}/{{ default.cycle_number }} {{ default.cycle_period_display }}</div>
    </div>
</div>
</fieldset>
<input type="submit" name="submit" id="subscribe"
       value="Subscribe"
       class="btn btn-default">
</form>

<i> Note : Amount will take 1st day of every Month/Year/Week</i>
