{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

{% if process %}
    <div class="text-center">
        <img src="{% static 'images/samples/ajax-loader.gif' %}" style="vertical-align: middle;"/>
        <img src="{% static 'images/samples/processing_animation.gif' %}"/>
    </div>

    <form name="myform" class="text-center"
          action="{{ process.sandbox_url }}" method="post" target="_top">

        <div class="form-group">
            <label class="sr-only" for="business">{{ 'business'|title }}</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">{{ 'business'|title }}</div>
                <input type="text" id="business" value="{{ process.merchant }}" class="form-control" readonly>

                <div class="input-group-addon label-inline">{{ process.location }}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="item_name">{{ 'item name'|title }}</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">{{ process.item_number }}</div>
                <input type="text" id="item_name" value="{{ process.item_name }}" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="a3">{{ 'amount'|title }}</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">{{ process.platforms }}</div>
                <input type="text" id="a3" value="{{ process.amount }}" class="form-control" readonly>

                <div class="input-group-addon label-inline">{{ process.currency }}</div>
                <div class="input-group-addon label-inline">{{ '/' }}</div>
                <div class="input-group-addon label-inline">{{ process.cycle_number }} {{ process.cycle_period }}</div>
                {% if process.limit %}
                    <div class="input-group-addon label-inline label-primary">{{ process.limit }} {{ 'cycles'|title }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="cancel_return">{{ 'cancel return'|title }}</label>

            <div class="input-group">
                <div class="input-group-addon label-inline text-black">{{ process.cancel_url }}</div>
                <div class="input-group-addon label-inline label-success text-black">{{ process.return_url }}</div>
            </div>
        </div>


        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="business" value="{{ process.merchant }}">
        <input type="hidden" name="lc" value="{{ process.location }}">
        <input type="hidden" name="item_name" value="{{ process.item_name }}">
        <input type="hidden" name="item_number" value="{{ process.item_number }}">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="src" value="1">
        {% if process.limit %}
            <input type="hidden" name="srt" value="{{ process.limit }}">
        {% endif %}
        <input type="hidden" name="a3" value="{{ process.amount }}">
        <input type="hidden" name="p3" value="{{ process.cycle_number }}">
        <input type="hidden" name="t3" value="{{ process.cycle_period }}">
        <input type="hidden" name="currency_code" value="{{ process.currency }}">
        <input type="hidden" name="cancel_return" value="{{ process.cancel_url }}">
        <input type="hidden" name="return" value="{{ process.return_url }}">
        <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif"
               border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif"
             width="1" height="1">
    </form>
{% endif %}
