{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="box box-custom box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-fire"></i>Hot Campaigns</h3>

        <div class="box-tools pull-right">
            <form class="tool">
                <select id="hot_metric_select" name="hot_metric_select">
                    <option value="sales">Sales</option>
                    <option value="engagement">Engagement</option>
                </select>
                <select id="hot_period_select" name="hot_period_select">
                    <option value="last_6_hours">Last 6 Hours</option>
                    <option value="last_12_hours">Last 12 Hours</option>
                    <option value="last_24_hours">Last 24 Hours</option>
                    <option value="last_3_days" selected="selected">Last 3 Days</option>
                    <option value="last_7_days">Last 7 Days</option>
                    <option value="last_14_days">Last 14 Days</option>
                    <option value="last_30_days">Last 30 Days</option>
                </select>
            </form>
            <button type="button" id="hot_reload_link" class="btn btn-box-tool"
                    data-toggle="tooltip" title="Refresh">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    <div class="box-body" id="hot_wrapper">
        {% include 'teeinsight/dashboard/dashboard_hot_wrapper.html' %}
    </div>
</div>
