{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box small-box-custom bg-blue">
                    <div class="icon">
                        <i class="fa fa-cloud-download"></i>
                    </div>
                    <div class="inner">
                        <h3 id="new_campaigns_today">{{ campaigns.added_today|intcomma }}</h3>

                        <p class="inner-title"><i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                            Campaigns added today</p>
                    </div>
                    <a href="{% url 'teeinsight_campaigns' %}?order_by=added_at&asc_desc=desc&page=1&items_per_page=25"
                       class="small-box-footer">
                        <i class="fa fa-fw fa-arrow-right"></i>View now
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box small-box-custom bg-light-blue">
                    <div class="icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="inner">
                        <h3 id="total_active_campaigns">{{ campaigns.active|intcomma }}</h3>

                        <p class="inner-title"><i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                            Active Campaigns</p>
                    </div>
                    <a href="{% url 'teeinsight_campaigns' %}?status=active&page=1&items_per_page=25"
                       class="small-box-footer">
                        <i class="fa fa-fw fa-arrow-right"></i>View now
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box small-box-custom bg-green">
                    <div class="icon">
                        <i class="fa fa-folder-open"></i>
                    </div>
                    <div class="inner">
                        <h3 id="total_campaigns">{{ campaigns.total|intcomma }}</h3>

                        <p class="inner-title"><i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                            Total Campaigns</p>
                    </div>
                    <a href="{% url 'teeinsight_campaigns' %}?order_by=added_at&asc_desc=desc&page=1&items_per_page=25"
                       class="small-box-footer">
                        <i class="fa fa-fw fa-arrow-right"></i>View now
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="small-box small-box-custom bg-olive">
                    <div class="icon">
                        <i class="glyphicon glyphicon-flag"></i>
                    </div>
                    <div class="inner">
                        <h3 id="top_selling">{{ campaigns.top_selling|intcomma }}</h3>

                        <p class="inner-title"><i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                            Total Selling</p>
                    </div>
                    <a href="{% url 'teeinsight_campaigns' %}?order_by=added_at&asc_desc=desc&page=1&items_per_page=25"
                       class="small-box-footer">
                        <i class="fa fa-fw fa-arrow-right"></i>View now
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% include 'teeinsight/dashboard/dashboard_recently_box.html' %}
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% include 'teeinsight/dashboard/dashboard_highest_selling_box.html' %}
            </div>

            {% comment %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {% include 'teeinsight/dashboard_hot_box.html' %}
            </div>
            {% endcomment %}
        </div>
    </section>
</div>
