{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="box box-custom box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-clock-o"></i>Recently Added Campaigns</h3>

        <div class="box-tools pull-right">
            <div class="tool checkbox">
                <label for="ra_active_only_checkbox">
                    <input type="checkbox" id="ra_active_only_checkbox"> Active Only
                </label>
            </div>
            <button type="button" id="ra_reload_link" class="btn btn-box-tool"
                    data-toggle="tooltip" title="Refresh">
                <i class="fa fa-refresh"></i></button>
            <a href="{% url 'teeinsight_campaigns' %}?order_by=added_at&asc_desc=desc&page=1&items_per_page=25"
               class="btn btn-box-tool">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="box-body" id="recently_wrapper">
        {% include 'teeinsight/dashboard/dashboard_recently_wrapper.html' %}
    </div>
</div>
