{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<!-- The time line -->
<ul class="timeline timeline-custom">
    {% for campaign in highest %}
        <li id="{{ campaign.id }}">
            <span class="mid-ico timeline-mask" data-toggle="tooltip" title="{{ campaign.site|title }}">
                {% if campaign.site.icon %}
                    <img src="{{ campaign.site.icon }}" class="img-responsive"
                         alt="{{ campaign.site|title }}" title="{{ campaign.site|title }}">
                {% else %}
                    <img src="{{ STATIC_PREFIX }}images/{{ campaign.site|lower }}.png" class="img-responsive"
                         site-slug="{{ campaign.site.slug }}"
                         alt="{{ campaign.site|title }}" title="{{ campaign.site|title }}">
                {% endif %}
            </span>

            <div class="timeline-item">
                <span class="time">
                    {% if is_today %}
                        {{ campaign.sales_now|none_if|default_if_none:'-'|intcomma }}
                    {% else %}
                        {{ campaign.total_sales|none_if|default_if_none:'-'|intcomma }}
                    {% endif %}
                </span>
                <a class="timeline-thumb"
                   href="{% url 'teeinsight_campaign_slug' campaign.slug %}">
                    {% if campaign.front_image %}
                        <img src="{{ campaign.front_image }}"
                             class="img-responsive pull-left lazy">
                    {% else %}
                        <img src="{% static 'images/no_picture.png' %}"
                             class="img-responsive pull-left lazy">
                    {% endif %}
                </a>

                <h3 class="timeline-header">
                    <a href="{% url 'teeinsight_campaign_slug' campaign.slug %}">
                        {{ campaign.title|title }}
                    </a>
                </h3>

                <div class="timeline-body" title="{{ campaign.get_status_display|title }}">
                    {{ campaign.get_status_display|camp_udf|title }}
                </div>
            </div>
        </li>
    {% empty %}
        <li>
            <i class="fa fa-exclamation bg-purple"></i>

            <div class="timeline-item">
                <h3 class="timeline-header"><a href="#">Sorry</a>, no campaign in this list.</h3>
            </div>
        </li>
    {% endfor %}
</ul>
