{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="box box-custom box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-bookmark"></i>Highest Selling Campaigns</h3>

        <div class="box-tools pull-right">
            <div class="tool checkbox">
                <label for="hs_today_checkbox">
                    <input type="checkbox" id="hs_today_checkbox"> Today
                </label>
            </div>
            <button type="button" id="hs_reload_link" class="btn btn-box-tool"
                    data-toggle="tooltip" title="Refresh">
                <i class="fa fa-refresh"></i>
            </button>
            <a href="{% url 'teeinsight_campaigns' %}?min_sales=0&order_by=total_sales&asc_desc=desc&page=1&items_per_page=25"
               class="btn btn-box-tool">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="box-body" id="hs_wrapper">
        {% include 'teeinsight/dashboard/dashboard_highest_selling_wrapper.html' %}
    </div>
</div>
