{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="row">
    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.fb_likes|none_if|zero_true and campaign.fb_likes_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.fb_likes_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'fb_likes_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.fb_likes|none_if|zero_true and campaign.fb_likes_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        FB Likes
                    </a>
                </h3>
                <span class="badge {% if campaign.fb_likes|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.fb_likes|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.fb_shares|none_if|zero_true and campaign.fb_shares_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.fb_shares_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'fb_shares_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.fb_shares|none_if|zero_true and campaign.fb_shares_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        FB Shares
                    </a>
                </h3>
                <span class="badge {% if campaign.fb_shares|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.fb_shares|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.fb_comments|none_if|zero_true and campaign.fb_comments_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.fb_comments_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'fb_comments_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.fb_comments|none_if|zero_true and campaign.fb_comments_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        FB Comments
                    </a>
                </h3>
                <span class="badge {% if campaign.fb_comments|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.fb_comments|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.twitter_tweets|none_if|zero_true and campaign.twitter_tweets_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.twitter_tweets_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'twitter_tweets_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.twitter_tweets|none_if|zero_true and campaign.twitter_tweets_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        Twitter Tweets
                    </a>
                </h3>
                <span class="badge {% if campaign.twitter_tweets|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.twitter_tweets|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.google_pluses|none_if|zero_true and campaign.google_pluses_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.google_pluses_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'google_pluses_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.google_pluses|none_if|zero_true and campaign.google_pluses_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        Google Pluses
                    </a>
                </h3>
                <span class="badge {% if campaign.google_pluses|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.google_pluses|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.pinterest_pins|none_if|zero_true and campaign.pinterest_pins_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.pinterest_pins_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'pinterest_pins_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.pinterest_pins|none_if|zero_true and campaign.pinterest_pins_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        Pinterest Pins
                    </a>
                </h3>
                <span class="badge {% if campaign.pinterest_pins|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.pinterest_pins|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.linkedin_shares|none_if|zero_true and campaign.linkedin_shares_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.linkedin_shares_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'linkedin_shares_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.linkedin_shares|none_if|zero_true and campaign.linkedin_shares_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        LinkedIn Shares
                    </a>
                </h3>
                <span class="badge {% if campaign.linkedin_shares|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.linkedin_shares|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-default text-primary
            {% if campaign.stumbleupon_stumbles|none_if|zero_true and campaign.stumbleupon_stumbles_hist.count > 1 %}draw_chart{% endif %}"
             data-values="{{ campaign.stumbleupon_stumbles_hist }}"
             data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'stumbleupon_stumbles_hist' %}">
            <div class="box-body">
                <div class="sparkline icon-bg"></div>
                <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

                <h3>
                    <a href="" role="button"
                       data-load-remote=""
                       data-remote-target="#chart_modal #chart_here"
                       data-toggle="{% if campaign.stumbleupon_stumbles|none_if|zero_true and campaign.stumbleupon_stumbles_hist.count > 1 %}modal{% endif %}"
                       data-target="#chart_modal">
                        StumbleUpon
                    </a>
                </h3>
                <span class="badge {% if campaign.stumbleupon_stumbles|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">{{ campaign.stumbleupon_stumbles|none_if|default_if_none:'-'|intcomma }}</span>
            </div>
        </div>
    </div>
</div>
