{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="col-md-12">
    <div class="box box-solid">
        <div class="box-body border-radius-none">
            {#<div class="chart" id="line-chart-morris" style="height: 250px; width: 100%;"></div>#}

            <div class="clear"></div>

            <div class="chart">
                <canvas id="line-chart-chartjs" style="height:250px"></canvas>
            </div>

            <div class="clear"></div>

            <div class="ion-slider">
                <input type="text" id="time_slider" name="time_slider" value=""/>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
