{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-custom-campaign box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 campaign-img">
                            {% if campaign.front_image %}
                                <a href="{{ campaign.front_image }}" target="_blank" id="img-preview" data-lighter>
                                    <img class="img-responsive" src="{{ campaign.front_image }}"
                                         onError="imgError(this);">
                                </a>
                            {% else %}
                                <a href="{% static 'images/no_picture.png' %}" target="_blank" id="img-preview">
                                    <img class="img-responsive" src="{% static 'images/no_picture.png' %}">
                                </a>
                            {% endif %}

                            <div class="campaign-img-collect">
                                {% if campaign.front_image %}
                                    <a href="{{ campaign.front_image }}" target="_blank" img-preview data-lighter>
                                        <img class="img-responsive" src="{{ campaign.front_image }}"
                                             onError="imgError(this);">
                                    </a>
                                {% else %}
                                    <a href="{% static 'images/no_picture.png' %}" target="_blank">
                                        <img class="img-responsive" src="{% static 'images/no_picture.png' %}">
                                    </a>
                                {% endif %}

                                {% if campaign.back_image %}
                                    <a href="{{ campaign.back_image }}" target="_blank" img-preview data-lighter>
                                        <img class="img-responsive" src="{{ campaign.back_image }}"
                                             onError="imgError(this);">
                                    </a>
                                {% else %}
                                    <a href="{% static 'images/no_picture.png' %}" target="_blank">
                                        <img class="img-responsive" src="{% static 'images/no_picture.png' %}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8 campaign-info">
                            <h1 class="campaign-title" title="[{{ campaign.id }}]{{ campaign.title|title }}">
                                {{ campaign.title|title }}
                                <small>{{ campaign.site|title }} Campaign</small>
                            </h1>
                            <div class="campaign-description">{{ campaign.description|default_if_none:'No description'|safe }}</div>

                            <h2 class="campaign-price">${{ campaign.front_price|floatformat:2|intcomma }}</h2>

                            <h2 class="campaign-status" title="{{ campaign.get_status_display|title }}">
                                {{ campaign.get_status_display|camp_udf|title }}
                            </h2>

                            <div class="campaign-represent">
                                <a href="{{ campaign.campaign_link|url_validator|default_if_none:'#' }}" target="_blank"
                                   class="btn btn-lg btn-success btn-block">
                                    <h2>View at {{ campaign.site|title|default_if_none:"Site" }}</h2>
                                </a>
                            </div>

                            {% include 'teeinsight/campaign/campaign_metrics_wrapper.html' %}

                        </div>

                        <div class="clear"></div>

                        <div class="col-xs-12">
                            <div class="modal fade" id="chart_modal" tabindex="-1" role="dialog"
                                 aria-labelledby="chart_modal_label">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="chart_modal_title">Charts</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" id="chart_here">
                                                {% include 'teeinsight/campaign/campaign_chart_wrapper.html' %}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
