{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="row">
<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_now|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_now|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Current
                </a>
            </h3>
            <span class="badge {% if campaign.sales_now|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_now|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_total|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_total|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Lifetime
                </a>
            </h3>
            <span class="badge {% if campaign.sales_total|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_total|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_6_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_6_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 6 Hours
                </a>
            </h3>
            <span class="badge {% if campaign.sales_6_hours|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_6_hours|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_12_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_12_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 12 Hours
                </a>
            </h3>
            <span class="badge {% if campaign.sales_12_hours|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_12_hours|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_24_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_24_hours|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 24 Hours
                </a>
            </h3>
            <span class="badge {% if campaign.sales_24_hours|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_24_hours|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_3_days|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_3_days|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 3 Days
                </a>
            </h3>
            <span class="badge {% if campaign.sales_3_days|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_3_days|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_7_days|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_7_days|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 7 Days
                </a>
            </h3>
            <span class="badge {% if campaign.sales_7_days|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_7_days|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_14_days|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_14_days|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 14 Days
                </a>
            </h3>
            <span class="badge {% if campaign.sales_14_days|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_14_days|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-default text-primary
            {% if campaign.sales_30_days|none_if|zero_true and campaign.sales_hist.count > 1 %}draw_chart{% endif %}"
         data-values="{{ campaign.sales_hist }}"
         data-apiurl="{% url 'teeinsight_campaign_slug_history' campaign.slug 'sales_hist' %}">
        <div class="box-body">
            <div class="sparkline icon-bg"></div>
            <i class="fa fa-bar-chart-o fa-3x icon-bg"></i>

            <h3>
                <a href="" role="button"
                   data-load-remote=""
                   data-remote-target="#chart_modal #chart_here"
                   data-toggle="{% if campaign.sales_30_days|none_if|zero_true and campaign.sales_hist.count > 1 %}modal{% endif %}"
                   data-target="#chart_modal">
                    Last 30 Days
                </a>
            </h3>
            <span class="badge {% if campaign.sales_30_days|none_if|zero_true %}bg-green{% else %}bg-yellow{% endif %}">
                {{ campaign.sales_30_days|none_if|default_if_none:'-'|intcomma }}
            </span>
        </div>
    </div>
</div>
</div>
