{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="nav-tabs-custom campaign-tabs" camp_slug="{{ campaign.slug }}">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_all" data-toggle="tab">Metrics</a></li>
        {% comment %}
        <li><a href="#tab_1" data-toggle="tab">Sales Metrics</a></li>
        <li><a href="#tab_2" data-toggle="tab">Social Metrics</a></li>
        {% endcomment %}
    </ul>

    <div class="tab-content tab-metrics">
        <div class="tab-pane active" id="tab_all">
            {#{% include 'teeinsight/campaign_metrics_need_wrapper.html' %}#}
        </div>

        {% comment %}
        <div class="tab-pane" id="tab_1">
        {% include 'teeinsight/campaign_metrics_sales_wrapper.html' %}
        </div>

        <div class="tab-pane" id="tab_2">
        {% include 'teeinsight/campaign_metrics_social_wrapper.html' %}
        </div>
        {% endcomment %}
    </div>
</div>
