{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block wrapper %}
    <div class="login-box">
        <div class="login-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="login-box-body">
            <p>{{ message|default:'To send us a message fill out the below form.' }}</p>

            <form id="login-form" method="post" action=".">
                {% csrf_token %}

                <div class="form-group has-feedback {% if form.subject.errors %}has-error{% endif %}">
                    <input id="id_subject" name="subject" type="text"
                           placeholder="Subject" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.subject.help_text|safe }}">
                </div>
                <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                    <input id="id_email" name="email" type="email"
                           placeholder="Email" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.email.help_text|safe }}">
                </div>
                <div class="form-group has-feedback {% if form.message.errors %}has-error{% endif %}">
                    <textarea id="id_message" name="message" cols="40" rows="10"
                              placeholder="Message" class="form-control"
                              data-toggle="tooltip" data-placement="right"
                              title="{{ form.message.help_text|safe }}"></textarea>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Send Message' %}
                        </button>
                    </div>
                </div>
            </form>
            <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}"
               class="text-center">I already have a membership</a><br>
            <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
        </div>
    </div>
{% endblock %}
