{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block plugin-css-after %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}

{% block wrapper %}
    <div class="login-box">
        <div class="login-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form id="login-form" method="post" action=".">
                {% csrf_token %}

                {% for error in form.username.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
                    <input id="id_username" name="username" type="text"
                           maxlength="254" placeholder="Username" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.username.help_text|safe }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                {% comment %}
                <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                    <input id="id_email" name="email" type="email"
                           placeholder="Email" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.email.help_text|safe }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {% endcomment %}
                {% for error in form.password.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.password.errors %}has-error{% endif %}">
                    <input id="id_password" name="password" type="password"
                           placeholder="Password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.password.help_text|safe }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    {% comment %}
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input id="id_remember" name="remember" type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    {% endcomment %}
                    <div class="col-xs-12">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Sign In' %}
                        </button>
                    </div>
                </div>
            </form>
            {% comment %}
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i>
                    Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i>
                    Sign in using Google+
                </a>
            </div>
            {% endcomment %}
            <a href="{% url 'password_reset' %}">I forgot my password</a><br>
            <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
        </div>
    </div>
{% endblock %}

{% block plugin-js %}
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
{% endblock %}
