{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            {% if validlink %}
                <p class="login-box-msg">Please enter your new password twice so we can verify you typed it in
                    correctly.</p>

                <form id="password-confirm-form" action="" method="post">
                    {% csrf_token %}

                    <div class="form-group has-feedback {% if form.new_password1.errors %}has-error{% endif %}">
                        <input id="id_new_password1" name="new_password1" type="password"
                               placeholder="New password" class="form-control"
                               data-toggle="tooltip" data-placement="right"
                               title="{{ form.new_password1.help_text|safe }}">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback {% if form.new_password2.errors %}has-error{% endif %}">
                        <input id="id_new_password2" name="new_password2" type="password"
                               placeholder="Confirm new password" class="form-control"
                               data-toggle="tooltip" data-placement="right"
                               title="{{ form.new_password2.help_text|safe }}">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                {% trans 'Change Password' %}
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="login-box-msg">The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
