{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">
                <b>We've emailed you instructions for setting your password to the email address you submitted.
                    You should be receiving it shortly.</b></p>
        </div>
    </div>
{% endblock %}
