{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">To reset your password, enter your email address below,
                and you'll receive an email with a link to set a new one.</p>

            <form id="password-confirm-form" action="" method="post">
                {% csrf_token %}

                <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                    <input id="id_email" name="email" type="email"
                           placeholder="Email" class="form-control"
                           data-toggle="tooltip" data-placement="right"
                           title="{{ form.email.help_text|safe }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Reset Password' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
