{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg"><b>Your password has been set.</b></p>

            <p class="login-box-msg">
                <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}"
                   class="text-center">You may log in now</a>
            </p>
        </div>
    </div>
{% endblock %}
