{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block plugin-css-after %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Please enter your old password, for security's sake,
                and then enter your new password twice so we can verify you typed it in correctly.</p>
            {% if form.errors %}
                <p class="login-box-msg">Please correct the error or errors below.</p>
            {% endif %}

            <form id="password-change-form" method="post" action=".">
                {% csrf_token %}

                <div class="form-group has-feedback {% if form.old_password.errors %}has-error{% endif %}">
                    <input id="id_old_password" name="old_password" type="password"
                           placeholder="Old password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.old_password.help_text|safe }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback {% if form.new_password1.errors %}has-error{% endif %}">
                    <input id="id_new_password1" name="new_password1" type="password"
                           placeholder="New password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.new_password1.help_text|safe }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback {% if form.new_password2.errors %}has-error{% endif %}">
                    <input id="id_new_password2" name="new_password2" type="password"
                           placeholder="Retype new password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.new_password2.help_text|safe }}">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Change My Password' %}
                        </button>
                    </div>
                </div>
                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </form>
        </div>
    </div>
{% endblock %}

{% block plugin-js %}
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
{% endblock %}
