{% extends 'authentication.html' %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block plugin-css-after %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}

{% block wrapper %}
    <div class="register-box">
        <div class="register-logo center-logo">
            <a href="{% url 'home' %}" class="logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">{{ message|default:'Register a new membership' }}</p>

            <form id="register-form" method="post" action=".">
                {% csrf_token %}

                {% for error in form.username.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
                    <input id="id_username" name="username" type="text"
                           maxlength="254" placeholder="Username" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.username.help_text|safe }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                {% for error in form.first_name.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.first_name.errors %}has-error{% endif %}">
                    <input id="id_first_name" name="first_name" type="text"
                           placeholder="First name" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.first_name.help_text|safe }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                {% for error in form.last_name.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.last_name.errors %}has-error{% endif %}">
                    <input id="id_last_name" name="last_name" type="text"
                           placeholder="Last name" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.last_name.help_text|safe }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                {% for error in form.email.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
                    <input id="id_email" name="email" type="email"
                           placeholder="Email" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.email.help_text|safe }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {% for error in form.password1.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.password1.errors %}has-error{% endif %}">
                    <input id="id_password1" name="password1" type="password"
                           placeholder="Password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.password1.help_text|safe }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                {% for error in form.password2.errors %}
                    <span class="err-text">{{ error }}</span><br/>
                {% endfor %}
                <div class="form-group has-feedback {% if form.password2.errors %}has-error{% endif %}">
                    <input id="id_password2" name="password2" type="password"
                           placeholder="Retype password" class="form-control"
                           data-toggle="tooltip" data-placement="right" title="{{ form.password2.help_text|safe }}">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input id="id_apply" name="apply" type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            {% trans 'Register' %}
                        </button>
                    </div>
                </div>
            </form>
            {% comment %}
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i>
                    Sign up using Google+
                </a>
            </div>
            {% endcomment %}
            <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}"
               class="text-center">I already have a membership</a>
        </div>
    </div>
{% endblock %}

{% block plugin-js %}
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
{% endblock %}
