{% load staticfiles %}
{% load filters %}

<div class="cp-terms">
    <h3 class="title">Bạn muốn tăng thời gian trial lên 10 ngày?</h3>

    <p class="">Chúc mừng bạn! Bạn vừa quyết định tham gia chương trình hỗ trợ nâng cao của chúng tôi đối với việc dùng
        thử sản
        phẩm. Việc tham gia này rất đơn giản, tuy nhiên, các bạn vui lòng đọc thật kỹ phần <i>yêu cầu và chính sách</i>
        của
        chương trình bên dưới để có thể tham gia thành công.</p>
    <ul class="">
        <li>
            <span class="num">1</span>Chương trình chỉ có hiệu lực đăng ký từ ngày 1 tháng 12 năm 2016 đến ngày 31 tháng
            12 năm 2016.
        </li>
        <li>
            <span class="num">2</span>Bạn cần phải like facebook fanpage của teeinsight.
        </li>
        <li>
            <span class="num">3</span>Bạn cần phải điền facebook id của bạn và bấm share website của teeinsight lên
            facebook timeline này của bạn ở chế độ public. Trong đó,
            bạn gõ thêm vào <strong>@teeinsight</strong> để chúng tôi có thể biết bạn đã tham gia. Ngoài ra, bạn
            cần đảm bảo hashtag của chúng tôi <i class="blue">#catalystprogram</i> nằm trong post khi share.
            Lưu ý, chỉ khi nào bạn like fanpage của teeinsight trước thì bạn gõ
            thêm vào <strong>@teeinsight</strong> mới có hiệu lực.
        </li>
        <li>
            <span class="num">4</span>Mỗi một người tham gia (user) chỉ được phép đăng ký một tài khoản trial trong
            chương trình này.
        </li>
        <li>
            <span class="num">5</span>Quá trình review của teeinsight support team sẽ kéo dài 3 ngày để đảm bảo rằng bạn
            đã đạt yêu cầu tham
            gia chương trình. Trong suốt thời gian này, chúng tôi sẽ check để đảm bảo mọi thực thi yêu cầu vẫn hiện hữu
            và hợp lệ.
        </li>
        <li>
            <span class="num">6</span>Tài khoản facebook của bạn cần phải là tài khoản active, sử dụng thường xuyên và
            có ít nhất 100 friends.
        </li>
        <li>
            <span class="num">7</span>Các chính sách khác khi sử dụng tool vẫn giữ như cũ.
        </li>
        <li>
            <span class="num">8</span>Cuối cùng, teeinsight support team sẽ review trong vòng 3 ngày và nếu có bất cứ
            yêu cầu nào bên trên
            không đạt thì chúng tôi rất làm tiếc là bạn tham gia không thành công chương trình hỗ trợ nâng cao của chúng
            tôi.
        </li>
    </ul>
    <div class="contact">
        <p>Vui lòng liên lạc trực tiếp với chúng tôi tại
            <a class="blue" href="https://www.facebook.com/teeinsight" target="_blank">fanpage TeeInsight</a>.</p>

        <div class="fb-like" data-href="https://www.facebook.com/teeinsight"
             data-layout="button_count" data-action="like" data-size="small"
             data-show-faces="false" data-share="false"></div>
    </div>

    <div class="form-group animated" id="fb_id">
        <label for="id_fbid" class="control-label">
            Facebook Profile ID:
        </label>

        <div class="input_field">
            <input type="text" name="id_fbid" id="id_fbid"
                   placeholder="https://fb.com/<your_facebook_id>"
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
        </div>

        <div id="cp_share_btn" class="share_btn animated">
            <a href="javascript:void(0)" role="button" onclick="shareAutoupload();" title="Thanks for join Catalyst Program Enrollment!" class="btn cp-share-btn">Share our page</a>
        </div>
    </div>

    <p class="tks">Cám ơn bạn đã tham gia chương trình!</p>
</div>