{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="reason" class="col-md-12">
        <div class="content detail-reason">
            <h1 class="text-center contact-blue delay_load">Lý do cho sự ra đời của sản phẩm</h1>

            <div class="reason-thumb delay_zoom" style="animation-delay: 0.25s;">
                <img src="{% static 'images/web_teeinsight/lines.png' %}"
                     class="img-responsive delay_load" style="animation-delay: 0.5s;">
                <img src="{% static 'images/web_teeinsight/tshirt_null.png' %}"
                     class="img-responsive abs delay_load" style="animation-delay: 0.75s;">
                <img src="{% static 'images/web_teeinsight/tshirt.png' %}"
                     class="img-responsive abs delay_load" style="animation-delay: 4.25s;">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="reason-note delay_load" style="animation-delay: 1.25s;">Trên hết, chúng tôi hiểu và chia
                        sẻ những khó khăn với cộng đồng các tee sellers trong việc triển khai các tổ hợp campaign cùng
                        một lúc cũng như những nhu cầu thực tế về cách thức hiệu quả để có thể đánh dấu các campaign kịp
                        lúc trên các platform, làm cơ sở cho báo cáo việc bắt chước. Do đó,
                        <strong>Auto Upload <a href="javascript:void(0)" class="contact-blue">@teeinsight</a> được ra
                            đời để cho phép tất cả các tee sellers có thể thoải mái với cấp bậc mới về việc tạo campaign
                            này.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
