{% load staticfiles %}
{% load filters %}

<div class="relative">
    <div class="intro-bg winheight"
         data-0="position:fixed;"
         data-354="position:absolute; bottom: 0;"></div>
    <div id="intro" class="col-md-12">
        <div class="content detail-intro">
            <div class="row">
                <div class="col-md-10 col-xs-offset-1">
                    <h1 class="text-center delay_load">
                        <span class="contact-blue">teeinsight</span> - Auto Upload Catalyst Product
                    </h1>
                    <hr class="cl-hr delay_load" style="animation-delay: 0.1s;"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="intro-note delay_load" style="animation-delay: 0.25s;">
                        Auto Upload @teeinsight là sản phẩm bổ trợ đầu tiên của dự án teeinsight và được hỗ trợ phát
                        triển từ Công Ty iTracker – một công ty chuyên về nghiên cứu dữ liệu internet độc lập dựa trên
                        nền tảng công nghệ.<br/>
                        Công cụ này cho phép người dùng có thể <strong>linh động tải một cách tự động tất cả các thiết
                        kế của mình lên những nền tảng website bán áo với đơn giản chỉ một cú click.</strong></p>

                    <div class="clear text-center">
                        <img src="{% static 'images/web_teeinsight/click_point.png' %}"
                             class="img-responsive click-point delay_load" style="animation-delay: 0.5s;">
                        <img src="{% static 'images/web_teeinsight/mac_2.png' %}"
                             class="img-responsive delay_load" style="animation-delay: 0.75s;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>