{% load staticfiles %}
{% load filters %}

<div class="row">
    <div class="bg-e8">
        <div id="benefits" class="col-md-12">
            <div class="content detail-benefits">
                <h1 class="text-center contact-blue delay_load">Các lợi ích đạt được khi sử dụng sản phẩm</h1>

                <div class="row panels-benefit delay_load" style="animation-delay: 0.5s;">
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 1s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 1.25s; animation-duration: 0.3s;">
                                <a class="pill pill-1" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 1.5s; animation-duration: 0.3s;">
                                <strong>Tiết kiệm rất nhiều thời gian và công sức</strong>, điều này cho phép đầu óc của
                                bạn thảnh thơi hơn để tập trung vào những phần khác như thiết kế và quản lý chạy quảng
                                cáo cho các campaign của mình.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 2s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 2.25s; animation-duration: 0.3s;">
                                <a class="pill pill-2" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 2.5s; animation-duration: 0.3s;">
                                <strong>Cho phép tự động tải lên hàng loạt các campaign</strong>, điều này sẽ làm đơn
                                giản hóa nỗ lực của các bạn trong quá trình tạo campaign.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 3s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 3.25s; animation-duration: 0.3s;">
                                <a class="pill pill-3" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 3.5s; animation-duration: 0.3s;">
                                <strong>Chỉ với những thiết kế gốc nhưng lại cho phép tải lên hàng loạt trên những nền
                                    tảng khác nhau</strong>, nghĩa là bạn có nhiều không gian hơn cho việc tạo sự có mặt
                                đúng lúc cho các chiến dịch của mình và do đó sẽ có cơ hội phát triển kinh doanh tốt
                                hơn.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 4s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 4.25s; animation-duration: 0.3s;">
                                <a class="pill pill-4" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 4.5s; animation-duration: 0.3s;">
                                <strong>Hỗ trợ mạnh việc quản lý các mẫu thiết kế</strong>, tức là sẽ giúp tổ chức các
                                mẫu thiết kế dễ dàng bằng cách thực hiện các cấu hình cần thiết, đơn giản.
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row panels-benefit">
                        <div class="col-md-9 benefit-3-panel">
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 5s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 5.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-5" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 5.5s; animation-duration: 0.3s;">
                                        <strong>Đạt được lợi thế về tốc độ tạo campaign cũng như nâng cao số lượng
                                            campaign.</strong> Điểm này hoàn toàn là một trong những lợi thể cạnh tranh
                                        để có thể đạt được thành công của chiến dịch.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 6s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 6.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-6" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 6.5s; animation-duration: 0.3s;">
                                        <strong>Đơn giản</strong> và <strong>dễ sử dụng</strong>.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 7s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 7.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-7" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 7.5s; animation-duration: 0.3s;">
                                        <strong>Linh động</strong> và <strong>có khả năng mở rộng tốt</strong>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
