{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="pricing" class="col-md-12">
        <div class="content detail-packs">
            <h1 class="text-center uppercase delay_load">Giá cho dịch vụ sử dụng sản phẩm</h1>

            <div class="row plan-packs">
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_0_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Trial</h1>
                            <span></span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">Sản phẩm của chúng tôi đơn giản, dễ sử dụng và trong trường hợp
                                bạn muốn dùng thử thì bạn hoàn toàn có thể trải nghiệm sản phẩm trong <strong>3
                                    ngày</strong>.</p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>Miễn Phí</span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('trial', event);"
                               type="submit" target="_self">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_05_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Lite</h1>
                            <span></span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">
                                <strong>Bạn có thể chọn một hoặc nhiều platforms</strong> trong 4 platforms hiện hành
                                như Sunfrog, Teespring, Teechip, Viralstyle để sử dụng.<br/>
                                Trong trường hợp bạn mua nhiều hơn 2 platforms thì bạn vui lòng sử dụng gói ưu đãi
                                (Bundle).
                            </p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>$19<small> /platform/tháng.</small></span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('lite', event);"
                               type="submit" target="_self">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_1_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Bundle</h1>
                            <span>(Giá Đặc Biệt)</span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">Đây là giá ưu đãi khi bạn sử dụng 3 hoặc 4 platforms cần dùng
                                theo nhu cầu của bạn. Gọi này sẽ giúp bạn tiết kiệm chi phí hơn.</p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>$49<small> /3 platforms/tháng</small></span>
                                <span>$59<small> /4 platforms/tháng</small></span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('bundle', event);"
                               type="submit" target="_self">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-4 col-md-8 contact delay_load" style="animation-delay: 0.75s;">
                    <p class="">
                        Nếu có bất cứ yêu cầu nào vui lòng gửi email cho chúng tôi đến địa chỉ
                        <a class="contact-blue" href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
