{% load staticfiles %}
{% load filters %}
<div class="wrapper"
     data-0="padding-top: 0;">
    {#    <div class="row">#}
    <div class="wrapper-content detail-content">
        {% include 'autoupload/vi/detail_content_reason.html' %}

        {% include 'autoupload/vi/detail_content_benefits.html' %}

        {% include 'autoupload/vi/detail_content_packs.html' %}
    </div>
    {#    </div>#}

    <div class="clear"></div>
</div>
