{% load staticfiles %}
<header class="main-header" id="main-header">
    <nav class="navbar navbar-static-top navbar-autoupload">
        <div class="navbar-header">
            <a href="{% url 'autoupload' %}" class="navbar-brand logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive animated"/>
            </a>
        </div>

        <div class="navbar-custom-menu animated">
            <ul class="nav navbar-nav">
                <li class="sheen animated infinite">
                    <a href="{% url 'autoupload_en' %}" class="tada animated infinite">
                        <img src="{% static 'images/web_teeinsight/lang.png' %}" class="img-responsive" width="24">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
