{% load staticfiles %}
{% load filters %}
<div class="modal fade payment-modal" id="payment_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog animated" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h1 class="text-center modal-title contact-red strong">
                    <span class="contact-blue">Chân Thành Cám Ơn Quý Khách Hàng</span>
                    Đã Đăng Ký Sử Dụng Dịch Vụ Của Chúng Tôi!
                </h1>
            </div>
            <div class="modal-body not-free">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-payment">
                            <div class="row">
                                <div class="col-md-12 strong total-pricing">
                                    <p class="text-center">
                                        Tổng Số Tiền Đăng Ký Dịch Vụ Mà Bạn Phải Thanh Toán Là <br/>
                                        <big>US$ <big class="contact-red"><span id="usd_sum">0.00</span></big> or <big
                                                class="contact-red"><span id="vnd_sum">0.00</span></big> VND</big>
                                    </p>
                                    <hr class="cl-hr"/>
                                </div>
                                <p class="col-md-12 uppercase strong">
                                    Xin Vui Lòng Thanh Toán Cho Chúng Tôi Qua Cổng Thanh Toán Như Sau:
                                </p>

                                <div class="col-xs-offset-2 col-md-10 po strong">
                                    <span class="uppercase">Chuyển Từ Tài Khoản Payoneer (PO) Của Bạn Đến Tài Khoản PO Của Chúng Tôi Là:</span><br/>
                                    <a class="contact-red"
                                       href="mailto:dorichard80@gmail.com">dorichard80@gmail.com</a>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 strong"
                                     style="margin-bottom: 10px;">
                                    <span class="uppercase">- Hoặc -</span><br/>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 bank-account strong">
                                    <span class="uppercase">Chuyển Đến Tài Khoản Vietcombank (VCB) Của Chúng Tôi:</span><br/>
                                    <span class="acc-li">Chủ Tài Khoản:</span> Mai Chi Cong<br/>
                                    <span class="acc-li">Số Tài Khoản:</span>0071000637739<br/>
                                    <span class="acc-li">Chi Nhánh:</span> Ho Chi Minh.<br/>
                                </div>
                                {% if user.is_superuser %}
                                    <div class="col-xs-offset-2 col-md-10 strong"
                                         style="margin-bottom: 10px;">
                                        <span class="uppercase">- Hoặc -</span><br/>
                                    </div>
                                    <div class="col-xs-offset-2 col-md-10 paypal-account strong">
                                        <a href="{% url 'samples' %}" target="_blank">
                                            <span class="uppercase">Paypal Test</span>
                                        </a><br/>
                                    </div>
                                {% endif %}
                                <div class="col-xs-offset-2 col-md-10">
                                    <small><strong>Lưu Ý Quan Trọng:</strong> Cú Pháp Nội Dung Thanh Toán Để Chúng Tôi
                                        Nhận Ra Bạn:<br/>
                                        “
                                        <mark>Tên_Của_Bạn</mark>
                                        <mark>Một_Email_Đại_Diện</mark>
                                        <mark>Nền_Tảng_Chọn_Mua (ts, tc, sf, vs)</mark>
                                        <mark>Số_Lượng_License</mark>
                                        ”
                                        <br/>
                                        *Ngay Khi Nhận Được Thanh Toán, Chúng Tôi Sẽ Gửi Những Tài Khoản Sử Dụng Dịch Vụ
                                        Đến Email Đã Đăng Ký Của Bạn. Bạn Có Thể Sử Dụng Ngay Khi Nhận Được Email Và
                                        Chúng Tôi Chỉ Tính Thời Gian Bắt Đầu Sử Dụng Dịch Vụ Vào Ngày Sau Đó.
                                    </small>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 strong reach-out"
                                     style="margin-bottom: 10px;">
                                    <hr class="cl-hr"/>
                                    <div class="facebook-row">
                                        <div class="fb-like" data-href="https://www.facebook.com/teeinsight"
                                             data-layout="button_count" data-action="like" data-size="small"
                                             data-show-faces="false" data-share="false"></div>
                                        <span class="">
                                            Vui lòng bấm "like"
                                            <a class="contact-blue" href="https://www.facebook.com/teeinsight">
                                                fanpage</a>
                                            của trang facebook chúng tôi ở đây để bạn có thể có được những thông tin
                                            cập nhật nhanh nhất từ chúng tôi, cũng như chúng tôi có thể trao đổi
                                            và lắng nghe nhiều hơn từ bạn. Xin cảm ơn!</span>
                                    </div>
                                    <div class="contact-row">
                                        <span class="">Nếu Bạn Có Bất Cứ Thắc Mắc Gì, Bạn Có Thể Liên Lạc Với Chúng Tôi Tại
                                            <a class="contact-blue"
                                               href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a> Hoặc Gọi Cho Chúng Tôi Tại
                                            <a class="contact-blue" href="tel:+840989967201">(+84) 989 967
                                                201</a></span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
