{% load staticfiles %}
{% load filters %}

<div class="cp-terms">
    <h3 class="title">Increase Trial Period to <span class="blue">10 days</span>?</h3>

    <p class="">Congratulations! You have decided to join our catalyst program for trial accounts. It’s very simple but
        please
        kindly read the program <i>description & policies</i> carefully in order to be qualified and get more time for
        your
        trial account.</p>
    <ul class="">
        <li>
            <span class="num">1</span>The program will last for one month, from 01-Dec-2016 to 31-Dec-2016.
        </li>
        <li>
            <span class="num">2</span>You will have to like our facebook fanpage.
        </li>
        <li>
            <span class="num">3</span>You will have to input your facebook profile id and share our website on
            that facebook account timeline at public mode which tags our TeeInsight fanpage and keep hashtag
            <i class="blue">#catalystprogram</i> for us to
            review. Note that you’d need to like our facebook fanpage first to be able to address our page in your
            timeline sharing.
        </li>
        <li>
            <span class="num">4</span>Each participant (user) will enroll for only 1 tool trial account in this program.
        </li>
        <li>
            <span class="num">5</span>The review will be pending for 3 days to make sure that you are qualified for the
            program. During this
            time, we will check to make sure that all are followed and present.
        </li>
        <li>
            <span class="num">6</span>Your registered facebook account must be regular, active and have at least 100
            friends.
        </li>
        <li>
            <span class="num">7</span>Other policies on using tool account will be kept the same.
        </li>
        <li>
            <span class="num">8</span>Last but not least, you will be approved for the program if you fail to follow any
            of above
            requirements.
        </li>
    </ul>
    <div class="contact">
        <p>Any concerns, please contact us at
            <a class="blue" href="https://www.facebook.com/teeinsight" target="_blank">fanpage TeeInsight</a>.</p>

        <div class="fb-like" data-href="https://www.facebook.com/teeinsight"
             data-layout="button_count" data-action="like" data-size="small"
             data-show-faces="false" data-share="false"></div>
    </div>

    <div class="form-group animated" id="fb_id">
        <label for="id_fbid" class="control-label">
            Facebook Profile ID:
        </label>

        <div class="input_field">
            <input type="text" name="id_fbid" id="id_fbid"
                   placeholder="https://fb.com/<your_facebook_id>"
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
        </div>

        <div id="cp_share_btn" class="share_btn animated">
            <a href="javascript:void(0)" role="button" onclick="shareAutoupload();" title="Thanks for join Catalyst Program Enrollment!" class="btn cp-share-btn">Share our page</a>
        </div>
    </div>

    <p class="tks">Thanks for joining our program!</p>
</div>