{% load staticfiles %}
{% load filters %}

<div class="row">
    <div class="bg-e8">
        <div id="benefits" class="col-md-12">
            <div class="content detail-benefits">
                <h1 class="text-center contact-blue delay_load">Benefits</h1>

                <div class="row panels-benefit delay_load" style="animation-delay: 0.5s;">
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 1s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 1.25s; animation-duration: 0.3s;">
                                <a class="pill pill-1" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 1.5s; animation-duration: 0.3s;">
                                <strong>Critical Time & Effort-Saving</strong>, which enables your free mind to focus
                                on other stuffs of assets design & campaign ad management.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 2s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 2.25s; animation-duration: 0.3s;">
                                <a class="pill pill-2" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 2.5s; animation-duration: 0.3s;">
                                <strong>Campaign Series Auto Uploading</strong>, which simplifies your effort on
                                campaign creation.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 3s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 3.25s; animation-duration: 0.3s;">
                                <a class="pill pill-3" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 3.5s; animation-duration: 0.3s;">
                                <strong>Multi-Platform Auto Upload from root designs</strong>, which gives you more room
                                for campaign in – time exposure for your business growth opportunities.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 benefit-panel delay_ani" style="animation-delay: 4s;">
                        <div class="panel panel-default">
                            <div class="panel-heading delay_zoom"
                                 style="animation-delay: 4.25s; animation-duration: 0.3s;">
                                <a class="pill pill-4" href="javascript:void(0)"></a>
                            </div>
                            <div class="panel-body delay_load" style="animation-delay: 4.5s; animation-duration: 0.3s;">
                                <strong>Powering the designs management to upload</strong>, which helps easily organize
                                the design assets by doing the simple & necessary settings.
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="row panels-benefit">
                        <div class="col-md-9 benefit-3-panel">
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 5s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 5.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-5" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 5.5s; animation-duration: 0.3s;">
                                        <strong>Enjoying the advantages of campaign creation speed and thus raising the
                                            quantities of campaigns.</strong> This point is one of the competitive
                                        advantages for campaign success.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 6s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 6.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-6" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 6.5s; animation-duration: 0.3s;">
                                        <strong>Simplicity</strong> and <strong>Ease of Use</strong>.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 benefit-panel delay_ani" style="animation-delay: 7s;">
                                <div class="panel panel-default">
                                    <div class="panel-heading delay_zoom"
                                         style="animation-delay: 7.25s; animation-duration: 0.3s;">
                                        <a class="pill pill-7" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="panel-body delay_load"
                                         style="animation-delay: 7.5s; animation-duration: 0.3s;">
                                        <strong>Flexibility</strong> and <strong>Expandability</strong>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
