{% load staticfiles %}
{% load filters %}

<div class="row">
    <div class="bg-e8">
        <div id="benefits" class="col-md-12">
            <div class="content detail-benefits">
                <h1 class="text-center contact-blue delay_load">Benefits</h1>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills text-center">
                            <li class="pill pill-1 active delay_load">
                                <a data-toggle="pill" href="#menu1"></a>
                            </li>
                            <li class="pill pill-2 delay_load" style="animation-delay: 0.25s;">
                                <a data-toggle="pill" href="#menu2"></a>
                            </li>
                            <li class="pill pill-3 delay_load" style="animation-delay: 0.5s;">
                                <a data-toggle="pill" href="#menu3"></a>
                            </li>
                            <li class="pill pill-4 delay_load" style="animation-delay: 0.75s;">
                                <a data-toggle="pill" href="#menu4"></a>
                            </li>
                            <li class="pill pill-5 delay_load" style="animation-delay: 1s;">
                                <a data-toggle="pill" href="#menu5"></a>
                            </li>
                            <li class="pill pill-6 delay_load" style="animation-delay: 1.25s;">
                                <a data-toggle="pill" href="#menu6"></a>
                            </li>
                            <li class="pill pill-7 delay_load" style="animation-delay: 1.5s;">
                                <a data-toggle="pill" href="#menu7"></a>
                            </li>
                        </ul>

                        <div class="tab-content delay_load" style="animation-delay: 1.75s;">
                            <div id="menu1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Critical
                                            Time & Effort-Saving</strong>, which enables your free mind to focus on
                                            other stuffs of assets design & campaign ad management.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Campaign
                                            Series Auto Uploading</strong>, which simplifies your effort on campaign
                                            creation.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Multi-Platform
                                            Auto Upload from root designs</strong>, which gives you more room for
                                            campaign in – time exposure for your business growth opportunities.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Powering
                                            the designs management to upload</strong>, which helps easily organize the
                                            design assets by doing the simple & necessary settings.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu5" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Enjoying
                                            the advantages of campaign creation speed and thus raising the quantities of
                                            campaigns.</strong> This point is one of the competitive advantages for
                                            campaign success.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu6" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Simplicity</strong>
                                            and <strong>Ease of Use</strong>.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="menu7" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-xs-offset-1">
                                        <p class="benefit-note delay_load" style="animation-delay: 0.25s;"><strong>Flexibility</strong>
                                            and <strong>Expandability</strong>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-xs-offset-1">
                                    <img src="{% static 'images/web_teeinsight/screen_mac.png' %}"
                                         class="img-responsive delay_load" style="animation-delay: 0.5s;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
