{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="pricing" class="col-md-12">
        <div class="content detail-packs">
            <h1 class="text-center uppercase delay_load">GET STARTED & PRICING</h1>

            <div class="row plan-packs">
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_0_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Trial</h1>
                            <span></span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">Our product is very simple, easy to use and in case you want to
                                try it first, you are welcome to experience it up to <strong>3 days</strong>.</p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe_en' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('trial', event);"
                               type="submit" target="_self">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_05_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Lite</h1>
                            <span></span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">
                                <strong>You can choose one or more platform(s)</strong> out of 4 as Sunfrog, Teespring,
                                Teechip, Viralstyle to subcribe.<br/>
                                In case you subscribe more than 2 platforms, please use our supportive prices in bundle.
                            </p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>$19<small> /platform/mo.</small></span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe_en' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('lite', event);"
                               type="submit" target="_self">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack delay_load" style="animation-delay: 0.5s;">
                    <span class="plan-icon delay_rotate" style="animation-delay: 0.25s; animation-duration: 2s;">
                        <img src="{% static 'images/web_teeinsight/star_1_y.png' %}"/>
                    </span>

                    <div class="plan-card">
                        <div class="plan-card-header delay_load" style="animation-delay: 0.25s;">
                            <h1 class="header-title">Bundle</h1>
                            <span>(Special Price)</span>
                        </div>
                        <div class="plan-card-body delay_load" style="animation-delay: 0.5s;">
                            <p class="plan-description">This is special price for your 3 selected platforms or total 4
                                platforms for subscription. It will save your cost.</p>
                            <ul class="plan-features">
                            </ul>
                            <div class="plan-price red-price">
                                <span>$49<small> /3 platforms/mo</small></span>
                                <span>$59<small> /4 platforms/mo</small></span>
                            </div>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'autoupload_subscribe_en' %}"
                               class="btn btn-default btn-block button"
                               onclick="subscribe_type_local('bundle', event);"
                               type="submit" target="_self">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-4 col-md-8 contact delay_load" style="animation-delay: 0.75s;">
                    <p class="">Please reach out to us at <a class="contact-blue" href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
