{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="reason" class="col-md-12">
        <div class="content detail-reason">
            <h1 class="text-center contact-blue delay_load">Reason to be</h1>

            <div class="reason-thumb delay_zoom" style="animation-delay: 0.25s;">
                <img src="{% static 'images/web_teeinsight/lines.png' %}"
                     class="img-responsive delay_load" style="animation-delay: 0.5s;">
                <img src="{% static 'images/web_teeinsight/tshirt_null.png' %}"
                     class="img-responsive abs delay_load" style="animation-delay: 0.75s;">
                <img src="{% static 'images/web_teeinsight/tshirt.png' %}"
                     class="img-responsive abs delay_load" style="animation-delay: 4.25s;">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="reason-note delay_load" style="animation-delay: 1.25s;">Above all, we share the
                        difficulties with tee sellers community in deploying the bundle of campaigns at once and the
                        demand for the efficient way to flag up the campaigns in platforms to report copycat.
                        <strong>Auto Upload <a href="javascript:void(0)" class="contact-blue">@teeinsight</a> thereby
                            comes into scene to unleash the possibilities for all sellers to enjoy the comforts of new
                            level in campaign creation.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
