{% load staticfiles %}
<div class="animated right-sidebar ">
    <header class="main-header sidebar-header animated">
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" class="sidebar-toggle" sidebar_toggle role="button">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-3x fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="navbar-custom-menu login-box-res animated">
        <ul class="nav navbar-nav animated">
            <li class="sheen animated infinite">
                <a href="{% url 'autoupload' %}" class="tada animated infinite">
                    <img src="{% static 'images/web_teeinsight/lang.png' %}" class="img-responsive" width="24">
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-body" id="right-bar">
        <ul class="menu-custom">
            <li><a href="#intro">What is Auto Upload?</a></li>
            <li><a href="#reason">Reason to be</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#pricing">Pricing</a></li>
        </ul>
    </div>
    <ul class="menu-social">
        <li><a><i class="fa fa-2x fa-facebook"></i></a></li>
        <li><a><i class="fa fa-2x fa-google-plus"></i></a></li>
        <li><a><i class="fa fa-2x fa-skype"></i></a></li>
        <li><a><i class="fa fa-2x fa-linkedin"></i></a></li>
    </ul>
</div>
