{% load staticfiles %}
{% load filters %}
<div class="modal fade payment-modal" id="payment_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog animated" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h1 class="text-center modal-title contact-red strong">
                    <span class="contact-blue">Thank You</span>
                    For Your Subscription!
                </h1>
            </div>
            <div class="modal-body not-free">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-payment">
                            <div class="row">
                                <div class="col-md-12 strong total-pricing">
                                    <p class="text-center">
                                        Your Total Subscription Amount is <br/>
                                        <big>US$ <big class="contact-red"><span id="usd_sum">0.00</span></big> or <big
                                                class="contact-red"><span id="vnd_sum">0.00</span></big> VND</big>
                                    </p>
                                    <hr class="cl-hr"/>
                                </div>
                                <p class="col-md-12 uppercase strong">
                                    Please make the payment to our Payment Gate as:
                                </p>

                                <div class="col-xs-offset-2 col-md-10 po strong">
                                    <span class="uppercase">By Your Payoneer (PO) Account to our PO:</span><br/>
                                    <a class="contact-red"
                                       href="mailto:dorichard80@gmail.com">dorichard80@gmail.com</a>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 strong"
                                     style="margin-bottom: 10px;">
                                    <span class="uppercase">- or -</span><br/>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 bank-account strong">
                                    <span class="uppercase">To our Vietcombank (VCB) Account:</span><br/>
                                    <span class="acc-li">Account Holder:</span> Mai Chi Cong<br/>
                                    <span class="acc-li">Account No.:</span>0071000637739<br/>
                                    <span class="acc-li">Branch:</span> Ho Chi Minh.<br/>
                                </div>
                                {% if user.is_superuser %}
                                    <div class="col-xs-offset-2 col-md-10 strong"
                                         style="margin-bottom: 10px;">
                                        <span class="uppercase">- or -</span><br/>
                                    </div>
                                    <div class="col-xs-offset-2 col-md-10 paypal-account strong">
                                        <a href="{% url 'samples' %}" target="_blank">
                                            <span class="uppercase">Paypal Test</span>
                                        </a><br/>
                                    </div>
                                {% endif %}
                                <div class="col-xs-offset-2 col-md-10">
                                    <small><strong>Important Note:</strong> Payment Content Syntax to recognize you
                                        when you make the payment to us for subscription:<br/>
                                        “
                                        <mark>Your_Registered_Name</mark>
                                        <mark>One_Representative_Registered_Email</mark>
                                        <mark>Selected_Platforms(ts, tc, sf, vs)</mark>
                                        <mark>No._Of_License</mark>
                                        ”
                                        <br/>
                                        *On Receipt of your payment, we will send the account(s) to your registered
                                        email. You can use the account immediately after receiving activation email
                                        and we will only count your official subscribed day on the next day.
                                    </small>
                                </div>
                                <div class="col-xs-offset-2 col-md-10 strong reach-out"
                                     style="margin-bottom: 10px;">
                                    <hr class="cl-hr"/>
                                    <div class="facebook-row">
                                        <div class="fb-like" data-href="https://www.facebook.com/teeinsight"
                                             data-layout="button_count" data-action="like" data-size="small"
                                             data-show-faces="false" data-share="false"></div>
                                        <span class="">
                                            Please like our
                                            <a class="contact-blue" href="https://www.facebook.com/teeinsight">
                                                facebook fanpage</a>
                                            here for more immediate updates from us and we can talk,
                                            listen more from your feedbacks. Thank you!</span>
                                    </div>
                                    <div class="contact-row">
                                        <span class="">Should you have any queries, you can reach out to us at
                                            <a class="contact-blue"
                                               href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a> or call us at
                                            <a class="contact-blue" href="tel:+840989967201">(+84) 989 967
                                                201</a></span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
