{% extends 'webteeinsight.html' %}
{% load i18n admin_static %}
{% load staticfiles %}
{% load filters %}

{% block body-content %}
    <div class="subscribe-page">
        <div class="subscribe-bg-fixed winheight"></div>
        <div class="col-md-12 subscribe-header">
            <a href="{% url 'autoupload_subscribe_en' %}" class="logo">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-12 subscribe-content">
            <div class="content">
                {% include 'autoupload/samples/samples_content.html' %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/samples.js' %}"></script>
{% endblock %}
