{% extends 'webteeinsight.html' %}
{% load i18n admin_static %}
{% load staticfiles %}
{% load filters %}

{% block plugin-css %}
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'toastr/toastr.css' %}"/>
{% endblock %}

{% block body-content %}
    <div class="subscribe-page">
    <div class="subscribe-bg-fixed winheight">
        {% comment %}
        <div class="visible-xs-6">
            <img src="{% static 'images/web_teeinsight/mac_sm.png' %}"
                 style="margin: 100px -10% 15px;width: 120%;max-width: 120%;"
                 class="img-responsive">
        </div>
        {% endcomment %}
    </div>
    <div class="col-md-12 subscribe-header">
        <a href="{% url 'autoupload' %}" class="logo">
            <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
        </a>
    </div>
    <div class="col-md-12 subscribe-content">
    <div class="content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="subscribe-title">
                <span class="contact-blue">Xin Chào Bạn!</span>
                <small>AutoUpload@teeinsight là sản phẩm bổ trợ giúp cho bạn có thể tự động tải các mẫu thiết kế của bạn
                    lên các nền tảng bán áo phổ biến hiện nay. Điều này sẽ cho phép bạn dành nhiều thời gian và công sức
                    hơn cho việc tập trung quản lý quảng cáo và thu thập nhiều sales hơn.
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
    <p class="title-for-form">Để đăng ký, bạn vui lòng điều một số thông tin như sau:</p>

    <div class="row">
    <div class="col-md-6 subscribe-form">
    <form id="subscribe-form" class="form-horizontal">{% csrf_token %}
    <div class="form-group">
        <label for="id_name" class="col-sm-4 control-label">
            Tên <span class="required">(*)</span>:
        </label>

        <div class="col-sm-8">
            <input type="text" name="name" id="id_name"
                   required maxlength="254"
                   placeholder=""
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
        </div>
    </div>

    <div class="form-group">
        <label for="id_name" class="col-sm-4 control-label">
            Gói Dịch Vụ <span class="required">(*)</span>:
        </label>

        <div class="col-sm-8">
            <div class="type-opts">
                <div class="radio-inline type-opt">
                    <label class="">
                        <input type="radio" name="type_opts" id="trial"
                               value="trial" class="minimal"> Trial
                    </label>
                    <span class="n-platforms"></span>

                    <div class="platform-opts animated" id="trial_platforms">
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="sunfrog"
                                   value="sunfrog" class="minimal"> Sunfrog
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teespring"
                                   value="teespring" class="minimal"> Teespring
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teechip"
                                   value="teechip" class="minimal"> Teechip
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="viralstyle"
                                   value="viralstyle" class="minimal"> Viralstyle
                        </label>
                    </div>
                </div>
                <div class="radio-inline type-opt">
                    <label class="">
                        <input type="radio" name="type_opts" id="lite"
                               value="lite" class="minimal"> Lite
                    </label>
                    <span class="n-platforms"></span>

                    <div class="platform-opts animated" id="lite_platforms">
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="sunfrog"
                                   value="sunfrog" class="minimal"> Sunfrog
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teespring"
                                   value="teespring" class="minimal"> Teespring
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teechip"
                                   value="teechip" class="minimal"> Teechip
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="viralstyle"
                                   value="viralstyle" class="minimal"> Viralstyle
                        </label>
                    </div>
                </div>
                <div class="radio-inline type-opt">
                    <label class="">
                        <input type="radio" name="type_opts" id="bundle"
                               value="bundle" class="minimal"> Bundle
                    </label>
                    <span class="n-platforms"></span>

                    <div class="platform-opts animated" id="bundle_platforms">
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="sunfrog"
                                   value="sunfrog" class="minimal"> Sunfrog
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teespring"
                                   value="teespring" class="minimal"> Teespring
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="teechip"
                                   value="teechip" class="minimal"> Teechip
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="platform_opts" id="viralstyle"
                                   value="viralstyle" class="minimal"> Viralstyle
                        </label>
                    </div>
                </div>
                {% comment %}
                <div class="radio-inline btn-change-pack">
                    <label class="contact-red">
                        Change
                    </label>
                </div>
                {% endcomment %}
            </div>
            <span id="change_pack"
                  data-toggle="tooltip" data-placement="auto top" title="Change"
                  class="ico-btn contact-red">
                <i class="fa fa-refresh"></i>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="id_licenses" class="col-sm-4 control-label">
            Số Lượng License <span class="required">(*)</span>:
        </label>

        <div class="col-sm-8">
            <input type="number" name="licenses" id="id_licenses"
                   required min="1" max="999"
                   value="1"
                   placeholder=""
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
            <span title="Mỗi license chỉ được cấp cho 1 PC/Laptop và với một email nhất định để làm Account ID. Nếu bạn mua nhiều hơn 1 license thì vui lòng cung cấp những email tương ứng với số lượng license.<br/>- Mức 1: 10% chiết khấu cho việc mua 3-5 license.<br/>- Mức 2: 12% chiết khấu cho việc mua 6-10 license.<br/>- Mức 3: 15% chiết khấu cho việc mua trên 10 license."
                  data-toggle="tooltip" data-placement="auto top"
                  class="hint"></span>
        </div>
    </div>

    <div class="form-group animated" id="email_single">
        <label for="id_email" class="col-sm-4 control-label">
            Địa Chỉ Email <span class="required">(*)</span>:
        </label>

        <div class="col-sm-8">
            <input type="email" name="email" id="id_email"
                   required
                   placeholder=""
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
            <span title="Email này sẽ được dùng như là loginID cũng như sẽ được sử dụng để gửi cho bạn account, license để bạn có thể access vào sản phẩm."
                  data-toggle="tooltip"
                  data-placement="auto top"
                  class="hint"></span>
        </div>
    </div>

    <div class="form-group animated" id="email_multi" style="display: none;">
        <label for="id_emails_file" class="col-sm-8">
            Vui Lòng Upload <span id="licenses_numb"></span> emails Của Bạn <span class="required">(*)</span>:</label>

        <div class="col-sm-4">
            <div class="btn-up-file">
                <span class="btn-fake-file">Upload</span>
                <input type="file" name="emails_file" id="id_emails_file"
                       required
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       placeholder=""
                       data-toggle="tooltip" data-placement="right" title=""
                       class="info-input">
            </div>
            <span title="Email này sẽ được dùng như là loginID cũng như sẽ được sử dụng để gửi cho bạn account, license để bạn có thể access vào sản phẩm.<br />[Excel file (*.xls, *.xlsx) of email addresses]"
                  data-toggle="tooltip"
                  data-placement="auto top"
                  class="hint"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="id_phone" class="col-sm-4 control-label">
            Số Điện Thoại Của Bạn:
        </label>

        <div class="col-sm-8">
            <input type="tel" name="phone" id="id_phone"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 40 || event.charCode == 41 || event.charCode == 43 || event.charCode == 13 || event.charCode == 32'
                   placeholder=""
                   data-toggle="tooltip" data-placement="right" title=""
                   class="form-control info-input">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div class="checkbox text-opaque">
                <label>
                    <input type="checkbox" name="discount" id="discount"
                           class="minimal info-input">
                    Đăng ký sử dụng 3 tháng , bạn được giảm 15%
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label>Tổng Số Tiền Bạn Mua Dịch Vụ:</label>
            <span class="text-total">
                <span class="" id="currency_symb">US$</span>
                <span class="red" id="sum_price"></span>
            </span>
        </div>
    </div>

    <div class="form-group facebook-row">
        <div class="col-xs-2">
            <div class="row fb-btn">
                <div class="fb-like" data-href="https://www.facebook.com/teeinsight"
                     data-layout="button_count" data-action="like" data-size="small"
                     data-show-faces="false" data-share="false"></div>
            </div>
        </div>
        <span class="col-sm-10">
            Vui lòng bấm "like"
            <a class="contact-blue" href="https://www.facebook.com/teeinsight">fanpage</a>
            của trang facebook chúng tôi ở đây để bạn có thể có được những thông tin cập nhật nhanh nhất từ chúng tôi, cũng như chúng tôi có thể trao đổi và lắng nghe nhiều hơn từ bạn. Xin cảm ơn!</span>
    </div>

    {#% if user.is_superuser %#}
    <div class="form-group facebook-row">
        <div class="col-xs-2">
            <div class="row fb-btn">
                <div class="fb-share-button" data-href="http://teeinsight.com/autoupload/"
                     data-layout="button_count" data-size="small" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fteeinsight.com%2Fautoupload%2F&amp;src=sdkpreparse">Share</a>
                </div>
            </div>
        </div>
        <span class="col-sm-10">
            Share
            <a href="http://teeinsight.com/autoupload/" target="_blank">
                teeinsight - Auto Upload Catalyst Product
            </a>
        </span>
    </div>
    {#% endif %#}

    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="button" id="catalyst_program_btn"
                    data-type='none-click'
                    title="Catalyst Program Enrollment"
                    onclick="catalystProgramShow();"
                    class="btn btn-catalyst-program visible">
                Thêm Ngày Cho Trial Account?
            </button>

            <button type="button" id="subscribe_submit"
                    onclick="ga('send', 'event', 'Submit Subscription', 'click', 'Subscribe', {transport: 'beacon'});"
                    class="btn btn-subscribe">Đăng Ký
            </button>
        </div>
    </div>
    <p class="contact-red"><span class="required">(*)</span> bắt buộc</p>
    </form>
    </div>

    <div class="col-md-6 catalyst-program-block" id="catalyst_program_block" data-type='none-click'>
        <div class="row">
            <img src="{% static 'images/web_teeinsight/mac_sm.png' %}"
                 class="img-responsive subscribe-decor">

            <div class="clear"></div>

            <div id="cp_block" class="cp-block form-horizontal">

                {% include 'autoupload/vi/catalyst_program_content.html' %}

            </div>
        </div>
    </div>

    {% comment %}
    {% if user.is_superuser %}
        <div class="col-md-6">
            <div class="fb-post" data-href="https://www.facebook.com/teeinsight/posts/202322033513003"
                 data-width="500" data-show-text="true">
            </div>
        </div>
    {% endif %}
    {% endcomment %}

    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>

    {% include 'autoupload/vi/subscribe_payment_modal.html' %}
{% endblock %}

{% block plugin-js %}
    <!-- iCheck 1.0.1 -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.js' %}"></script>
{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/subscribe.js' %}"></script>
{% endblock %}
