{% extends 'webteeinsight.html' %}
{% load i18n admin_static %}
{% load staticfiles %}
{% load filters %}

{% block plugin-css %}
{% endblock %}

{% block body-content %}
    <div class="subscribe-page">
        <div class="subscribe-bg-fixed winheight"></div>
        <div class="col-md-12 subscribe-header">
            <a href="{% url 'autoupload' %}" class="logo">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-12 subscribe-content">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{% static 'images/web_teeinsight/mac.png' %}"
                             style="margin: 72px auto;"
                             class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    {% include 'autoupload/vi/subscribe_payment_modal.html' %}
{% endblock %}

{% block plugin-js %}
    <!-- SlimScroll 1.3.0 -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/tks.js' %}"></script>
{% endblock %}
