<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Layout
        <small>Example 2.3</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="callout callout-info">
        <h4>Top Navigation!</h4>

        <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used
            with a sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and
            use regular links instead.</p>
    </div>

    <div class="callout callout-info">
        <h4>Fixed Layout!
            <small>Blank example to the fixed layout</small>
        </h4>

        <p>Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your
            sidebar is bigger than your content because it prevents extra unwanted scrolling.</p>
    </div>

    <div class="callout callout-info">
        <h4>Boxed Layout!
            <small>Blank example to the boxed layout</small>
        </h4>

        <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when
            working
            on
            large screens because it prevents the site from stretching very wide.</p>
    </div>

    <div class="callout callout-info">
        <h4>Sidebar Collapsed!
            <small>Layout with collapsed sidebar on load</small>
        </h4>

        <p>Add the sidebar-collapse class to the body tag to get this layout. You should combine this option
            with a
            fixed layout if you have a long sidebar. Doing that will prevent your page content from getting
            stretched
            vertically.</p>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="callout callout-danger">
        <h4>Warning!</h4>

        <p>The construction of this layout differs from the normal one. In other words, the HTML markup of
            the
            navbar
            and the content will slightly differ than that of the normal layout.</p>
    </div>

    <!-- Default box -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Blank Box</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            Start creating your amazing application!
        </div>
        <div class="box-footer">
            Footer
        </div>
    </div>
</section>
