{% load staticfiles %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="{% static 'images/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-fw fa-circle text-success"></i> Online</a>
    </div>
</div>
<!-- search form -->
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                        class="fa fa-fw fa-search"></i>
                </button>
              </span>
    </div>
</form>
<ul class="sidebar-menu">
<li class="header">MAIN NAVIGATION</li>
<li class="treeview {% if 'document' in active %}active{% endif %}" id="scrollspy">
    <a href="#">
        <i class="fa fa-fw fa-book"></i>
        <span>Documentation</span>
        <i class="fa fa-fw fa-list pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'document' in active %}active{% endif %}">
            <a href="{% url 'adminlte_documentation' %}">
                <i class="fa fa-fw fa-book"></i>
                Documentation
                <small class="label pull-right bg-green">Read</small>
            </a>
        </li>
        <li>
            <a href="#introduction">
                <i class="fa fa-fw fa-circle-o"></i>
                Introduction
            </a>
        </li>
        <li>
            <a href="#download">
                <i class="fa fa-fw fa-circle-o"></i>
                Download
            </a>
        </li>
        <li>
            <a href="#dependencies">
                <i class="fa fa-fw fa-circle-o"></i>
                Dependencies
            </a>
        </li>
        <li>
            <a href="#advice">
                <i class="fa fa-fw fa-circle-o"></i>
                Advice
            </a>
        </li>
        <li>
            <a href="#layout">
                <i class="fa fa-fw fa-circle-o"></i>
                Layout
            </a>
        </li>
        <li>
            <a href="#adminlte-options">
                <i class="fa fa-fw fa-circle-o"></i>
                Javascript Options
            </a>
        </li>
        <li class="treeview" id="scrollspy-components">
            <a href="javascript:void(0)">
                <i class="fa fa-fw fa-circle-o"></i>
                Components
                <i class="fa fa-fw fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#component-main-header">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Main Header
                    </a>
                </li>
                <li>
                    <a href="#component-sidebar">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Sidebar
                    </a>
                </li>
                <li>
                    <a href="#component-control-sidebar">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Control Sidebar
                    </a>
                </li>
                <li>
                    <a href="#component-info-box">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Info Box
                    </a>
                </li>
                <li>
                    <a href="#component-box">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Boxes
                    </a>
                </li>
                <li>
                    <a href="#component-direct-chat">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Direct Chat
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#plugins">
                <i class="fa fa-fw fa-circle-o"></i>
                Plugins
            </a>
        </li>
        <li>
            <a href="#browsers">
                <i class="fa fa-fw fa-circle-o"></i>
                Browser Support
            </a>
        </li>
        <li>
            <a href="#upgrade">
                <i class="fa fa-fw fa-circle-o"></i>
                Upgrade Guide
            </a>
        </li>
        <li>
            <a href="#implementations">
                <i class="fa fa-fw fa-circle-o"></i>
                Implementations
            </a>
        </li>
        <li>
            <a href="#faq">
                <i class="fa fa-fw fa-circle-o"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#license">
                <i class="fa fa-fw fa-circle-o"></i>
                License
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'dashboards' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-dashboard"></i>
        <span>Dashboard</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'index' in active %}active{% endif %}">
            <a href="{% url 'adminlte_index_1' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Dashboard v1
            </a>
        </li>
        <li class="{% if 'index_2' in active %}active{% endif %}">
            <a href="{% url 'adminlte_index_2' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Dashboard v2
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'examples' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-folder"></i>
        <span>Examples</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'invoice' in active %}active{% endif %}">
            <a href="{% url 'adminlte_examples_invoice' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Invoice
            </a>
        </li>
        <li class="{% if 'profile' in active %}active{% endif %}">
            <a href="{% url 'adminlte_examples_profile' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Profile
            </a>
        </li>
        <li class="{% if 'pace' in active %}active{% endif %}">
            <a href="{% url 'adminlte_examples_pace' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Pace Page
            </a>
        </li>
        <li class="{% if '404' in active %}active{% endif %}">
            <a href="{% url 'adminlte_examples_404' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                404 Error
            </a>
        </li>
        <li class="{% if '500' in active %}active{% endif %}">
            <a href="{% url 'adminlte_examples_500' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                500 Error
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'registration' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-users"></i>
        <span>registration</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'login' in active %}active{% endif %}">
            <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Login
            </a>
        </li>
        <li class="{% if 'register' in active %}active{% endif %}">
            <a href="{% url 'register' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Register
            </a>
        </li>
        <li class="{% if 'lockscreen' in active %}active{% endif %}">
            <a href="{% url 'lockscreen' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Lockscreen
            </a>
        </li>
    </ul>
</li>
<li class="{% if 'calendar' in active %}active{% endif %}">
    <a href="{% url 'adminlte_calendar' %}">
        <i class="fa fa-fw fa-calendar"></i>
        <span>Calendar</span>
        <small class="label pull-right bg-red">3</small>
    </a>
</li>
<li class="{% if 'widgets' in active %}active{% endif %}">
    <a href="{% url 'adminlte_widgets' %}">
        <i class="fa fa-fw fa-th"></i>
        <span>Widgets</span>
        <small class="label pull-right bg-green">new</small>
    </a>
</li>
<li class="treeview {% if 'ui' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-laptop"></i>
        <span>UI Elements</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'general' in active and 'ui' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_general' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                General
            </a>
        </li>
        <li class="{% if 'icons' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_icons' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Icons
            </a>
        </li>
        <li class="{% if 'buttons' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_buttons' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Buttons
            </a>
        </li>
        <li class="{% if 'sliders' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_sliders' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Sliders
            </a>
        </li>
        <li class="{% if 'timeline' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_timeline' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Timeline
            </a>
        </li>
        <li class="{% if 'modals' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_modals' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Modals
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'charts' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-pie-chart"></i>
        <span>Charts</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'chartjs' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_chartjs' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                ChartJS
            </a>
        </li>
        <li class="{% if 'morris' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_morris' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Morris
            </a>
        </li>
        <li class="{% if 'flot' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_flot' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Flot
            </a>
        </li>
        <li class="{% if 'inline' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_inline' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Inline charts
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'forms' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-edit"></i>
        <span>Forms</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'general' in active and 'forms' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_general' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                General Elements
            </a>
        </li>
        <li class="{% if 'advanced' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_advanced' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Advanced Elements
            </a>
        </li>
        <li class="{% if 'editors' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_editors' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Editors
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'mailbox' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-envelope"></i>
        <span>Mailbox</span>
        <small class="label pull-right bg-yellow">12</small>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'boxmail' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_mailbox' %}">
                Inbox
                <span class="label label-primary pull-right">12</span>
            </a>
        </li>
        <li class="{% if 'compose' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_compose' %}">
                Compose
            </a>
        </li>
        <li class="{% if 'read_mail' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_read_mail' %}">
                Read
            </a>
        </li>
    </ul>
</li>
<li class="treeview {% if 'tables' in active %}active{% endif %}">
    <a href="#">
        <i class="fa fa-fw fa-table"></i>
        <span>Tables</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="{% if 'simple' in active %}active{% endif %}">
            <a href="{% url 'adminlte_tables_simple' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Simple tables
            </a>
        </li>
        <li class="{% if 'data' in active %}active{% endif %}">
            <a href="{% url 'adminlte_tables_data' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Data tables
            </a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-fw fa-share"></i>
        <span>Multilevel</span>
        <i class="fa fa-fw fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="#">
                <i class="fa fa-fw fa-circle-o"></i>
                Level One
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-circle-o"></i>
                Level One
                <i class="fa fa-fw fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Level Two
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Level Two
                        <i class="fa fa-fw fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-circle-o"></i>
                                Level Three
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-circle-o"></i>
                                Level Three
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-circle-o"></i>
                Level One
            </a>
        </li>
    </ul>
</li>
<li class="header">LABELS</li>
<li>
    <a href="#"><i class="fa fa-fw fa-circle-o text-red"></i>
        <span>Important</span>
    </a>
</li>
<li>
    <a href="#"><i class="fa fa-fw fa-circle-o text-yellow"></i>
        <span>Warning</span>
    </a>
</li>
<li>
    <a href="#"><i class="fa fa-fw fa-circle-o text-aqua"></i>
        <span>Information</span>
    </a>
</li>
</ul>
</section>
</aside>
