<li class="dropdown {% if 'document' in active %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-book"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="http://almsaeedstudio.com">Almsaeed Studio</a></li>
        <li><a href="http://almsaeedstudio.com/premium">Premium Templates</a></li>
    </ul>
</li>
