<!-- Main Footer -->
<footer class="main-footer {{ footer_class }}">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.3
    </div>
    <div class="go-up">
        <i class="fa fa-chevron-up"></i>
    </div>

</footer>
