<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'home' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        {% include 'include/adminlte/main_header_left_menu.html' %}

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <div class="navbar-form navbar-left navbar-nav">
                <div class="form-group">
                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                </div>
            </div>
            <ul class="nav navbar-nav">
                {% include 'include/adminlte/main_header_messages_menu.html' %}

                {% include 'include/adminlte/main_header_notifications_menu.html' %}

                {% include 'include/adminlte/main_header_tasks_menu.html' %}

                {% include 'include/adminlte/main_header_user_menu.html' %}

                {% if 'document' in active %}
                    {% include 'include/adminlte/main_header_doc_menu.html' %}
                {% endif %}

                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                <li class="active">
                    <a type="button" class="navbar-toggle navbar-custom-toggle collapsed"
                       data-toggle="collapse" data-target="#second-header-menu">
                        <i class="fa fa-caret-square-o-down"></i>
                    </a>
                </li>
                <li>
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-align-left"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>
