{% load staticfiles %}

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.0 -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery MouseWheel 3.1.13 -->
<script src="{% static 'jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
