{% load staticfiles %}

<!-- SlimScroll 1.3.0 -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'scripts/app.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'scripts/demo.js' %}"></script>
