<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse pull-right navbar-custom">
<ul class="nav navbar-nav">
<li class="dropdown {% if 'pages' in active %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-folder"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
            <a href="{% url 'contact' %}">
                <i class="fa fa-fw fa-envelope"></i>
                Contact
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'adminlte_documentation' %}">
                <i class="fa fa-fw fa-book"></i>
                Documentation
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_index_1' %}">
                <i class="fa fa-fw fa-dashboard"></i>
                Dashboard v1
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_index_2' %}">
                <i class="fa fa-fw fa-dashboard"></i>
                Dashboard v2
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'adminlte_examples_invoice' %}">
                <i class="fa fa-fw fa-print"></i>
                Invoice
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_examples_profile' %}">
                <i class="fa fa-fw fa-user"></i>
                Profile
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_examples_pace' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                Pace Page
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_examples_404' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                404 Error
            </a>
        </li>
        <li>
            <a href="{% url 'adminlte_examples_500' %}">
                <i class="fa fa-fw fa-circle-o"></i>
                500 Error
            </a>
        </li>
    </ul>
</li>
<li class="dropdown {% if 'components' in active %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-laptop"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="{% if 'calendar' in active %}active{% endif %}">
            <a href="{% url 'adminlte_calendar' %}">
                <i class="fa fa-fw fa-calendar"></i>
                Calendar
                <small class="label pull-right bg-red">3</small>
            </a>
        </li>
        <li class="{% if 'widgets' in active %}active{% endif %}">
            <a href="{% url 'adminlte_widgets' %}">
                <i class="fa fa-fw fa-th"></i>
                Widgets
                <small class="label pull-right bg-green">new</small>
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'general' in active and 'ui' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_general' %}">
                <i class="fa fa-fw fa-laptop"></i>
                General
            </a>
        </li>
        <li class="{% if 'icons' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_icons' %}">
                <i class="fa fa-fw fa-laptop"></i>
                Icons
            </a>
        </li>
        <li class="{% if 'buttons' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_buttons' %}">
                <i class="fa fa-fw fa-laptop"></i>
                Buttons
            </a>
        </li>
        <li class="{% if 'sliders' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_sliders' %}">
                <i class="fa fa-fw fa-laptop"></i>
                Sliders
            </a>
        </li>
        <li class="{% if 'timeline' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_timeline' %}">
                <i class="fa fa-fw fa-laptop"></i>
                Timeline
            </a>
        </li>
        <li class="{% if 'modals' in active %}active{% endif %}">
            <a href="{% url 'adminlte_ui_modals' %}">
                <i class="fa fa-fw fa-laptop"></i>
                Modals
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'chartjs' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_chartjs' %}">
                <i class="fa fa-fw fa-pie-chart"></i>
                ChartJS
            </a>
        </li>
        <li class="{% if 'morris' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_morris' %}">
                <i class="fa fa-fw fa-pie-chart"></i>
                Morris
            </a>
        </li>
        <li class="{% if 'flot' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_flot' %}">
                <i class="fa fa-fw fa-pie-chart"></i>
                Flot
            </a>
        </li>
        <li class="{% if 'inline' in active %}active{% endif %}">
            <a href="{% url 'adminlte_charts_inline' %}">
                <i class="fa fa-fw fa-pie-chart"></i>
                Inline charts
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'gerenal' in active and 'forms' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_general' %}">
                <i class="fa fa-fw fa-edit"></i>
                General Elements
            </a>
        </li>
        <li class="{% if 'advanced' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_advanced' %}">
                <i class="fa fa-fw fa-edit"></i>
                Advanced Elements
            </a>
        </li>
        <li class="{% if 'editors' in active %}active{% endif %}">
            <a href="{% url 'adminlte_forms_editors' %}">
                <i class="fa fa-fw fa-edit"></i>
                Editors
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'boxmail' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_mailbox' %}">
                <i class="fa fa-fw fa-envelope"></i>
                Inbox
                <span class="label label-primary pull-right">12</span>
            </a>
        </li>
        <li class="{% if 'compose' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_compose' %}">
                <i class="fa fa-fw fa-envelope"></i>
                Compose
            </a>
        </li>
        <li class="{% if 'read_mail' in active %}active{% endif %}">
            <a href="{% url 'adminlte_mailbox_read_mail' %}">
                <i class="fa fa-fw fa-envelope"></i>
                Read
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'simple' in active %}active{% endif %}">
            <a href="{% url 'adminlte_tables_simple' %}">
                <i class="fa fa-fw fa-table"></i>
                Simple tables
            </a>
        </li>
        <li class="{% if 'data' in active %}active{% endif %}">
            <a href="{% url 'adminlte_tables_data' %}">
                <i class="fa fa-fw fa-table"></i>
                Data tables
            </a>
        </li>
    </ul>
</li>
<li class="dropdown {% if 'layout' in active %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-desktop"></i></a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="{% if 'boxed' in active %}active{% endif %}">
            <a href="{% url 'adminlte_layout_boxed' %}">
                Boxed
            </a>
        </li>
        <li class="{% if 'fixed' in active %}active{% endif %}">
            <a href="{% url 'adminlte_layout_fixed' %}">
                Fixed
            </a>
        </li>
        <li class="{% if 'collapsed' in active %}active{% endif %}">
            <a href="{% url 'adminlte_layout_collapsed_sidebar' %}">
                Collapsed Sidebar
            </a>
        </li>
        <li class="divider"></li>
        <li class="{% if 'top-nav' in active %}active{% endif %}">
            <a href="{% url 'adminlte_layout_top_nav' %}">
                Top Navigation
            </a>
        </li>
    </ul>
</li>
</ul>
</div>
