<!-- Main Header -->
<header class="main-header second-header-menu collapse in" id="second-header-menu">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        {% include 'include/adminlte/second_header_left_menu.html' %}

        {% include 'include/adminlte/second_header_right_menu.html' %}
    </nav>
</header>
