{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECRecurringPayments/"
               target="_blank">
                Limitations</a></h3>
    </div>
    <div class="panel-body">
        The current release of the Recurring Payments API has the following limitations:
        <ul>
            <li>A profile can have, at most, one optional trial period and a single regular payment period.</li>
            <li>The profile start date may not be earlier than the profile creation date.</li>
        </ul>
        Recurring Payments with Express Checkout also has the following limitations:

        <ul>
            <li>A buyer's PayPal account must include an active credit card. If not, you cannot create a
                recurring payments profile for the buyer.
            </li>
            <li>Recurring payments cannot be created for buyers in Germany or China. In this case, you can use
                reference transactions as an alternate solution.
            </li>
            <li>You can create a maximum of 10 recurring payments profiles during checkout.</li>
            <li>You can increase the profile amount by only 20% in each 180-day interval after you create the
                profile.
            </li>
        </ul>
    </div>
</div>
