{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<form id="billing_plan" role="form"
      action="{% url 's_create_plan' %}" method=post
      class="form-create">
    {% csrf_token %}
    <fieldset>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create a plan</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Name</div>
                        <input id="name" name="name" type="text"
                               maxlength="128" required="" placeholder="The billing plan name."
                               value="{{ plan.name }}"
                               class="input-xlarge form-control val">

                        <div data-toggle="tooltip" data-placement="right" title="Required"
                             class="input-group-addon label-inline label-warning">
                            <i class="fa fa-exclamation"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="description">Description</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Description</div>
                        <input id="description" name="description" type="text"
                               maxlength="128" required=""
                               value="{{ plan.description }}"
                               placeholder="The billing plan description."
                               class="input-xlarge form-control val">

                        <div data-toggle="tooltip" data-placement="right" title="Required"
                             class="input-group-addon label-inline label-warning">
                            <i class="fa fa-exclamation"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-inline">
                        <label class="sr-only" for="type">Type</label>

                        <div class="input-group">
                            <div class="input-group-addon label-inline label-primary">The billing plan type</div>
                            <div class="input-group-btn">
                                <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                                    <label class="btn btn-default {% if plan.type == 'INFINITE' %}active{% endif %}">
                                        <input type="radio" name="type" id="type_infinite"
                                               value="infinite" {% if plan.type == 'INFINITE' %}checked{% endif %}
                                               class="input-xlarge val">
                                        INFINITE
                                    </label>
                                    <label class="btn btn-default {% if plan.type == 'FIXED' %}active{% endif %}">
                                        <input type="radio" name="type" id="type_fixed"
                                               value="fixed" {% if plan.type == 'FIXED' %}checked{% endif %}
                                               class="input-xlarge val">
                                        FIXED
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'teeinsight/plans/create_plan_form_merchant_preferences.html' %}

                {% include 'teeinsight/plans/create_plan_form_payment_definitions.html' %}

            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-default btn-md pull-right">
                    <span class="glyphicon glyphicon-plus"></span> Create
                </button>
                <div class="clear"></div>
            </div>
        </div>

    </fieldset>
</form>
