{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Payment Definitions</h3>
    </div>
    <div class="panel-body">

        {% include 'teeinsight/plans/create_plan_form_payment_limitations.html' %}

        {% with plan.payment_definitions as payments %}

            <div class="form-group">
                <div class="form-inline">
                    <label class="sr-only" for="frequency">Frequency</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Frequency</div>
                        <div class="input-group-btn">
                            <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                                <label class="btn btn-default frequency-btn-check
                                {% if 'YEAR'|title in payment_list %}active{% endif %}">
                                    <input type="checkbox" name="frequency" id="frequency_year"
                                           data-target="year_block"
                                           value="YEAR" {% if 'YEAR'|title in payment_list %}checked{% endif %}
                                           class="input-xlarge val">
                                    YEAR
                                </label>
                                <label class="btn btn-default frequency-btn-check
                                {% if 'MONTH'|title in payment_list %}active{% endif %}">
                                    <input type="checkbox" name="frequency" id="frequency_month"
                                           data-target="month_block"
                                           value="MONTH" {% if 'MONTH'|title in payment_list %}checked{% endif %}
                                           class="input-xlarge val">
                                    MONTH
                                </label>
                                <label class="btn btn-default frequency-btn-check
                                {% if 'WEEK'|title in payment_list %}active{% endif %}">
                                    <input type="checkbox" name="frequency" id="frequency_week"
                                           data-target="week_block"
                                           value="WEEK" {% if 'WEEK'|title in payment_list %}checked{% endif %}
                                           class="input-xlarge val">
                                    WEEK
                                </label>
                                <label class="btn btn-default frequency-btn-check
                                {% if 'DAY'|title in payment_list %}active{% endif %}">
                                    <input type="checkbox" name="frequency" id="frequency_day"
                                           data-target="day_block"
                                           value="DAY" {% if 'DAY'|title in payment_list %}checked{% endif %}
                                           class="input-xlarge val">
                                    DAY
                                </label>
                            </div>
                        </div>
                        <div data-toggle="tooltip" data-placement="right"
                             title="The frequency of the offered payment definition. Valid value is WEEK, DAY, YEAR, or MONTH."
                             class="input-group-addon label-inline label-default">
                            <i class="fa fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>

            {% with frequency='YEAR' %}
                {% include 'teeinsight/plans/create_plan_form_payment_frequency.html' %}
            {% endwith %}

            {% with frequency='MONTH' %}
                {% include 'teeinsight/plans/create_plan_form_payment_frequency.html' %}
            {% endwith %}

            {% with frequency='WEEK' %}
                {% include 'teeinsight/plans/create_plan_form_payment_frequency.html' %}
            {% endwith %}

            {% with frequency='DAY' %}
                {% include 'teeinsight/plans/create_plan_form_payment_frequency.html' %}
            {% endwith %}

        {% endwith %}
    </div>
</div>
