{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#v-attr" aria-controls="v-attr"
                   role="tab" data-toggle="tab">Attributes</a></li>
            <li role="presentation">
                <a href="#billing_plan_attributes" aria-controls="billing_plan_attributes"
                   role="tab" data-toggle="tab">{{ 'billing plan attributes'|title }}</a></li>
            <li role="presentation">
                <a href="#pst" aria-controls="pst"
                   role="tab" data-toggle="tab">Request post</a></li>
            <li role="presentation">
                <a href="#message" aria-controls="message"
                   role="tab" data-toggle="tab">Message</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="v-attr">
                <pre id="attributes"></pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="billing_plan_attributes">
                <pre>{{ billing_plan_attributes|jsonify_s }}</pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="pst">
                <pre>{{ pst|jsonify_s }}</pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="message">
                <pre>{{ message|jsonify }}</pre>
            </div>
        </div>

    </div>
</div>

