{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default collapse frequency-block" aria-expanded="false" id="{{ frequency|lower }}_block">
    <div class="panel-heading">
        <h3 class="panel-title">{{ frequency|title }}</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <div class="form-inline">
                <label class="sr-only" for="payment_type_{{ frequency|lower }}">Type</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Type</div>
                    <div class="input-group-btn">
                        <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                            <label class="btn btn-default frequency-type-btn-check active">
                                <input type="checkbox" name="payment_type_{{ frequency|lower }}"
                                       id="payment_type_{{ frequency|lower }}_regular"
                                       data-target="{{ frequency|lower }}_regular_block"
                                       value="Regular" checked
                                       class="input-xlarge val">
                                Regular
                            </label>
                            <label class="btn btn-default frequency-type-btn-check">
                                <input type="checkbox" name="payment_type_{{ frequency|lower }}"
                                       id="payment_type_{{ frequency|lower }}_trial"
                                       data-target="{{ frequency|lower }}_trial_block"
                                       value="Trial"
                                       class="input-xlarge val">
                                Trial
                            </label>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="right"
                         title="The payment definition type. Valid value is TRIAL or REGULAR."
                         class="input-group-addon label-inline label-default">
                        <i class="fa fa-question"></i>
                    </div>
                </div>
            </div>
        </div>

        {% with frequency_type='Regular' %}
            {% include 'teeinsight/plans/create_plan_form_payment_frequency_type.html' %}
        {% endwith %}

        {% with frequency_type='Trial' %}
            {% include 'teeinsight/plans/create_plan_form_payment_frequency_type.html' %}
        {% endwith %}
    </div>
</div>