{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default collapse frequency-type-block" aria-expanded="false"
     id="{{ frequency|lower }}_{{ frequency_type|lower }}_block">
    <div class="panel-heading">
        <h3 class="panel-title">{{ frequency_type|title }}</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_payment_name">Name</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">Name</div>
                <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_payment_name"
                       name="{{ frequency|lower }}_{{ frequency_type|lower }}_payment_name" type="text"
                       placeholder="The payment definition name."
                       class="input-xlarge form-control val">

                <div data-toggle="tooltip" data-placement="right" title="Required"
                     class="input-group-addon label-inline label-warning">
                    <i class="fa fa-exclamation"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_frequency_interval">Frequency
                Interval</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">Frequency Interval</div>
                <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_frequency_interval"
                       name="{{ frequency|lower }}_{{ frequency_type|lower }}_frequency_interval" type="number"
                       min="0" step="1"
                       value="1"
                       placeholder=""
                       class="input-xlarge form-control val">

                <div class="input-group-addon label-inline label-default">{{ frequency }}</div>
                <div data-toggle="tooltip" data-placement="right"
                     title="The interval at which the customer can be charged. Value cannot be greater than 12 months."
                     class="input-group-addon label-inline label-default">
                    <i class="fa fa-question"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_cycles">Cycles</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">Cycles</div>
                <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_cycles"
                       name="{{ frequency|lower }}_{{ frequency_type|lower }}_cycles" type="number"
                       min="0" step="1"
                       value="0"
                       placeholder=""
                       class="input-xlarge form-control val">

                <div data-toggle="tooltip" data-placement="right"
                     title="The number of cycles in this payment definition. For INFINITE type plans, set cycles to 0 for a REGULAR type payment definition."
                     class="input-group-addon label-inline label-default">
                    <i class="fa fa-question"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_amount">Amount</label>

            <div class="input-group">
                <div class="input-group-addon label-inline label-primary">Amount</div>
                <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_amount"
                       name="{{ frequency|lower }}_{{ frequency_type|lower }}_amount" type="number"
                       min="0" step="1"
                       placeholder=""
                       class="input-xlarge form-control val">

                <div class="input-group-addon label-inline label-default suf_currency"></div>
                <div data-toggle="tooltip" data-placement="right"
                     title="Base object for all financial value related fields (balance, payment due, etc.)"
                     class="input-group-addon label-inline label-default">
                    <i class="fa fa-question"></i>
                </div>
                <div data-toggle="tooltip" data-placement="right" title="Required"
                     class="input-group-addon label-inline label-warning">
                    <i class="fa fa-exclamation"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-inline">
                <label class="sr-only" for="charge_mode_{{ frequency|lower }}_{{ frequency_type|lower }}">
                    Charge Mode</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Charge Mode</div>
                    <div class="input-group-btn">
                        <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                            <label class="btn btn-default charge-btn-check active">
                                <input type="checkbox"
                                       name="charge_mode_{{ frequency|lower }}_{{ frequency_type|lower }}"
                                       id="charge_mode_{{ frequency|lower }}_{{ frequency_type|lower }}_tax"
                                       data-target="{{ frequency|lower }}_{{ frequency_type|lower }}_tax_block"
                                       value="Tax" checked
                                       class="input-xlarge val">
                                Tax
                            </label>
                            <label class="btn btn-default charge-btn-check active">
                                <input type="checkbox"
                                       name="charge_mode_{{ frequency|lower }}_{{ frequency_type|lower }}"
                                       id="charge_mode_{{ frequency|lower }}_{{ frequency_type|lower }}_shipping"
                                       data-target="{{ frequency|lower }}_{{ frequency_type|lower }}_shipping_block"
                                       value="Shipping" checked
                                       class="input-xlarge val">
                                Shipping
                            </label>
                        </div>
                    </div>
                    <div data-toggle="tooltip" data-placement="right"
                         title="A charge model for a payment definition. The billing plan type. Possible values: TAX, SHIPPING."
                         class="input-group-addon label-inline label-default">
                        <i class="fa fa-question"></i>
                    </div>
                </div>
            </div>
        </div>

        {% with charge_mode='Tax' %}
            <div class="form-group collapse charge-block" aria-expanded="false"
                 id="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}_block">
                <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}">
                    {{ charge_mode }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">{{ charge_mode }}</div>
                    <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}"
                           name="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}" type="number"
                           min="0" step="1"
                           value="0"
                           placeholder="{{ charge_mode|lower }} amount"
                           class="input-xlarge form-control val">

                    <div class="input-group-addon label-inline label-default suf_currency"></div>
                </div>
            </div>
        {% endwith %}

        {% with charge_mode='Shipping' %}
            <div class="form-group collapse charge-block" aria-expanded="false"
                 id="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}_block">
                <label class="sr-only" for="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}">
                    {{ charge_mode }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">{{ charge_mode }}</div>
                    <input id="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}"
                           name="{{ frequency|lower }}_{{ frequency_type|lower }}_{{ charge_mode|lower }}" type="number"
                           min="0" step="1"
                           value="0"
                           placeholder="{{ charge_mode|lower }} amount"
                           class="input-xlarge form-control val">

                    <div class="input-group-addon label-inline label-default suf_currency"></div>
                </div>
            </div>
        {% endwith %}
    </div>
</div>

