{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {% include 'teeinsight/plans/create_plan_form.html' %}
            </div>

            <div class="col-sm-6 col-xs-12">
                {% include 'teeinsight/plans/create_plan_params_debug.html' %}
            </div>
        </div>
    </section>
</div>
