{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Merchant Preferences</h3>
    </div>
    <div class="panel-body">

        {% with plan.merchant_preferences as merchant %}
            {% url 's_execute_agreement' as execute_url %}
            {% url 's_cancel_agreement' as cancel_url %}
            <div class="form-group">
                <div class="form-inline">
                    <label class="sr-only" for="currency">Currency</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Currency</div>
                        <div class="input-group-btn">
                            <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                                <label class="btn btn-default {% if merchant.setup_fee.currency == 'USD' %}active{% endif %}">
                                    <input type="radio" name="currency" id="currency_USD"
                                           value="USD" {% if merchant.setup_fee.currency == 'USD' %}checked{% endif %}
                                           class="input-xlarge val">
                                    USD
                                </label>
                                <label class="btn btn-default {% if merchant.setup_fee.currency == 'VND' %}active{% endif %}">
                                    <input type="radio" name="currency" id="currency_VND"
                                           value="VND" {% if merchant.setup_fee.currency == 'VND' %}checked{% endif %}
                                           class="input-xlarge val">
                                    VND
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="setup_fee">Setup Fee</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Setup Fee</div>
                    <input id="setup_fee" name="setup_fee" type="number"
                           min="0" step="1"
                           value="{{ merchant.setup_fee.value|default:1 }}"
                           placeholder=""
                           class="input-xlarge form-control val">

                    <div class="input-group-addon label-inline label-default suf_currency"></div>
                    <div data-toggle="tooltip" data-placement="right"
                         title="Base object for all financial value related fields (balance, payment due, etc.)"
                         class="input-group-addon label-inline label-default">
                        <i class="fa fa-question"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="return_url">Return Url</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Return Url</div>
                    <input id="return_url" name="return_url" type="text"
                           maxlength="1000" placeholder="The redirect URL on creation of agreement request."
                            {% with  default_url='http://teeinsightin.com'|add:execute_url %}
                           value="{{ merchant.return_url|default:default_url }}"
                            {% endwith %}
                           class="input-xlarge form-control val">
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="cancel_url">Cancel Url</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Cancel Url</div>
                    <input id="cancel_url" name="cancel_url" type="text"
                           maxlength="1000" placeholder="The redirect URL on cancellation of agreement request."
                            {% with  default_url='http://teeinsightin.com'|add:cancel_url %}
                           value="{{ merchant.cancel_url|default:default_url }}"
                            {% endwith %}
                           class="input-xlarge form-control val">
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="max_fail_attempts">max_fail_attempts</label>

                <div class="input-group">
                    <div class="input-group-addon label-inline label-primary">Failed attempts</div>
                    <input id="max_fail_attempts" name="max_fail_attempts" type="number"
                           min="0" step="1"
                           placeholder="Base object for all financial value related fields (balance, payment due, etc.)"
                           value="{{ merchant.max_fail_attempts|default:0 }}"
                           class="input-xlarge form-control val">

                    <div data-toggle="tooltip" data-placement="right"
                         title="The total number of failed attempts allowed. Default is 0, which represents an infinite number of failed attempts."
                         class="input-group-addon label-inline label-default">
                        <i class="fa fa-question"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="sr-only" for="auto_bill_amount">auto_bill_amount</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Auto-billing</div>
                        <div class="input-group-btn">
                            <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                                <label class="btn btn-default {% if merchant.auto_bill_amount == 'YES' %}active{% endif %}">
                                    <input type="radio" name="auto_bill_amount" id="auto_bill_amount_yes"
                                           value="yes" {% if merchant.auto_bill_amount == 'YES' %}checked{% endif %}
                                           class="input-xlarge val">
                                    YES
                                </label>
                                <label class="btn btn-default {% if merchant.auto_bill_amount == 'NO' %}active{% endif %}">
                                    <input type="radio" name="auto_bill_amount" id="auto_bill_amount_no"
                                           value="no" {% if merchant.auto_bill_amount == 'NO' %}checked{% endif %}
                                           class="input-xlarge val">
                                    NO
                                </label>
                            </div>
                        </div>
                        <div data-toggle="tooltip" data-placement="right"
                             title="Indicates whether auto-billing is allowed for the outstanding amount of the agreement in the next cycle. A valid value is YES or NO. Default is NO."
                             class="input-group-addon label-inline label-default">
                            <i class="fa fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="sr-only" for="initial_fail_amount_action">initial_fail_amount_action</label>

                    <div class="input-group">
                        <div class="input-group-addon label-inline label-primary">Action</div>
                        <div class="input-group-btn">
                            <div class="btn-group btn-group-justified btn-group-radios" data-toggle="buttons">
                                <label class="btn btn-default {% if merchant.initial_fail_amount_action == 'CONTINUE' %}active{% endif %}">
                                    <input type="radio" name="initial_fail_amount_action" id="fail_action_continue"
                                           value="continue"
                                           {% if merchant.initial_fail_amount_action == 'CONTINUE' %}checked{% endif %}
                                           class="input-xlarge val">
                                    CONTINUE
                                </label>
                                <label class="btn btn-default {% if merchant.initial_fail_amount_action == 'CANCEL' %}active{% endif %}">
                                    <input type="radio" name="initial_fail_amount_action" id="fail_action_cancel"
                                           value="cancel"
                                           {% if merchant.initial_fail_amount_action == 'CANCEL' %}checked{% endif %}
                                           class="input-xlarge val">
                                    CANCEL
                                </label>
                            </div>
                        </div>
                        <div data-toggle="tooltip" data-placement="right"
                             title="The action to take if a failure occurs during initial payment. Valid value is CONTINUE or CANCEL. Default is CONTINUE."
                             class="input-group-addon label-inline label-default">
                            <i class="fa fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

    </div>
</div>
