{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">
            Transactions for {{ description }}</h3>
    </div>
    <div class="panel-body">
        {% for transaction in transactions %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>{{ 'transaction type'|title }}: </b>{{ transaction.transaction_type }}</p>

                    <p><b>{{ 'transaction_id'|title }}: </b>{{ transaction.transaction_id }}</p>

                    <p><b>{{ 'status'|title }}: </b>{{ transaction.status }}</p>

                    <p><b>{{ 'payer email'|title }}: </b>{{ transaction.payer_email }}</p>

                    <p><b>{{ 'payer name'|title }}: </b>{{ transaction.payer_name }}</p>

                    <p><b>{{ 'time stamp'|title }}: </b>{{ transaction.time_stamp }}</p>

                    <p><b>{{ 'time zone'|title }}: </b>{{ transaction.time_zone }}</p>

                    <p><b>{{ 'amount'|title }}: </b>{{ transaction.amount.value }} {{ transaction.amount.currency }}</p>

                    <p>
                        <b>{{ 'net amount'|title }}: </b>
                        {{ transaction.net_amount.value }} {{ transaction.net_amount.currency }}
                    </p>

                    <p>
                        <b>{{ 'fee_amount'|title }}: </b>
                        {{ transaction.fee_amount.value }} {{ transaction.fee_amount.currency }}
                    </p>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
