{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="header">
    <h1 class="title">In-Active Plans</h1>
</div>

<div class="clear"></div>

<div class="card-container plans" data-type="card-container">
    {% for plan in plans_inactive %}
        <div class="card" data-type="card">
            {% include 'teeinsight/plans/plans_card_front.html' %}

            {% include 'teeinsight/plans/plans_card_back.html' %}
        </div>
    {% empty %}
        <em>No plans yet</em>
    {% endfor %}
</div>
