{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {% include 'teeinsight/plans/plans_cards_active_wrapper.html' %}

                {% if user.is_authenticated and user.is_superuser %}
                    {% if plans_active %}
                        <div class="col-xs-10 col-xs-offset-1">
                            <pre class="jsonify">{{ plans_active_query_dict|jsonify }}</pre>
                        </div>
                        <div class="clear"></div>
                    {% endif %}

                    {% include 'teeinsight/plans/plans_cards_inactive_wrapper.html' %}

                    {% if plans_inactive %}
                        <div class="col-xs-10 col-xs-offset-1">
                            <pre class="jsonify">{{ plans_inactive_query_dict|jsonify }}</pre>
                        </div>
                        <div class="clear"></div>
                    {% endif %}

                    {% include 'teeinsight/plans/plans_cards_created_wrapper.html' %}

                    {% if plans_created %}
                        <div class="col-xs-10 col-xs-offset-1">
                            <pre class="jsonify">{{ plans_created_query_dict|jsonify }}</pre>
                        </div>
                        <div class="clear"></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
</div>
