{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="back">
    {% include 'teeinsight/plans/plans_card_actions.html' %}

    <div class="card-footer">
        <div class="cta">
            <a class="cta-button" target="_parent" href="{% url 'contact' %}"
               data-category="contactUs" data-action="buttonClick" data-label="body">Contact Us</a>
        </div>
    </div>
</div>
