{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="front">
    <div class="card-image">
        <img src="{% static 'images/itracker.jpg' %}" alt="itracker">

        <div class="card-icon">
            <img src="{% static 'images/icon_128.png' %}" alt="logo" title="{{ plan.id }}">
        </div>
    </div>

    <div class="card-content">
        <h2 class="card-title" title="{{ plan.id }}">{{ plan.name|title }} ({{ plan.type }})</h2>

        <p class="text-center sr-only"><strong><big>[{{ plan.id }}] </big></strong></p>

        <p class="text-center"><strong><big>{{ plan.price|add_prefix }}</big> Per Month</strong></p>

        <p>{{ plan.description|default_if_none:'No description'|safe }}</p>

        <h2 class="card-title">{{ 'merchant preferences'|title }}</h2>

        {% with plan.full.merchant_preferences as merchant %}
            <p><b>max_fail_attempts: </b>{{ merchant.max_fail_attempts }}</p>

            <p><b>initial_fail_amount_action: </b>{{ merchant.initial_fail_amount_action }}</p>

            <p><b>auto_bill_amount: </b>{{ merchant.auto_bill_amount }}</p>

            <p><b>cancel_url: </b>{{ merchant.cancel_url }}</p>

            <p><b>return_url: </b>{{ merchant.return_url }}</p>

            <p><b>setup_fee: </b>{{ merchant.setup_fee.value }} {{ merchant.setup_fee.currency }}</p>
        {% endwith %}
    </div>

    <div class="card-payment {% if user.is_superuser %}sandbox{% endif %}">
        {% if user.is_authenticated %}
            {% if current_subscription == plan.id %}
                <button class="card-link payment-item" data-category="learnMore" data-action="buttonClick"
                        data-label="body">
                    Current package
                </button>
            {% else %}
                {% for payment in plan.full.payment_definitions %}
                    <div data-type="none">
                        <p><i class="fa fa-circle-o"></i>
                            <b title="{{ payment.id }}">{{ payment.name }}</b>
                            ({{ payment.type }} - {{ payment.cycles }})
                        </p>

                        <p><b>{{ payment.frequency_interval }} {{ payment.frequency }}: </b>
                            {{ payment.amount.value }} {{ payment.amount.currency }}</p>

                        {% for charge in payment.charge_models %}
                            <p><b title="[{{ charge.id }}]">{{ charge.type }}: </b>
                                {{ charge.amount.value }} {{ charge.amount.currency }}</p>
                        {% endfor %}
                        {% if user.is_authenticated and plan.state == 'ACTIVE' %}
                            <form class="payment-form payment-item"
                                  data-type="none"
                                  action="{% url 's_subscribe_plan' %}?id={{ plan.id }}&name={{ plan.name }}&payment={{ payment.name }}"
                                  method="post">
                                <input type="hidden" id="subscribe" name="subscribe" value="subscribe"/>
                                <button class="card-link" type="submit">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    Subscribe
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <a class="btn btn-default btn-block bg-yellow card-link payment-item" href="{% url 'register' %}">
                Register Now
            </a>
        {% endif %}
    </div>

    <div class="card-footer">
        <button class="card-link" data-category="learnMore" data-action="buttonClick" data-label="body">
            More details
        </button>
    </div>
</div>
