{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="header">
    <h1 class="title">Created Plans
        <a class="btn btn-primary pull-right" href="{% url 's_create_plan' %}">
            <span class="glyphicon glyphicon-plus"></span> Create</a>
    </h1>
</div>

<div class="clear"></div>

<div class="card-container plans" data-type="card-container">
    {% for plan in plans_created %}
        <div class="card" data-type="card">
            {% include 'teeinsight/plans/plans_card_front.html' %}

            {% include 'teeinsight/plans/plans_card_back.html' %}
        </div>
    {% empty %}
        <em>No plans yet</em>
    {% endfor %}
</div>
