{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="card-payment {% if user.is_superuser %}sandbox{% endif %}">
    {% if user.is_authenticated and user.is_superuser %}
        {% if plan.state == 'ACTIVE' %}
            <form class="payment-form payment-item"
                  data-type="none"
                  action="{% url 's_inactivate_plan' id=plan.id %}"
                  method="post">
                <input type="hidden" id="inactivate" name="inactivate" value="inactivate"/>
                <button class="card-link" type="submit">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    Inactivate
                </button>
            </form>
        {% else %}
            <form class="payment-form payment-item"
                  data-type="none"
                  action="{% url 's_activate_plan' id=plan.id %}"
                  method="post">
                <input type="hidden" id="activate" name="activate" value="activate"/>
                <button class="card-link" type="submit">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    Activate
                </button>
            </form>
            <form class="payment-form payment-item"
                  data-type="none"
                  action="{% url 's_update_plan' id=plan.id %}"
                  method="post">
                <input type="hidden" id="update" name="update" value="update"/>
                <button class="card-link" type="submit">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Update
                </button>
            </form>
            <form class="payment-form payment-item"
                  data-type="none"
                  action="{% url 's_delete_plan' id=plan.id %}"
                  method="post">
                <input type="hidden" id="delete" name="delete" value="delete"/>
                <button class="card-link" type="submit">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    Delete
                </button>
            </form>
        {% endif %}
    {% else %}
        <a class="btn btn-default btn-block bg-yellow card-link payment-item" href="{% url 'register' %}">
            Register Now
        </a>
    {% endif %}
</div>
