{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#main" aria-controls="main"
                           role="tab" data-toggle="tab">Main</a></li>
                    <li role="presentation">
                        <a href="#agreement" aria-controls="agreement"
                           role="tab" data-toggle="tab">Agreement</a></li>
                    <li role="presentation">
                        <a href="#message" aria-controls="message"
                           role="tab" data-toggle="tab">Message</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="main">
                        {% include 'teeinsight/plans/subscription_details_content.html' %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="agreement">
                        <pre>{{ agreement }}</pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="message">
                        <pre>{{ message|jsonify }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
