{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{{ agreement.description }}</h3>

        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-sm">Suspend</a>
            <a href="#" class="btn btn-default btn-sm">Cancel</a>
            <a href="{% url 's_payment_history' id=agreement.id description=agreement.description %}"
               class="btn btn-default btn-sm">Payment history</a>
        </div>
    </div>
    <div class="panel-body">
        <p><b>ID: </b>{{ agreement.id }}</p>

        <p><b>State: </b>{{ agreement.state }}</p>

        <p><b>Start Date: </b>{{ agreement.start_date }}</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'agreement details'|title }}</h3>
            </div>
            <div class="panel-body">
                {% with agreement.agreement_details as agreement_details %}
                    <p><b>Cycles Remaining: </b>{{ agreement_details.cycles_remaining }}</p>

                    <p><b>Cycles Completed: </b>{{ agreement_details.cycles_completed }}</p>

                    <p><b>Failed Payment Count: </b>{{ agreement_details.failed_payment_count }}</p>

                    <p>
                        <b>Outstanding Balance: </b>
                        {{ agreement_details.outstanding_balance.value }} {{ agreement_details.outstanding_balance.currency }}
                    </p>

                    <p>
                        <b>Last Payment Amount: </b>
                        {{ agreement_details.last_payment_amount.value }} {{ agreement_details.last_payment_amount.currency }}
                    </p>

                    <p>
                        <b>Last Payment Date: </b>
                        {{ agreement_details.last_payment_date|default_if_none:'-none-' }}
                    </p>

                    <p>
                        <b>Next Bill Date: </b>
                        {{ agreement_details.next_billing_date|default_if_none:'-none-' }}
                    </p>

                    <p>
                        <b>Final Payment Date: </b>
                        {{ agreement_details.final_payment_date|default_if_none:'-none-' }}
                    </p>
                {% endwith %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'payer'|title }}</h3>
            </div>
            <div class="panel-body">
                {% with agreement.payer as payer %}
                    <p><b>{{ 'payment method'|title }}: </b>{{ payer.payment_method }}</p>
                    <p><b>{{ 'status'|title }}: </b>{{ payer.status }}</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'payer info'|title }}</h3>
                        </div>
                        <div class="panel-body">
                            {% with payer.payer_info as payer_info %}
                                <p><b>{{ 'payer id'|title }}: </b>{{ payer_info.payer_id }}</p>
                                <p><b>{{ 'name'|title }}: </b>{{ payer_info.first_name }} {{ payer_info.last_name }}</p>
                                <p><b>{{ 'email'|title }}: </b>{{ payer_info.email }}</p>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ 'shipping address'|title }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {% with payer_info.shipping_address as shipping_address %}
                                            <p><b>{{ 'state'|title }}: </b>{{ shipping_address.state }}</p>
                                            <p>
                                                <b>{{ 'recipient name'|title }}: </b>{{ shipping_address.recipient_name }}
                                            </p>
                                            <p><b>{{ 'line1'|title }}: </b>{{ shipping_address.line1 }}</p>
                                            <p><b>{{ 'country code'|title }}: </b>{{ shipping_address.country_code }}
                                            </p>
                                            <p><b>{{ 'city'|title }}: </b>{{ shipping_address.city }}</p>
                                            <p><b>{{ 'postal_code'|title }}: </b>{{ shipping_address.postal_code }}</p>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'shipping address'|title }}</h3>
            </div>
            <div class="panel-body">
                {% with agreement.shipping_address as shipping_address %}
                    <p><b>{{ 'state'|title }}: </b>{{ shipping_address.state }}</p>
                    <p>
                        <b>{{ 'recipient name'|title }}: </b>{{ shipping_address.recipient_name }}
                    </p>
                    <p><b>{{ 'line1'|title }}: </b>{{ shipping_address.line1 }}</p>
                    <p><b>{{ 'country code'|title }}: </b>{{ shipping_address.country_code }}
                    </p>
                    <p><b>{{ 'city'|title }}: </b>{{ shipping_address.city }}</p>
                    <p><b>{{ 'postal_code'|title }}: </b>{{ shipping_address.postal_code }}</p>
                {% endwith %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'links'|title }}</h3>
            </div>
            <div class="panel-body">
                {% for link in agreement.links %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><b>{{ 'method'|title }}: </b>{{ link.method }}</p>

                            <p><b>{{ 'rel'|title }}: </b>{{ link.rel }}</p>

                            <p><b>{{ 'href'|title }}: </b>{{ link.href }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Plan'|title }}</h3>
            </div>
            <div class="panel-body">
                {% with agreement.plan as plan %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'payment definitions'|title }}</h3>
                        </div>
                        <div class="panel-body">
                            {% for payment_definition in plan.payment_definitions %}
                                <p><b>Frequency: </b>
                                    {{ payment_definition.frequency_interval }} {{ payment_definition.frequency }}</p>

                                <p><b>Type: </b>{{ payment_definition.type }}</p>

                                <p><b>Cycles: </b>{{ payment_definition.cycles }}</p>

                                <p>
                                    <b>Amount: </b>
                                    {{ payment_definition.amount.value }} {{ payment_definition.amount.currency }}
                                </p>

                                {% for charge_model in payment_definition.charge_models %}
                                    <p>
                                        <b>{{ charge_model.type }}: </b>
                                        {{ charge_model.amount.value }} {{ charge_model.amount.currency }}
                                    </p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'merchant preferences'|title }}</h3>
                        </div>
                        <div class="panel-body">
                            {% with plan.merchant_preferences as merchant_preferences %}
                                <p><b>Auto Bill Amount: </b>{{ merchant_preferences.auto_bill_amount }}</p>

                                <p><b>Max Fail Attempts: </b>{{ merchant_preferences.max_fail_attempts }}</p>

                                <p>
                                    <b>Setup Fee: </b>
                                    {{ merchant_preferences.setup_fee.value }} {{ merchant_preferences.setup_fee.currency }}
                                </p>
                            {% endwith %}
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>

    </div>
</div>

