{% load staticfiles %}
{% load filters %}

<!--suppress ALL -->
<div class="row">
<div class="col-md-12">
<div class="content detail-flow">
<div class="row">
<div class="flow-steps">
<div id="learn" data-0="opacity: 1;position:relative" data-850="opacity:1"
     data-950="opacity: 1;transition: all 0.5s;-webkit-transition: all 0.5s">
    <div class="step step-start" style="padding: 0">
        <svg version="1.1" id="Layer_1" data-0="display:block" data-850="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s;" data-950="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s; display:block"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">
                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="128"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="128"/>

                                <line fill="none" class="path delay-svg-05s" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-miterlimit="1000" x1="50%" y1="128" x2="78%" y2="128"/>
                                <line fill="none" class="dashed" stroke="#fff" stroke-width="4"  stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="128" x2="78%" y2="128"/>

                                <line class="path delay-svg-1s" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="128" x2="78%" y2="100%"/>
                            <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="128" x2="78%" y2="100%"/>
                            </svg>
    </div>

    <div class="step step-learn">
        <div class="col-md-8 text-zone" data-0="left:-100%" data-850="left:-100%"
             data-950="transition:all 0.5s 0s; left: 0%;-webkit-transition:all 0.5s 0s">
            <h1 class="step-title" data-parallax="ease:0.3, from:0, to:-20">Learn from<br/>your
                competitors</h1>

            <p class="step-description">Huge campaigns storage and there are a lot of new campaigns
                added each day from all platforms to have critical insights for your designing
                profitable
                assets.<br/><br/>Analytical
                data from your competitors’ campaigns will shine your way.</p>
            <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
                Try it<i class="fa fa-play"></i>
            </a>
        </div>
        <div class="col-md-4 mark-zone" data-0="right:-100%" data-850="right:-100%"
             data-950="transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;right: 0%"
             data-parallax="ease:0.3, from:-15, to:30"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="step step-ideas" id="idea">
    <div class="step" style="position: absolute; top:-30px; height: 100%;padding: 0">
        <svg version="1.1" id="Layer_2" data-0="display:none" data-1100="opacity:0;transition:all 0.5s;-webkit-transition: all 0.5s;" data-1300="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s; display:block"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="0" x2="78%" y2="125"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="0" x2="78%" y2="125"/>

                                <line fill="none" class="path delay-svg-05s" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-miterlimit="1000" x1="78%" y1="128" x2="40%" y2="128"/>
                                <line fill="none" class="dashed" stroke="#fff" stroke-width="4"  stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="128" x2="40%" y2="128"/>

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="40%" y1="128" x2="40%" y2="168"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="40%" y1="128" x2="40%" y2="168"/>

                                <line fill="none" class="path delay-svg-1s" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-miterlimit="1000" x1="40%" y1="168" x2="50%" y2="168"/>
                                <line fill="none" class="dashed" stroke="#fff" stroke-width="4"  stroke-linecap="round" stroke-miterlimit="10" x1="40%" y1="168" x2="50%" y2="168"/>

                                <line class="path delay-svg-15s" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="168" x2="50%" y2="100%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="168" x2="50%" y2="100%"/>

                            </svg>
    </div>
    <div data-0="left:-200%" data-1300="left:-200%; position:relative;"
         data-1400="left:0; transition:all 0.5 0s;-webkit-transition:all 0.5s 0s;">
        <div class="col-md-12 mark-zone" data-parallax="ease:0.3, from:15, to:-15"></div>
        <div class="col-md-6 text-zone">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="step-title highlight" data-parallax="ease:0.2, from:-5, to:10"><kbd>Find
                        Ideas</kbd></h1>
                    <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
                        Try it<i class="fa fa-play"></i>
                    </a>
                </div>
            </div>

            <p class="step-description">Our insightful dimensional data stretching across all
                platforms
                incorporate with our BIG DATA is the great chance for growing the ideas .</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="step step-support" id="support">
    <div class="step" style="position: absolute; top:0px; height: 100%;padding: 0">
        <svg version="1.1" id="Layer_3" data-0="display:none" data-1600="opacity:0;transition:all 0.5s;-webkit-transition: all 0.5s;" data-1800="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s; display:block"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="100%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="100%"/>

                            </svg>
    </div>

    <div class="col-lg-6 col-lg-offset-6" data-0="right:-200%"
         data-1600="right:-200%; position:relative; top:25px"
         data-1800="right: 0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
        <div class="col-md-4 mark-zone" data-parallax="ease:0.3, from:-25, to:15"></div>
        <div class="col-lg-8 text-zone">
            <h1 class="step-title" data-parallax="ease:0.2, from:5, to:-10">Support<br/>Your
                Campaigns
            </h1>

            <p class="step-description">Along with us, you will be able to manage your campaigns at ease.
                Let your initiatives alone thrive.</p>
            <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
                Try it<i class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>

<div class="step step-analyze" id="analyze">
    <div class="step" style="position: absolute; top:0px; height: 100%; padding: 0; ">
        <svg version="1.1" id="Layer_4" data-0="display:none" data-2200="opacity:0;transition:all 0.5s;-webkit-transition: all 0.5s;" data-2400="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s; display:block"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="50%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="0" x2="50%" y2="50%"/>

                                <line class="path delay-svg-05s" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="50%" x2="80%" y2="50%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="50%" y1="50%" x2="80%" y2="50%"/>

                                <line class="path delay-svg-05s" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="80%" y1="50%" x2="80%" y2="99%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="80%" y1="50%" x2="80%" y2="99%"/>

                                <line class="path delay-svg-1s" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="80%" y1="99%" x2="15%" y2="99%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="80%" y1="99%" x2="15%" y2="99%"/>
                            </svg>
    </div>

    <div>
        <h1 class="step-title" data-0="left:-200%"
            data-2000="left:-200%; position:relative; top:25px"
            data-2200="left:0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">Analyze Your
            Business</h1>

        <div class="col-md-6 col-sm-12 text-zone" data-0="left:-200%"
             data-2000="left:-200%; position:relative; top:25px"
             data-2200="left:0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
            <p class="step-description">The constant updated research data insights beneficial for
                your
                making
                the right decisions via joining the right trends & niches of the market.<br/><br/>Manageable
                tools to help analyze and optimize your business.</p>
            <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
                Try it<i class="fa fa-play"></i>
            </a>
        </div>
        <div class="col-md-7 col-sm-12 mark-zone" data-0="right:-200%"
             data-2000="right:-200%; position:relative; top:25px"
             data-2200="right:0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;"></div>
        <div class="clear"></div>
    </div>
</div>

<div class="step step-aggregate" id="aggregate">
<div class="step" style="position: absolute; top:-5px; height: 100%; padding:0; ">
    <svg version="1.1" id="Layer_5" data-0="display:none" data-2700="opacity:0;transition:all 0.5s;-webkit-transition: all 0.5s;" data-2900="opacity:1;transition:all 0.5s;-webkit-transition: all 0.5s; display:block"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="15%" y1="0" x2="15%" y2="70%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="15%" y1="0" x2="15%" y2="70%"/>

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="15%" y1="70%" x2="78%" y2="70%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="15%" y1="70%" x2="78%" y2="70%"/>

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="70%" x2="78%" y2="100%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="70%" x2="78%" y2="100%"/>
                            </svg>
</div>

<div>
<div class="col-lg-8 col-lg-offset-2 col-md-12 text-zone" data-0="transform:scale(0)"
     data-2600="transform:scale(0); position:relative;"
     data-2800="transform: scale(1);transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
    <h1 class="step-title highlight"><kbd>Aggregate
        Data and Compare</kbd></h1>

    <p class="step-description">We are a Big Data Entity and we make every data valuable and
        comparable
        for your business goal.</p>
    <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
        Try it<i class="fa fa-play"></i>
    </a>
</div>
<div>
<div class="col-lg-8 col-lg-offset-2 col-md-12 mark-zone"
     data-0="width: 0; overflow:hidden"
     data-2700="display:block; width: 0; position:relative;"
     data-2900="display: block;width:100%;transform-origin:0 0;transition:all 2s 0s;-webkit-transition:all 2s 0s;">
<svg version="1.1" id="Layer_0" class="svg-line chart-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="827.381px" height="357.143px" viewBox="0 0 827.381 357.143" enable-background="new 0 0 827.381 357.143"
                                         xml:space="preserve">
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="25.6274" y1="185.0049" x2="792.3184" y2="185.0049">
                                        <stop  offset="0" style="stop-color:#00AEEF"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF"/>
                                    </linearGradient>
                                    <polygon opacity="0.3" fill="url(#SVGID_1_)" points="25.627,340.719 25.627,224.43 93.604,224.43 163.729,154.305 231.66,154.305
                                        265.4,120.564 509.416,120.564 578.783,51.197 613.756,86.168 670.633,29.291 792.318,29.291 792.318,340.51 "/>
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="27.645" y1="194.3105" x2="792.293" y2="194.3105">
                                        <stop  offset="0" style="stop-color:#BE1E2D"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF"/>
                                    </linearGradient>
                                    <polyline opacity="0.3" fill="url(#SVGID_2_)" points="27.645,339.07 274.71,93.607 306.943,93.396 349.845,48.111 480.789,48.111
                                        551.322,118.645 618.844,118.645 653.482,84.007 684.973,84.007 719.434,49.545 792.293,49.545 792.293,340.51 "/>
                                    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="27.6138" y1="232.502" x2="792.293" y2="232.502">
                                        <stop  offset="0" style="stop-color:#F7941E"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF"/>
                                    </linearGradient>
                                    <polygon opacity="0.3" fill="url(#SVGID_3_)" points="27.614,338.733 27.614,126.271 197.735,126.271 332.948,261.484
                                        462.418,261.484 506.217,217.686 540.736,252.206 572.826,252.206 606.607,218.425 792.293,218.425 792.293,338.733 "/>
                                    <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="26.395" y1="225.207" x2="792.2031" y2="225.207">
                                        <stop  offset="0" style="stop-color:#39B54A"/>
                                        <stop  offset="1" style="stop-color:#FFFFFF"/>
                                    </linearGradient>
                                    <polygon opacity="0.3" fill="url(#SVGID_4_)" points="26.395,339.253 26.395,266.586 142.601,266.586 185.847,223.34
                                        218.155,223.34 288.15,153.346 419.289,153.346 462.73,109.903 578.996,109.903 649.568,180.475 680.979,180.475 725.129,136.324
                                        792.203,136.324 792.203,340.51 "/>
                                    <path fill="#87AB66" d="M798.219,130.397c-2.981,0-5.449,2.171-5.926,5.017h-67.939v0.134l-43.375,43.374h-31.029l-70.125-70.125
                                        l-0.035,0.036v-0.036h-117.08v0.086l-43.42,43.422H288.345v0.064l-0.065-0.064l-70.125,70.125h-32.102v0.055l-43.452,43.453H26.395
                                        v2h117.079v-0.045l43.462-43.463h31.947v-0.1l0.1,0.1l70.125-70.125h131.095v-0.086l43.42-43.422h115.373l70.125,70.125l0.037-0.036
                                        v0.036h32.83v-0.181l43.326-43.327h66.979c0.478,2.846,2.945,5.016,5.926,5.016c3.324,0,6.018-2.693,6.018-6.017
                                        C804.236,133.091,801.543,130.397,798.219,130.397z"/>
                                    <path fill="#DA4E4E" d="M798.219,43.668c-2.98,0-5.449,2.17-5.926,5.016h-72.551l-34.77,34.771h-31.98v0.062l-0.062-0.062
                                        l-34.771,34.771h-66.416l-70.039-70.039V48.1H349.845v0.011l-0.011-0.011l-43.507,43.508h-32.214v0.23l-0.23-0.23L26.395,339.095
                                        l1.415,1.415l246.9-246.902h32.232v-0.212l0.212,0.212L350.662,50.1h130.127l70.125,70.125l0.08-0.081v0.081h67.85v-0.144
                                        l0.145,0.144l34.77-34.771h32.064v-0.021l34.75-34.75h71.721c0.477,2.846,2.945,5.017,5.926,5.017c3.324,0,6.018-2.693,6.018-6.017
                                        C804.236,46.361,801.543,43.668,798.219,43.668z"/>
                                    <path fill="#EBA537" d="M798.219,212.378c-2.98,0-5.449,2.171-5.926,5.016h-185.59v0.044l-34.727,34.727h-31.197l-34.771-34.771
                                        l-0.041,0.042l-0.043-0.042l-43.506,43.508H332.359L197.735,126.277v-0.006H27.315v2h169.586l134.63,134.63l0.039-0.039v0.039
                                        h131.857v-0.182l42.539-42.54l33.982,33.984l0.047-0.046v0.046h32.83v-0.021l34.75-34.75h184.717
                                        c0.477,2.847,2.945,5.017,5.926,5.017c3.324,0,6.018-2.693,6.018-6.017C804.236,215.071,801.543,212.378,798.219,212.378z"/>
                                    <path fill="#4BB2D0" d="M798.219,22.11c-3.039,0-5.543,2.254-5.951,5.18H669.824v0.02l-0.02-0.02l-56.049,56.05l-33.932-33.931
                                        l-0.141,0.142l-0.143-0.142l-70.125,70.125H265.578v0.038l-0.038-0.038l-34.771,34.771H163.81v0.08l-0.081-0.08L93.604,224.43
                                        H26.395v2h67.85v-0.188l0.188,0.188l70.125-70.125h67.102v-0.061l34.709-34.71h243.834v-0.042l0.041,0.042l69.439-69.438
                                        l32.658,32.658l-0.012,0.011l1.414,1.414l0.012-0.011l0.01,0.011l1.414-1.415l-0.01-0.011l55.463-55.464h121.686
                                        c0.541,2.766,2.977,4.853,5.9,4.853c3.324,0,6.018-2.693,6.018-6.017C804.236,24.804,801.543,22.11,798.219,22.11z"/>
                                    <path fill="#878787" d="M506.467,228.908c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V228.908z"/>
                                    <path fill="#878787" d="M506.467,235.908c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V235.908z"/>
                                    <path fill="#878787" d="M506.467,242.912c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V242.912z"/>
                                    <path fill="#878787" d="M506.467,249.912c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V249.912z"/>
                                    <path fill="#878787" d="M506.467,257.575c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V257.575z"/>
                                    <path fill="#878787" d="M506.467,264.575c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V264.575z"/>
                                    <path fill="#878787" d="M506.467,271.578c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V271.578z"/>
                                    <path fill="#878787" d="M506.467,278.578c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V278.578z"/>
                                    <path fill="#878787" d="M506.467,285.32c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V285.32z"/>
                                    <path fill="#878787" d="M506.467,292.32c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V292.32z"/>
                                    <path fill="#878787" d="M506.467,299.323c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V299.323z"/>
                                    <path fill="#878787" d="M506.467,306.323c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V306.323z"/>
                                    <path fill="#878787" d="M506.467,313.986c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V313.986z"/>
                                    <path fill="#878787" d="M506.467,320.986c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V320.986z"/>
                                    <path fill="#878787" d="M506.467,327.99c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V327.99z"/>
                                    <path fill="#878787" d="M506.467,334.99c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V334.99z"/>
                                    <path fill="#878787" d="M506.467,341.719c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V341.719z"/>
                                    <path fill="#878787" d="M275.703,94.156c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V94.156z"/>
                                    <path fill="#878787" d="M275.703,101.156c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V101.156z"/>
                                    <path fill="#878787" d="M275.703,108.16c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V108.16z"/>
                                    <path fill="#878787" d="M275.703,115.16c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V115.16z"/>
                                    <path fill="#878787" d="M275.703,122.823c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V122.823z"/>
                                    <path fill="#878787" d="M275.703,129.823c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V129.823z"/>
                                    <path fill="#878787" d="M275.703,136.826c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V136.826z"/>
                                    <path fill="#878787" d="M275.703,143.826c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V143.826z"/>
                                    <path fill="#878787" d="M275.703,150.568c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V150.568z"/>
                                    <path fill="#878787" d="M275.703,157.568c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V157.568z"/>
                                    <path fill="#878787" d="M275.703,164.571c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V164.571z"/>
                                    <path fill="#878787" d="M275.703,171.571c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V171.571z"/>
                                    <path fill="#878787" d="M275.703,179.234c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V179.234z"/>
                                    <path fill="#878787" d="M275.703,186.234c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V186.234z"/>
                                    <path fill="#878787" d="M275.703,193.238c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V193.238z"/>
                                    <path fill="#878787" d="M275.703,200.238c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V200.238z"/>
                                    <path fill="#878787" d="M275.703,206.967c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V206.967z"/>
                                    <path fill="#878787" d="M275.703,213.967c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V213.967z"/>
                                    <path fill="#878787" d="M275.703,220.971c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V220.971z"/>
                                    <path fill="#878787" d="M275.703,227.971c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V227.971z"/>
                                    <path fill="#878787" d="M275.703,235.634c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V235.634z"/>
                                    <path fill="#878787" d="M275.703,242.634c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V242.634z"/>
                                    <path fill="#878787" d="M275.703,249.637c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V249.637z"/>
                                    <path fill="#878787" d="M275.703,256.637c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V256.637z"/>
                                    <path fill="#878787" d="M275.703,263.379c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V263.379z"/>
                                    <path fill="#878787" d="M275.703,270.379c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V270.379z"/>
                                    <path fill="#878787" d="M275.703,277.383c0,0.551-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.449-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V277.383z"/>
                                    <path fill="#878787" d="M275.703,284.383c0,0.551-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.449-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V284.383z"/>
                                    <path fill="#878787" d="M275.703,292.045c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.551,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.449,0.5,1V292.045z"/>
                                    <path fill="#878787" d="M275.703,299.045c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.551,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.449,0.5,1V299.045z"/>
                                    <path fill="#878787" d="M275.703,306.049c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V306.049z"/>
                                    <path fill="#878787" d="M275.703,313.049c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V313.049z"/>
                                    <path fill="#878787" d="M275.703,320.051c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V320.051z"/>
                                    <path fill="#878787" d="M275.703,327.715c0,0.551-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.449-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V327.715z"/>
                                    <path fill="#878787" d="M275.703,334.715c0,0.551-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.449-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V334.715z"/>
                                    <path fill="#878787" d="M275.703,341.717c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.551,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.449,0.5,1V341.717z"/>
                                    <path fill="#878787" d="M143.87,271.303c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V271.303z"/>
                                    <path fill="#878787" d="M143.87,278.303c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V278.303z"/>
                                    <path fill="#878787" d="M143.87,285.307c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V285.307z"/>
                                    <path fill="#878787" d="M143.87,292.307c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V292.307z"/>
                                    <path fill="#878787" d="M143.87,299.97c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V299.97z"/>
                                    <path fill="#878787" d="M143.87,306.97c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V306.97z"/>
                                    <path fill="#878787" d="M143.87,313.973c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V313.973z"/>
                                    <path fill="#878787" d="M143.87,320.973c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V320.973z"/>
                                    <path fill="#878787" d="M143.87,327.715c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V327.715z"/>
                                    <path fill="#878787" d="M143.87,334.715c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V334.715z"/>
                                    <path fill="#878787" d="M143.87,341.718c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V341.718z"/>
                                    <path fill="#878787" d="M670.703,37.745c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V37.745z"/>
                                    <path fill="#878787" d="M670.703,44.745c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V44.745z"/>
                                    <path fill="#878787" d="M670.703,51.749c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V51.749z"/>
                                    <path fill="#878787" d="M670.703,58.749c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V58.749z"/>
                                    <path fill="#878787" d="M670.703,66.412c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V66.412z"/>
                                    <path fill="#878787" d="M670.703,73.412c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V73.412z"/>
                                    <path fill="#878787" d="M670.703,80.416c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V80.416z"/>
                                    <path fill="#878787" d="M670.703,87.416c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V87.416z"/>
                                    <path fill="#878787" d="M670.703,94.157c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V94.157z"/>
                                    <path fill="#878787" d="M670.703,101.157c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V101.157z"/>
                                    <path fill="#878787" d="M670.703,108.16c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V108.16z"/>
                                    <path fill="#878787" d="M670.703,115.16c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V115.16z"/>
                                    <path fill="#878787" d="M670.703,122.824c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V122.824z"/>
                                    <path fill="#878787" d="M670.703,129.824c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V129.824z"/>
                                    <path fill="#878787" d="M670.703,136.827c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V136.827z"/>
                                    <path fill="#878787" d="M670.703,143.827c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V143.827z"/>
                                    <path fill="#878787" d="M670.703,150.556c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V150.556z"/>
                                    <path fill="#878787" d="M670.703,157.556c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V157.556z"/>
                                    <path fill="#878787" d="M670.703,164.559c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V164.559z"/>
                                    <path fill="#878787" d="M670.703,171.559c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V171.559z"/>
                                    <path fill="#878787" d="M670.703,179.223c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V179.223z"/>
                                    <path fill="#878787" d="M670.703,186.223c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V186.223z"/>
                                    <path fill="#878787" d="M670.703,193.227c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V193.227z"/>
                                    <path fill="#878787" d="M670.703,200.227c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V200.227z"/>
                                    <path fill="#878787" d="M670.703,206.967c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V206.967z"/>
                                    <path fill="#878787" d="M670.703,213.967c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V213.967z"/>
                                    <path fill="#878787" d="M670.703,220.971c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V220.971z"/>
                                    <path fill="#878787" d="M670.703,227.971c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V227.971z"/>
                                    <path fill="#878787" d="M670.703,235.635c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V235.635z"/>
                                    <path fill="#878787" d="M670.703,242.635c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V242.635z"/>
                                    <path fill="#878787" d="M670.703,249.638c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V249.638z"/>
                                    <path fill="#878787" d="M670.703,256.638c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V256.638z"/>
                                    <path fill="#878787" d="M670.703,263.639c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V263.639z"/>
                                    <path fill="#878787" d="M670.703,271.303c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V271.303z"/>
                                    <path fill="#878787" d="M670.703,278.303c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V278.303z"/>
                                    <path fill="#878787" d="M670.703,285.307c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V285.307z"/>
                                    <path fill="#878787" d="M670.703,292.307c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V292.307z"/>
                                    <path fill="#878787" d="M670.703,299.047c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V299.047z"/>
                                    <path fill="#878787" d="M670.703,306.047c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V306.047z"/>
                                    <path fill="#878787" d="M670.703,313.051c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V313.051z"/>
                                    <path fill="#878787" d="M670.703,320.051c0,0.553-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.447-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V320.051z"/>
                                    <path fill="#878787" d="M670.703,327.715c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V327.715z"/>
                                    <path fill="#878787" d="M670.703,334.715c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.553,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.447,0.5,1V334.715z"/>
                                    <path fill="#878787" d="M670.703,341.718c0,0.552-0.225,1-0.5,1l0,0c-0.275,0-0.5-0.448-0.5-1v-3c0-0.552,0.225-1,0.5-1l0,0
                                        c0.275,0,0.5,0.448,0.5,1V341.718z"/>
                                    <circle opacity="0.6" fill="#0D0D0D" cx="505.967" cy="220.18" r="14.062"/>
                                    <circle fill="#FFFFFF" cx="505.967" cy="220.18" r="4.5"/>
                                    <circle opacity="0.6" fill="#0D0D0D" cx="670.203" cy="28.014" r="14.062"/>
                                    <circle fill="#FFFFFF" cx="670.203" cy="28.014" r="4.5"/>
                                    <circle opacity="0.6" fill="#0D0D0D" cx="275.203" cy="91.92" r="14.062"/>
                                    <circle fill="#FFFFFF" cx="275.203" cy="91.92" r="4.5"/>
                                    <circle opacity="0.6" fill="#0D0D0D" cx="143.37" cy="265.937" r="14.062"/>
                                    <circle fill="#FFFFFF" cx="143.37" cy="265.937" r="4.5"/>
                                    <path fill="#151515" d="M791.801,336.24c-0.549,0-0.992,0.566-0.992,1.264v1.229h-74.533v-1.229c0-0.697-0.443-1.264-0.992-1.264
                                        s-0.992,0.566-0.992,1.264v1.229h-74.533v-1.229c0-0.697-0.445-1.264-0.994-1.264s-0.992,0.566-0.992,1.264v1.229h-74.533v-1.229
                                        c0-0.697-0.443-1.264-0.992-1.264s-0.994,0.566-0.994,1.264v1.229h-74.531v-1.229c0-0.697-0.445-1.264-0.994-1.264
                                        s-0.992,0.566-0.992,1.264v1.229h-74.531v-1.229c0-0.697-0.444-1.264-0.993-1.264s-0.993,0.566-0.993,1.264v1.229h-74.531v-1.229
                                        c0-0.697-0.444-1.264-0.993-1.264c-0.549,0-0.993,0.566-0.993,1.264v1.229h-74.532v-1.229c0-0.697-0.444-1.264-0.993-1.264
                                        s-0.993,0.566-0.993,1.264v1.229H180.65v-1.229c0-0.697-0.444-1.264-0.993-1.264s-0.993,0.566-0.993,1.264v1.229h-74.532v-1.229
                                        c0-0.697-0.444-1.264-0.993-1.264s-0.993,0.566-0.993,1.264v1.229H27.614v-1.229V27.999h1.218c0.698,0,1.264-0.444,1.264-0.993
                                        s-0.566-0.993-1.264-0.993h-4.423c-0.698,0-1.264,0.444-1.264,0.993s0.566,0.993,1.264,0.993h1.218v309.505v3.215v1.208
                                        c0,0.698,0.444,1.265,0.993,1.265s0.993-0.566,0.993-1.265v-1.208h74.532v1.208c0,0.698,0.444,1.265,0.993,1.265
                                        s0.993-0.566,0.993-1.265v-1.208h74.532v1.208c0,0.698,0.444,1.265,0.993,1.265s0.993-0.566,0.993-1.265v-1.208h74.532v1.208
                                        c0,0.698,0.444,1.265,0.993,1.265s0.993-0.566,0.993-1.265v-1.208h74.532v1.208c0,0.698,0.444,1.265,0.993,1.265
                                        c0.549,0,0.993-0.566,0.993-1.265v-1.208h74.531v1.208c0,0.698,0.444,1.265,0.993,1.265s0.993-0.566,0.993-1.265v-1.208h74.531
                                        v1.208c0,0.698,0.443,1.265,0.992,1.265s0.994-0.566,0.994-1.265v-1.208h74.531v1.208c0,0.698,0.445,1.265,0.994,1.265
                                        s0.992-0.566,0.992-1.265v-1.208h74.533v1.208c0,0.698,0.443,1.265,0.992,1.265s0.994-0.566,0.994-1.265v-1.208h74.533v1.208
                                        c0,0.698,0.443,1.265,0.992,1.265s0.992-0.566,0.992-1.265v-1.208h74.533v1.208c0,0.698,0.443,1.265,0.992,1.265
                                        s0.994-0.566,0.994-1.265v-4.423C792.795,336.807,792.35,336.24,791.801,336.24z"/>
                                    </svg>
</div>
</div>
</div>
</div>

<div class="step step-alerts" id="alerts">
    <div class="step" style="position: absolute; top:-5px; height: 100%; padding:0; ">
        <svg version="1.1" id="Layer_6"
                                 class="svg-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   xml:space="preserve">

                                <line class="path" fill="none" stroke-width="2" stroke="#ccc" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="0" x2="78%" y2="100%"/>
                                <line class="dashed" fill="none" stroke-width="4" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" x1="78%" y1="0" x2="78%" y2="100%"/>

                            </svg>
    </div>

    <div>
        <div class="col-lg-5 col-lg-offset-2 col-md-8 text-zone" data-0="left: -200%"
             data-3100="left: -200%; position:relative; top:25px"
             data-3300="left: 0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
            <h1 class="step-title">Instant Alerts</h1>

            <p class="step-description">We are showing you opportunities alert, protecting alerts
                and
                more for your analysis or action at the right time.</p>
            <a href="#pricing" type="button" class="btn btn-lg step-try" role="try-it">
                Try it<i class="fa fa-play"></i>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 mark-zone alter-img">
            <div data-0="right: -300%; " data-3100="right: -300%; position:relative;"
                 data-3300="right: 0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
                <img src="{% static "images/web_teeinsight/bell.png" %}"
                     class="bell-img animated bell-tada" data-0="display:none "
                     data-3100="display:none;" data-3300="display:block"/>
            </div>
        </div>
    </div>
</div>

<div class="step step-end"></div>

<div class="clear"></div>
</div>
</div>
</div>
</div>
</div>
