{% load staticfiles %}
{% load filters %}

<div class="row" id="about">
    <div class="col-md-12">
        <div class="content">
            <div class="row" id="about-us">
                <div class="col-md-3 text-center info-box" data-0="opacity: 0;"
                     data-50="opacity: 0; transform: scale(0);"
                     data-700="opacity: 1; transform[bounce]: scale(1);transition:all 0.5s;-webkit-transition:all 0.5s">
                            <span class="info-icon about-us">
                                <img src="{% static 'images/web_teeinsight/about-us-gray.png' %}"/>
                            </span>

                    <div class="info-short-text">
                        <h3 class="info-title">About Us</h3>

                        <p>teeinsight is developed and powered by iTracker Corporation, an independent internet
                            data research company.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center info-box" data-0="opacity: 0;"
                     data-50="opacity: 0; transform: scale(0);"
                     data-700="opacity: 1; transform[bounce]: scale(1); transition:all 0.5s;-webkit-transition:all 0.5s">
                    <span class="info-icon our-services">
                        <img src="{% static 'images/web_teeinsight/our-services-gray.png' %}"/>
                    </span>

                    <div class="info-short-text">
                        <h3 class="info-title">Our Services</h3>

                        <p>teeinsight is the data insights platform for online tee &amp; accessories sellers to
                            catch up in-time with the market campaigns and convey the ideas for successful
                            campaigns from every piece of data value.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center info-box" data-0="opacity: 0;"
                     data-50="opacity: 0; transform: scale(0);"
                     data-700="opacity: 1; transform[bounce]: scale(1); left: 0px;transition:all 0.5s;-webkit-transition:all 0.5s">
                            <span class="info-icon our-product">
                                <img src="{% static 'images/web_teeinsight/our-product-gray.png' %}"/>
                            </span>

                    <div class="info-short-text">
                        <h3 class="info-title">Our Product</h3>

                        <p>Our product is composed of sets of data values from all key crowded platforms as:
                            teespring.com, viralstyle.com, teezily.com, gearlaunch.com, ...</p>
                    </div>
                </div>
                <div class="col-md-3 text-center info-box" data-0="opacity: 0;"
                     data-50="opacity: 0; transform: scale(0);"
                     data-700="opacity: 1; transform[bounce]: scale(1); left: 0px;transition:all 0.5s;-webkit-transition:all 0.5s">
                                <span class="info-icon why-us">
                                    <img src="{% static 'images/web_teeinsight/why-us-gray.png' %}"/>
                                </span>

                    <div class="info-short-text">
                        <h3 class="info-title">Why Us</h3>

                        <p>We are the independent research entity. Thus, we are always and only looking into
                            the most valued data insights for the sake of your business, and that is our
                            business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
