{% load staticfiles %}
{% load filters %}

<div class="row">
    <div class="col-md-12">
        <div class="content detail-contact-map" id="contact-us">
            <div class="row">
                <div class="col-md-7" data-0="left: -200%" data-4200="left: -200%; position:relative;"
                     data-4600="left: 0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
                    <form class="contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   id="id_sender" name="sender" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control"
                                   id="id_telephone" name="telephone" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control"
                                   id="id_email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="14"
                                      id="id_message" name="message" placeholder="Message"></textarea>
                        </div>
                        <button type="reset" class="btn btn-default">Clear</button>
                        <button type="submit" class="btn btn-default">Send</button>
                    </form>
                </div>
                <div class="col-md-5" data-0="right: -200%" data-4200="right: -200%; position:relative;"
                     data-4600="right: 0;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.7642683184677!2d106.67234051471382!3d10.808031361565167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752920c1660543%3A0x7004b05b8cf39221!2zMTU4LTE1OEEgxJDDoG8gRHV5IEFuaCwgcGjGsOG7nW5nIDksIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e1!3m2!1svi!2sus!4v1471258756714"
                            width="375" height="375" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div class="row detail-address">
                        <address class="col-md-6 text-left">
                            <strong>Gia Thy Building</strong><br/>
                            158 Dao Duy Anh Str.<br/>
                            Phu Nhuan Dist, HCMC.
                        </address>
                        {% comment %}
                        <address class="col-md-6 text-left">
                            +84 937 355 440<br/>
                            +84 123 366 300<br/>
                            <a href="mailto:info@teeinsight.com">info@teeinsight.com</a><br/>
                            <a href="mailto:@teeinsight.support">@teeinsight.support</a>
                        </address>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
