{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="testimonial-faq" class="col-md-12" data-0="opacity: 0"
         data-4300="display:block; opacity:0; position:relative; top:25px"
         data-4600="opacity:1;transition:all 0.5s 0s;-webkit-transition:all 0.5s 0s;">
        <div class="content detail-testimonial-faq">
            <div class="row">
                <div class="col-md-6">
                    <h1>Testimonial</h1>
                    {% for testi in 3|get_range %}
                        <div class="detail-testimonial animated">
                            <img src="{% static 'images/user1-128x128.jpg' %}" alt="testimonial" class="img-circle"/>

                            <div class="testimonial-quote">
                                <a href="javascript:void(0)">@teeinsight</a> Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                                <span class="testimonial-name">Testimonial - CEO</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h1>FAQs</h1>
                    {% for testi in 3|get_range %}
                        <div class="detail-faq animated">
                            <a href="javascript:void(0)">This is Photoshop's version of Lorem Ipsum?</a>

                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
                                accumsan ipsum velit.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
