{% load staticfiles %}
{% load filters %}
<div class="wrapper">
    {#    <div class="row">#}
    <div class="wrapper-content detail-content">
        {% include 'webteeinsight/detail_content_info_boxs.html' %}

        {% include 'webteeinsight/detail_content_flow.html' %}

        {% include 'webteeinsight/detail_content_plans.html' %}

        {#            {% include 'webteeinsight/detail_content_testimonial_faq.html' %}#}

        {% include 'webteeinsight/detail_content_contact_map.html' %}
    </div>
    {#    </div>#}

    <div class="clear"></div>
</div>
