{% load staticfiles %}
{% load filters %}

<div class="row">
    <div id="pricing" class="col-md-12" data-0="opacity: 0"
         data-3600="display:block; opacity:0; position:relative; top:25px"
         data-3900="opacity:1;transition:all 0.5s;-webkit-transition:all 0.5s;">
        <div class="content detail-plans">
            <h1>GET STARTED & PRICING</h1>

            <div class="row plan-packs">
                <div class="col-md-4 plan-pack">
                    <span class="plan-icon"><img src="{% static 'images/web_teeinsight/star_0.png' %}"/></span>

                    <div class="plan-card">
                        <div class="plan-card-header">
                            <h1>Free</h1>
                            <span>Proin sagittis nibh</span>
                        </div>
                        <div class="plan-card-body">
                            <ul class="plan-features">
                                <li>- Access to all campaigns.</li>
                                <li>- Get updated with constant new campaigns.</li>
                                <li>- Social statistical data for evaluating the campaigns performance.</li>
                                <li>- Key websites data trends by demographics in key markets.</li>
                                <li>- Free Of Charge (FOC) for updated data scales more data insights development in the
                                    future.
                                </li>
                            </ul>
                            <span class="plan-price">Free</span>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'register' %}" class="btn btn-default btn-block button" type="submit">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack">
                    <span class="plan-icon"><img src="{% static 'images/web_teeinsight/star_05.png' %}"/></span>

                    <div class="plan-card">
                        <div class="plan-card-header">
                            <h1>Lite</h1>
                            <span>Vivamus Adispicing</span>
                        </div>
                        <div class="plan-card-body">
                            <ul class="plan-features">
                                <li>- Access to all campaigns.</li>
                                <li>- Get updated with constant new campaigns.</li>
                                <li>- Social statistical data for evaluating the campaigns performance.</li>
                                <li>- Key websites data trends by demographics in key markets.</li>
                                <li>- Free Of Charge (FOC) for updated data scales more data insights development in the
                                    future.
                                </li>
                            </ul>
                            <span class="plan-price">$29<sup class="top">99</sup><small> /mo</small></span>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'register' %}" class="btn btn-default btn-block button" type="submit">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 plan-pack">
                    <span class="plan-icon"><img src="{% static 'images/web_teeinsight/star_1.png' %}"/></span>

                    <div class="plan-card">
                        <div class="plan-card-header">
                            <h1>Full Platform</h1>
                            <span>You Get Everything!</span>
                        </div>
                        <div class="plan-card-body">
                            <ul class="plan-features">
                                <li>- Access to all campaigns.</li>
                                <li>- Get updated with constant new campaigns.</li>
                                <li>- Social statistical data for evaluating the campaigns performance.</li>
                                <li>- Key websites data trends by demographics in key markets.</li>
                                <li>- Free Of Charge (FOC) for updated data scales more data insights development in the
                                    future.
                                </li>
                            </ul>
                            <span class="plan-price">$49<sup class="top">99</sup><small> /mo</small></span>
                        </div>
                        <div class="plan-card-footer">
                            <a href="{% url 'register' %}" class="btn btn-default btn-block button" type="submit">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
