{% load staticfiles %}
<header class="main-header" id="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive animated"/>
            </a>
        </div>

        <div class="navbar-custom-menu login-box animated">
            <ul class="nav navbar-nav animated">
                {% if user.is_authenticated %}
                    <li class="user user-menu">
                        <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
                            <img src="{% static 'images/icon_256.png' %}" class="user-image hidden-sm"
                                 alt="User Image">
                            <span>{{ user.username|default:'anonymous' }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-fw fa-lock"></i>Sign Out
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
                            <i class="fa fa-fw fa-key fa-flip-horizontal"></i>Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">
                            <i class="fa fa-fw fa-user"></i>Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
