{% load staticfiles %}
<div class="animated right-sidebar ">
    <header class="main-header sidebar-header animated">
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" class="sidebar-toggle" sidebar_toggle role="button">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-3x fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="navbar-custom-menu login-box-res animated">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="user user-menu">
                    <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
                        <img src="{% static 'images/icon_256.png' %}" class="user-image hidden-xs"
                             alt="User Image">
                        <span>{{ user.username|default:'anonymous' }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-fw fa-lock"></i>Sign Out
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">
                        <i class="fa fa-fw fa-key fa-flip-horizontal"></i>Login
                    </a>
                </li>
                <li>
                    <a href="{% url 'register' %}">
                        <i class="fa fa-fw fa-user"></i>Sign Up
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="sidebar-body" id="right-bar">
        <ul class="menu-custom">
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#learn">Learn From Your Competitors</a></li>
            <li><a href="#idea">Find Ideas</a></li>
            <li><a href="#support">Support Your Campaigns</a></li>
            <li><a href="#analyze">Analyze Your Business</a></li>
            <li><a href="#aggregate">Aggregate Data and Compare</a></li>
            <li><a href="#alerts">Instant Alerts</a></li>
            <li><a href="#pricing">Pricing</a></li>
            {#<li><a href="#testimonial-faq">Testimonial and FAQ</a></li>#}
            <li><a href="#contact-us">Contact Us</a></li>
        </ul>
    </div>
    <ul class="menu-social">
        <li><a><i class="fa fa-2x fa-facebook"></i></a></li>
        <li><a><i class="fa fa-2x fa-google-plus"></i></a></li>
        <li><a><i class="fa fa-2x fa-skype"></i></a></li>
        <li><a><i class="fa fa-2x fa-linkedin"></i></a></li>
    </ul>
</div>
