{% load staticfiles %}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-0="width:100%;top:0; left:0"
     data-600="display:block">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% include 'webteeinsight/slide1_content.html' %}

        {% include 'webteeinsight/slide2_content.html' %}

        {% include 'webteeinsight/slide3_content.html' %}

        {% include 'webteeinsight/slide4_content.html' %}
    </div>
</div>

