{% load staticfiles %}
<!--suppress ALL -->
<div class="wrapper item active">
    <div class="row">
        <div class="wrapper-content slide-content slide_1">
            <div class="teeinsight-title" mid-content>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.6em;">GROW</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.3em;">YOUR</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.1em;">BUSINESS</h1>

                <hr class="slideanimated slideInLeftSlider"/>

                <p class="text-black slideanimated slideInRightSlider" style="padding-right: 25%;">
                    <strong>teeinsight</strong>
                    – a place where all insights meet to grow ideas and thus, grow your business.</p>
                <a href="#pricing" type="button" role="try-it"
                   class="btn btn-lg btn-try btn-half-block slideanimated slideInRightSlider">
                    Try it<i class="fa fa-play"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
