{% load staticfiles %}
<!--suppress ALL -->
<div class="wrapper item">
    <div class="row">
        <div class="wrapper-content slide-content slide_3">
            <div class="teeinsight-title" mid-content>
                <h1 class="slideanimated slideInLeftSlider" style="margin-left: 0.6em;">ALONG</h1>

                <h1 class="slideanimated slideInLeftSlider" style="margin-left: 0.3em;">WITH</h1>

                <h1 class="slideanimated slideInLeftSlider" style="margin-left: 0.1em;">YOUR BUSINESS</h1>
                <hr class="slideanimated slideInLeftSlider"/>
                <p class=" slideanimated slideInRightSlider">
                    <strong>teeinsight</strong> – always along with your
                    business, always listen to your problem and help you out.</p>
                <a href="#pricing" type="button" role="try-it"
                   class="btn btn-lg btn-try btn-half-block  slideanimated slideInRightSlider">
                    Try it<i class="fa fa-play"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
