{% load staticfiles %}
<!--suppress ALL -->
<div class="wrapper item">
    <div class="row">
        <div class="wrapper-content slide-content slide_4">
            <div class="teeinsight-title" mid-content>
                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.6em;">Powered by</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.3em;">iTracker</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.1em;">Corporation</h1>
                <hr class=" slideanimated slideInLeftSlider"/>
                <p class="text-black slideanimated slideInRightSlider">
                    <strong>teeinsight</strong> – independent and
                    dedicated research business, powered by iTracker Corporation.</p>
                <a href="#pricing" type="button" role="try-it"
                   class="btn btn-lg btn-try btn-half-block slideanimated slideInRightSlider">
                    Try it<i class="fa fa-play"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
