{% load staticfiles %}
<!--suppress ALL -->
<div class="wrapper item">
    <div class="row">
        <div class="wrapper-content slide-content slide_2">
            <div class="teeinsight-title" mid-content>
                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.6em;">PUSH</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.3em;">HARD</h1>

                <h1 class="text-black slideanimated slideInLeftSlider" style="margin-left: 0.1em;">all limitations</h1>
                <hr class="slideanimated slideInLeftSlider"/>
                <p class="text-black slideanimated slideInRightSlider">
                    <strong>teeinsight</strong> – born to push hard all limitations for your sake of tee sales growth.
                </p>
                <a href="#pricing" type="button" role="try-it"
                   class="btn btn-lg btn-try btn-half-block slideanimated slideInRightSlider">
                    Try it<i class="fa fa-play"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
