{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="box box-solid box-info">
    <div class="box-header with-border text-center bg-light-blue">
        <h1>Choose a service package that's right for you.</h1>
    </div>
    <div class="box-body no-padding svc-packs">
        {% for pack in packages %}
            <div class="col-sm-3 col-md-3 no-padding svc-pack">
                <div class="box box-solid">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title"><strong>{{ pack.name }}</strong></h3>
                        <br/>
                        <strong><big>{{ pack.price|add_prefix }}</big> Per Month</strong>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked pack-features text-center">
                            <li>
                                <p>{{ pack.description|default_if_none:'No description'|safe }}</p>
                            </li>
                            {% for feature in pack.features %}
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-circle-o"></i> {{ feature|safe }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-circle-o"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-footer with-border text-center">
                        {% if user.is_authenticated %}
                            {% if pack.price %}
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
                                      target="_blank">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id"
                                           value="KUMZ2HPPEEGD4">
                                    <input type="hidden" name="on0" value="Payment Options">
                                    <label for="os0">Select Billing Cycle:
                                        <select name="os0">
                                            <option value="Option 1">$100.00 USD - monthly</option>
                                            <option value="Option 2">$600.00 USD - yearly</option>
                                        </select>
                                    </label>
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="image" name="submit"
                                           src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                                           alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" width="1" height="1"
                                         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                                </form>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-default btn-block bg-yellow" href="{% url 'register' %}">Register
                                Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                <hr/>
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
