{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="back">
    <h2 class="card-title-blue">{{ pack.name }} Use Cases</h2>

    <div class="card-content">
        <p>{{ pack.description|default_if_none:'No description'|safe }}</p>

        <ul class="nav nav-pills nav-stacked text-center">
            {% for feature in pack.features %}
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-circle-o"></i> {{ feature|safe }}
                    </a>
                </li>
            {% empty %}
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-circle-o"></i> features
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card-footer">
        <div class="cta">
            <a class="cta-button" target="_parent" href="{% url 'contact' %}"
               data-category="contactUs" data-action="buttonClick" data-label="body">Contact Us</a>
        </div>
    </div>
</div>
