{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

{% with action_url='https://www.sandbox.paypal.com/cgi-bin/webscr' merchant_email='ntphat691-facilitator@gmail.com' %}
    <form class="payment-form payment-item"
          data-type="none"
          action="{{ action_url }}" method="post" target="_blank">
        <div class="form-group">
            <input type="hidden" name="cmd" value="_xclick-subscriptions">
            <input type="hidden" name="business" value="{{ merchant_email }}">
            <input type="hidden" name="lc" value="IN">
            <input type="hidden" name="item_name" value="Times News">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="src" value="1">
            <input type="hidden" name="srt" value="1" title="total_cycle">
            <input type="hidden" name="a3" value="5" title="cycle_amount">
            <input type="hidden" name="p3" value="1">
            <input type="hidden" name="t3" value="D" title="cycle.D.W.M.Y">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="cancel_return" value="http://teeinsight.com/packages/">
            <input type="hidden" name="return" value="http://teeinsightin.com/packages/pdt-listener/">
            <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
        </div>
        <div class="form-group">
            <input type="image" name="submit"
                   src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                   alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" width="1" height="1"
                 src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif">
        </div>
    </form>
{% endwith %}