{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<form class="payment-form payment-item"
      data-type="none"
      action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="form-group">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="8CQAXKREAPZRE">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="on0" value="Payment Options">
    </div>
    <div class="form-group">
        <label>Select Billing Cycle:</label>

        <div class="btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="os0" value="1 Month" autocomplete="off">
                $50.00 USD - monthly
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="os0" value="1 Year" autocomplete="off">
                $400.00 USD - yearly
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="image" name="submit"
               src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif"
               alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" width="1" height="1"
             src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif">
    </div>
</form>
