{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    {% if tx_response.status == 'SUCCESS' %}
                        <h1 class="title" style="padding: 0 100px; text-align: justify;">
                            Thank you for your payment. Your transaction has been completed, and a receipt
                            for your purchase has been emailed to you. You may log into your account at
                            <a href="www.paypal.com" target="_blank">www.paypal.com</a> to view details of
                            this transaction.
                        </h1>
                    {% elif tx_response.status == 'FAIL' %}
                        <h1 class="title">{{ tx_response.status }}</h1>
                    {% endif %}
                </div>

                <div class="clear"></div>

                <div class="body-content">
                    {% if tx_response.status == 'SUCCESS' %}
                        <div class="row">
                            <div class="col-md-8">
                                <strong>Buyer Information</strong><br/>
                                <strong>Buyer Name:</strong>
                                {{ tx_response.first_name }} {{ tx_response.last_name }}
                                <span class="text-green">({{ tx_response.payer_status }})</span>
                                <br/>
                                <strong>Buyer Email:</strong> {{ tx_response.payer_email }}
                                <br/><br/>
                                <strong>Paid with:</strong> PayPal balance
                                <br/><br/>
                                <strong>Payment details</strong>
                                <table class="table table-bordered table-striped"
                                       summary="This table describes the payment activity.">
                                    <thead>
                                    <tr class="text-right">
                                        <th>Payment type</th>
                                        <th class="">Amount due each cycle</th>
                                        <th>Total cycles</th>
                                        <th>Remaining cycles</th>
                                        <th>Cycle frequency</th>
                                        <th class="">Amount received</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Initial Payment</td>
                                        <td class="text-right"><i>$0.00 USD</i></td>
                                        <td><i>--</i></td>
                                        <td><i>--</i></td>
                                        <td><i>--</i></td>
                                        <td class="text-right"><i>$0.00 USD</i></td>
                                    </tr>
                                    <tr>
                                        <td>Regular Recurring Payment</td>
                                        <td class="text-right">
                                            ${{ tx_response.mc_gross }} {{ tx_response.mc_currency }}</td>
                                        <td><i>Indefinite</i></td>
                                        <td><i>Indefinite</i></td>
                                        <td>{{ tx_response.option_selection1 }}</td>
                                        <td class="text-right">
                                            ${{ tx_response.mc_gross }} {{ tx_response.mc_currency }}</td>
                                    </tr>
                                    <tr>
                                        <td class="total text-right" colspan="6">
                                            <strong>Total
                                                ${{ tx_response.payment_gross }} {{ tx_response.mc_currency }}</strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <strong>Billing details</strong><br/>
                                {{ tx_response.payment_date }}<br/>
                                <strong>Item name</strong> {{ tx_response.item_name }}<br/>
                                {{ tx_response.option_name1 }} - {{ tx_response.option_selection1 }}<br/>
                                <strong>Next payment due</strong> {{ tx_response.ending_at }}<br/>
                                <strong>Last payment due</strong> <i>Indefinite - continue until canceled</i>
                            </div>
                        </div>
                    {% elif tx_response.status == 'FAIL' %}
                        <div class="row">
                            <div class="col-md-6 col-xs-offset-3">
                                <strong>
                                    <a href="https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1005&actp=RSS"
                                       target="_blank">
                                        Error: {{ tx_response.Error }}
                                    </a>
                                </strong>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% comment %}
                <pre>{{ tx_response|jsonify_s }}</pre>
                {% endcomment %}
            </div>
        </div>
    </section>
</div>
