{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="header">
    {% if packages|length %}
        <h1 class="title">Choose a service package that's right for you.</h1>
    {% else %}
        <h1 class="title">Soon!!</h1>
    {% endif %}
</div>

<div class="clear"></div>

<div class="card-container" data-type="card-container">
    {% for pack in packages %}
        <div class="card" data-type="card">
            {% include 'teeinsight/packages/packages_card_front.html' %}

            {% include 'teeinsight/packages/packages_card_back.html' %}
        </div>
    {% empty %}
        <em>No packages yet</em>
    {% endfor %}
</div>
