{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {% include 'teeinsight/packages/packages_cards_wrapper.html' %}
            </div>
        </div>
    </section>
</div>
