{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <h1 class="title">{{ 'Waiting...' }}</h1>
                </div>

                <div class="clear"></div>

                <div class="body-content">
                    {% comment %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#params_get" aria-controls="params_get"
                                       role="tab" data-toggle="tab">{{ 'params get'|title }}</a></li>
                                <li role="presentation">
                                    <a href="#params_post" aria-controls="params_post"
                                       role="tab" data-toggle="tab">{{ 'params post'|title }}</a></li>
                                <li role="presentation">
                                    <a href="#message" aria-controls="message"
                                       role="tab" data-toggle="tab">Message</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="params_get">
                                    <pre>{{ params_get|jsonify_s }}</pre>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="params_post">
                                    <pre>{{ params_post|jsonify_s }}</pre>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="message">
                                    <pre>{{ message|jsonify }}</pre>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</div>
