{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="front">
    <div class="card-image">
        <img src="{% static 'images/itracker.jpg' %}" alt="itracker">

        <div class="card-icon {% if user.is_superuser and next_subscription == pack.id %}next-pack{% endif %}">
            <img src="{% static 'images/icon_128.png' %}" alt="logo">
        </div>
    </div>

    <div class="card-content">
        <h2 class="card-title">{{ pack.name }}</h2>

        <p class="text-center"><strong><big>{{ pack.price|add_prefix }}</big> Per Month</strong></p>

        <p>{{ pack.description|default_if_none:'No description'|safe }}</p>
    </div>

    <div class="card-payment {% if user.is_superuser %}sandbox{% endif %}">
        {% if user.is_authenticated %}
            {% if current_subscription %}
                {% if current_subscription == pack.id %}
                    <button class="card-link payment-item" data-category="learnMore" data-action="buttonClick"
                            data-label="body" title="Ending at {{ ending_at }}">
                        Current package
                    </button>
                {% endif %}
            {% else %}
                {% if pack.name == 'Advanced' %}
                    {% include 'teeinsight/packages/packages_card_payment_sandbox_adv_form.html' %}
                {% elif pack.name == 'Medium' %}
                    {% include 'teeinsight/packages/packages_card_payment_sandbox_med_form.html' %}
                {% elif pack.name == 'Basic' %}
                    {% include 'teeinsight/packages/packages_card_payment_sandbox_bas_form.html' %}
                {% endif %}
            {% endif %}
        {% else %}
            <a class="btn btn-default btn-block bg-yellow card-link payment-item" href="{% url 'register' %}">
                Register Now
            </a>
        {% endif %}
    </div>

    <div class="card-footer">
        <button class="card-link" data-category="learnMore" data-action="buttonClick" data-label="body">
            More details
        </button>
    </div>
</div>
