{% load staticfiles %}
<header class="main-header" id="main-header">
    <nav class="navbar navbar-static-top navbar-autoupload">
        <div class="navbar-header">
            <a href="{% url 'autoupload' %}" class="navbar-brand logo-tee-insight">
                <img src="{% static 'images/logo_256x100.png' %}" class="img-responsive animated"/>
            </a>
        </div>

        <div class="navbar-custom-menu animated">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</header>
