{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="text-center">PayPal Subscription Button for Recurring Payments</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Subscription Details</h3>
                {% include 'autoupload/samples/forms/samples_recurring_payments_form.html' %}
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Process</h3>
                {% include 'autoupload/samples/forms/samples_panel_process_form.html' %}
                {% include 'autoupload/samples/samples_panel_pdt_listener.html' %}
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
