{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

{% if tx %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">Payment Data Transfer Listener</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {% if st == 'Completed' %}
                        <h3 class='text-success'>Payment SuccessFul</h3>
                        <p>Transaction Status - {{ st }}</p>
                        <p>Transaction Id - {{ tx }}</p>
                        {% if user.is_superuser %}
                            <pre>{{ tx_response }}</pre>
                        {% endif %}
                    {% else %}
                        <h3 class='text-warning'>Payment Failed</h3>
                        <p>Transaction Status - {{ 'Uncompleted' }}</p>
                        <p>Transaction Id - {{ tx }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
