{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="row">
    <div class="col-md-12">
        <img src="{% static 'images/web_teeinsight/mac.png' %}"
             style="margin: 72px auto;"
             class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'autoupload/samples/samples_panel_recurring_payments.html' %}
    </div>
    <div class="clear"></div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'autoupload/samples/samples_panel_template.html' %}
    </div>
    <div class="clear"></div>
</div>

