{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'template mail'|title }}</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#trail" aria-controls="trail"
                   role="tab" data-toggle="tab">{{ 'trail'|title }}</a></li>
            <li role="presentation" class="">
                <a href="#upgrade" aria-controls="upgrade"
                   role="tab" data-toggle="tab">{{ 'upgrade'|title }}</a></li>
            <li role="presentation" class="">
                <a href="#paid" aria-controls="paid"
                   role="tab" data-toggle="tab">{{ 'paid'|title }}</a></li>
            <li role="presentation" class="">
                <a href="#admin" aria-controls="admin"
                   role="tab" data-toggle="tab">{{ 'admin'|title }}</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="trail">
                {% include 'autoupload/samples/mails/samples_template_mail_trail.html' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="upgrade">
                {% include 'autoupload/samples/mails/samples_template_mail_upgrade.html' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="paid">
                {% include 'autoupload/samples/mails/samples_template_mail_paid.html' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="admin">
                {% include 'autoupload/samples/mails/samples_template_mail_admin.html' %}
            </div>
        </div>

    </div>
</div>
