{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="btn-group">
    <a type="button" class="btn btn-default {% if 10 == paginator.itemsPerPage %}active{% endif %}"
       rel="pag_item"
       data-page-link="{{ page_link }}" data-page-items="10" data-page="{{ paginator.currentPage }}"
       href="{{ page_link }}10/{{ paginator.currentPage }}">10</a>
    <a type="button" class="btn btn-default {% if 25 == paginator.itemsPerPage %}active{% endif %}"
       rel="pag_item"
       data-page-link="{{ page_link }}" data-page-items="25" data-page="{{ paginator.currentPage }}"
       href="{{ page_link }}25/{{ paginator.currentPage }}">25</a>
    <a type="button" class="btn btn-default {% if 50 == paginator.itemsPerPage %}active{% endif %}"
       rel="pag_item"
       data-page-link="{{ page_link }}" data-page-items="50" data-page="{{ paginator.currentPage }}"
       href="{{ page_link }}50/{{ paginator.currentPage }}">50</a>
    <a type="button" class="btn btn-default {% if 100 == paginator.itemsPerPage %}active{% endif %}"
       rel="pag_item"
       data-page-link="{{ page_link }}" data-page-items="100" data-page="{{ paginator.currentPage }}"
       href="{{ page_link }}100/{{ paginator.currentPage }}">100</a>
</div>
