{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="col-xs-12">
    <div class="box box-default box-custom" id="campaigns_box">
        {% csrf_token %}
        {% include 'teeinsight/campaigns/campaigns_table_header_wrapper.html' %}
        <div class="box-body box-table-responsive">
            <table id="campaigns" class="display table table-bordered table-striped table-hover table-custom">
                <thead>
                {% include 'teeinsight/campaigns/campaigns_table_row_title_wrapper.html' %}
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                {% include 'teeinsight/campaigns/campaigns_table_row_title_wrapper.html' %}
                </tfoot>
            </table>
        </div>
    </div>
</div>
