{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<tr>
    <th>Front Image</th>
    <th>Back Image</th>
    <th>Campaign</th>
    <th>Status</th>

    <th>Sales Now</th>
    <th>Sales Total</th>

    <th>Goal</th>
    <th>Ratio</th>

    <th>Price</th>
    <th>Tipped</th>

    <th>Added</th>
    <th>Ending</th>
    {% comment %}
    <th>Sales (6 Hours)</th>
    <th>Sales (12 Hours)</th>
    <th>Sales (24 Hours)</th>
    <th>Sales (3 Days)</th>
    <th>Sales (7 Days)</th>
    <th>Sales (14 Days)</th>
    <th>Sales (30 Days)</th>

    <th>Engagement</th>
    <th>Engagement (6 Hours)</th>
    <th>Engagement (12 Hours)</th>
    <th>Engagement (24 Hours)</th>
    <th>Engagement (3 Days)</th>
    <th>Engagement (7 Days)</th>
    <th>Engagement (14 Days)</th>
    <th>Engagement (30 Days)</th>
    {% endcomment %}
    <th>FB Likes</th>
    <th>FB Shares</th>
    <th>FB Comments</th>
    {#<th>FB LPS</th>#}
    <th>Tweets</th>
    <th>Google +</th>
    <th>Pins</th>
    <th>LinkedIn Shares</th>
    <th>Stumbles</th>

    <th>Style</th>
    <th>Color</th>

    <th>Times Ran</th>
    <th>Times Seen</th>
    <th>Site</th>
    <th>Language</th>
    <th>Last Updated</th>
</tr>
