{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="company_selector_title">Choose Websites</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" id="filter_company">
                {% for site in sites %}
                    <div class="form-control trans-border">
                        <input type="checkbox" id="{{ site.name|slugify }}" class="minimal" value="{{ site.slug }}">
                        <label for="{{ site.name|slugify }}" class="company-check">{{ site.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default pull-left">Uncheck All</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" done>Done</button>
        </div>
    </div>
</div>
