{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="box-header bg-yellow">
    <i class="fa fa-fw fa-refresh fa-spin loading"></i>

    <h3 class="box-title">{{ table_title }}</h3>
            <span class="pull-right" paginator-display>
                {{ paginator.display }}
            </span>
</div>
{% comment %}
<div class="box-header">
    <div class="btn-toolbar pull-left">
    </div>
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <div class="btn-group" id="toggle_columns">
                <button type="button" class="btn btn-default collapsed"
                        data-toggle="collapse" data-target="#list_columns" aria-expanded="false">
                    <span class="glyphicon glyphicon-list"></span>
                    Columns
                    <span class="caret"></span>
                </button>
            </div>
            <button type="button" class="btn btn-default" id="btn_refresh">
                <span class="fa fa-refresh fa-fw"></span>
                Refresh
            </button>
        </div>
    </div>
</div>
{% endcomment %}