{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="row campaigns_options">
    <form role="form">
        <div class="col-md-12">
            <div class="box box-default" id="filter_box">
                <div class="box-header bg-gray">
                    <h3 class="box-title">Filters</h3>

                    <div class="btn-toolbar pull-right">
                        <button type="button" class="btn btn-default btn-sm" id="btn_clear_filters">
                            <span class="fa fa-refresh fa-fw"></span>
                            Clear All Filters
                        </button>
                        <a type="button" href="" class="btn btn-default btn-sm" id="btn_filters_page" target="_blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <span class="pull-right">
                </span>
                </div>
                <div class="box-body">
                    <div class="col-md-8 col-xs-8">
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group">
                                    <a href="#" id="sites_modal_toggle" class="form-control"
                                       data-toggle="modal" data-target="#company_selector" title="Choose Websites">
                                        Choose Websites
                                    </a>

                                    <div class="modal fade" id="company_selector" tabindex="-1" role="dialog"
                                         aria-labelledby="company_selectorModalLabel">
                                        {% include 'teeinsight/campaigns/campaigns_filters_modal_sites_wrapper.html' %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select id="filter_status" class="form-control">
                                        <option value="">--Status--</option>
                                        <option value="active">Active</option>
                                        <option value="ended">Ended</option>
                                        <option value="disabled">Disabled</option>
                                        {% comment %}
                                        <option value="undefined">Undefined</option>
                                        {% endcomment %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group">
                                    <input type="text" value="" id="filter_time_added" class="form-control"
                                           placeholder="Added Date">
                                </div>
                                <div class="form-group">
                                    <input type="text" value="" id="filter_time_end" class="form-control"
                                           placeholder="End Date">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group">
                                    <input type="number" value=""
                                           min="0" max="99999" step="1" pattern="\d*"
                                           id="filter_min_sales" class="form-control"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 13'
                                           placeholder="Min Sales">
                                </div>
                                <div class="form-group">
                                    <input type="number" value=""
                                           min="0" max="99999" step="0.01" pattern="\d+([\.,]\d{1,2})?"
                                           id="filter_min_price" class="form-control"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 44 || event.charCode == 46 || event.charCode == 13'
                                           placeholder="Min Price">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group trans-border">
                                    <input type="checkbox" id="filter_only_active" class="minimal" value="">
                                    <label for="filter_only_active">Only Active</label>
                                </div>
                                <div class="form-group trans-border">
                                    <input type="checkbox" id="filter_has_sales" class="minimal" value=""/>
                                    <label for="filter_has_sales">Sales Data Available</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="row">
                            <div class="clear"><strong>Default link :</strong></div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?order_by=added_at&asc_desc=desc&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            Latest Added
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?min_sales=0&order_by=total_sales&asc_desc=desc&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            Highest Selling
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?status=active&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            Active
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?min_sales=1&order_by=total_sales&asc_desc=desc&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            1+ Sales
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?min_sales=10&order_by=total_sales&asc_desc=desc&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            10+ Sales
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-muted"
                                           href="{% url 'teeinsight_campaigns' %}?min_sales=25&order_by=total_sales&asc_desc=desc&page=1&items_per_page=25">
                                            <span class="fa fa-filter fa-fw"></span>
                                            25+ Sales
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </form>
</div>
