<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <input type="hidden" name="search" value="{{ filter.search|default_if_none:'' }}"/>
        <input type="hidden" name="min_price" value="{{ filter.min_price|default_if_none:'' }}"/>
        <input type="hidden" name="min_sales" value="{{ filter.min_sales|default_if_none:'' }}"/>
        <input type="hidden" name="time_added" value="{{ filter.time_added|default_if_none:'' }}"/>
        <input type="hidden" name="time_end" value="{{ filter.time_end|default_if_none:'' }}"/>
        <input type="hidden" name="company" value="{{ filter.company }}"/>
        <input type="hidden" name="status" value="{{ filter.status|default_if_none:'' }}"/>
        <input type="hidden" name="order_by" value="{{ order.order_by }}"/>
        <input type="hidden" name="asc_desc" value="{{ order.asc_desc }}"/>
        <input type="hidden" name="page" value="{{ paginator.page }}"/>
        <input type="hidden" name="items_per_page" value="{{ paginator.items_per_page }}"/>
        {% include 'teeinsight/campaigns/campaigns_filters_wrapper.html' %}

        <div class="row" id="campaigns_table_data">
            {% include 'teeinsight/campaigns/campaigns_table_wrapper.html' %}
        </div>
    </section>
</div>
