{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

{% if paginator.numPages > 1 %}
    <ul class="pagination pagination-md no-margin pull-left">
        {% if paginator.currentPage|add:'-1' == 0 %}
            <li class="disabled">
                <a href="#">&laquo;</a>
            </li>
        {% else %}
            <li class="">
                <a class="" rel="pag_item" data-page-link="{{ page_link }}"
                   data-page-items="{{ paginator.itemsPerPage }}"
                   data-page="1"
                   href="{{ page_link }}{{ paginator.itemsPerPage }}/1/">
                    &laquo;
                </a>
            </li>
        {% endif %}
        {% if paginator.currentPage|add:'-1' <= 0 %}
            <li class="disabled">
                <a href="#">&lsaquo;</a>
            </li>
        {% else %}
            <li class="">
                <a class="" rel="pag_item" data-page-link="{{ page_link }}"
                   data-page-items="{{ paginator.itemsPerPage }}"
                   data-page="{{ paginator.currentPage|add:'-1' }}"
                   href="{{ page_link }}{{ paginator.itemsPerPage }}/{{ paginator.currentPage|add:'-1' }}/">
                    &lsaquo;
                </a>
            </li>
        {% endif %}
        {% if 0 <= paginator.currentPage|add:-5 %}
            <li class="disabled">
                <a href="#">...</a>
            </li>
        {% endif %}
        {% for p in paginator.numPages|get_range %}
            {% if paginator.currentPage|add:-4 <= p and p < paginator.currentPage|add:3 %}
                <li class="{% if p|add:'1' == paginator.currentPage %}active{% endif %}">
                    <a class="" rel="pag_item" data-page-link="{{ page_link }}"
                       data-page-items="{{ paginator.itemsPerPage }}" data-page="{{ p|add:'1' }}"
                       href="{{ page_link }}{{ paginator.itemsPerPage }}/{{ p|add:'1' }}/">{{ p|add:'1' }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if paginator.currentPage|add:4 <= paginator.numPages %}
            <li class="disabled">
                <a href="#">...</a>
            </li>
        {% endif %}
        {% if paginator.currentPage|add:'1' > paginator.numPages %}
            <li class="disabled">
                <a href="#">&rsaquo;</a>
            </li>
        {% else %}
            <li class="">
                <a class="" rel="pag_item" data-page-link="{{ page_link }}"
                   data-page-items="{{ paginator.itemsPerPage }}"
                   data-page="{{ paginator.currentPage|add:'1' }}"
                   href="{{ page_link }}{{ paginator.itemsPerPage }}/{{ paginator.currentPage|add:'1' }}/">
                    &rsaquo;
                </a>
            </li>
        {% endif %}
        {% if paginator.currentPage|add:'1' == paginator.numPages %}
            <li class="disabled">
                <a href="#">&raquo;</a>
            </li>
        {% else %}
            <li class="">
                <a class="" rel="pag_item" data-page-link="{{ page_link }}"
                   data-page-items="{{ paginator.itemsPerPage }}"
                   data-page="{{ paginator.numPages }}"
                   href="{{ page_link }}{{ paginator.itemsPerPage }}/{{ paginator.numPages }}/">
                    &raquo;
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
