{% csrf_token %}
{% load static %}
{% load staticfiles %}
{% load humanize %}
{% get_static_prefix as STATIC_PREFIX %}
{% load filters %}

<div class="box-footer">
    <div class="btn-toolbar pull-left">
        {% include 'teeinsight/campaigns/campaigns_table_items_per_page_wrapper.html' %}
    </div>
    <div class="btn-toolbar pull-right">
        {% include 'teeinsight/campaigns/campaigns_table_paginator_wrapper.html' %}
    </div>
</div>
