<div class="col-md-12">
    <div>
        {0}: Paid/Trial<br/>
        {1}: [Client Name]<br/>
        {2}: [Email]<br/>
        {3}: [license key]<br/>
        {4}: <a href="http://teeinsight.com/{0}" target="_blank">[Please see attached excel for your registered
        Emails]</a><br/>
        {5}: <a href="http://teeinsight.com/{0}" target="_blank">[Please see attached excel for your respective your
        license keys]</a><br/>
        {6}: [US$xxx]<br/>
        {7}: [VND x,xxx,xxx,xxx]<br/>
        <br/>

        <div>
            <p>Subject: &lt;AutoUpload@teeinsight -
                Your <span style="text-transform: capitalize;">{0}</span> Account, {1}&gt;</p>

            <div>
                <a href="http://teeinsight.com/" target="_blank">
                    <img src="http://teeinsight.com/static/images/logo_mail.png" class="img-responsive" width="160">
                </a>

                <p>Dear <span style="font-size: 1.2em;">{1}</span>,</p>

                <p>Thank you for contacting us for AutoUpload@teeinsight {0} account!</p>

                <p>Your total subscription amount is
                    <strong style="font-size: 1.2em;">{6} USD</strong>
                    or <strong style="font-size: 1.2em;">{7} VND</strong>.<br/>
                    Please make the payment to our Payment Gate as:</p>
                <ul>
                    <li>By Your Payoneer (PO) Account to our PO at:
                        <a href="mailto:dorichard80@gmail.com" target="_blank" style="font-weight: 600;">
                            dorichard80@gmail.com</a>
                    </li>
                    <li>Or, to our Vietcombank (VCB) Account:
                        <ul>
                            <li style="font-weight: 600;">Account Holder: Mai Chi Cong</li>
                            <li style="font-weight: 600;">Account No.: 0071000637739</li>
                            <li style="font-weight: 600;">Branch: Ho Chi Minh.</li>
                        </ul>
                    </li>
                </ul>

                <p><strong>Important Note</strong>:
                    Payment Content Syntax to recognize you when you make the payment to us for subscription:</p>

                <p>“
                    <mark style="background: #ffff00">Your_Registered_Name</mark>
                    <mark style="background: #ffff00">One_Representative_Registered_Email</mark>
                    <mark style="background: #ffff00">Selected_Platforms (ts, tc, sf, vs)</mark>
                    <mark style="background: #ffff00">No._Of_License</mark>
                    ”
                </p>

                <p><strong>Example</strong>:
                    <mark style="background: #ffff00">Cong</mark>
                    <mark style="background: #ffff00">teeinsight@itracker.vn</mark>
                    <mark style="background: #ffff00">ts, vs</mark>
                    <mark style="background: #ffff00">2</mark>
                    --- meaning my name is Cong, my email is teeinsight@itracker.vn
                    and I want to subscribe on teespring, viralstyle with 2 licenses.
                </p>

                <p>To use the product, kindly find attached
                    <a href="http://teeinsight.com/media/docs/AutoUpload@teeinsight_Manual_Sep16.pdf" target="_blank">
                        MANUAL file</a>
                    for downloading the product (*) and following its instructions.
                    Kindly read it through carefully before use.<br/>
                    (*): <i>download link is at the first line in "Về Sản Phẩm" Section.</i></p>

                <p>Here below are your account(s) information:</p>

                <p style="padding-left: 30px;">
                    Your ID: <strong style="font-size: 1.3em;">{2}</strong>
                    <a href="http://teeinsight.com/media/" target="_blank">{4}</a><br/>
                    Your {0} license key number: <strong style="font-size: 1.3em;">{3}</strong>
                    <a href="http://teeinsight.com/media/" target="_blank">{5}</a></p>

                <p>Also, we have the
                    <a href="http://teeinsight.com/media/docs/Import.xlsx" target="_blank">template excel</a>
                    for your importing your design configuration into the product,
                    instead of inputing it directly in the product designs board.</p>

                <p>Again, thank you for your interest in our services.<br/>
                    Should you have any queries, please not hesitate to reach out to us at
                    <a href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a> or our
                    <a href="https://www.facebook.com/teeinsight">facebook fanpage</a></p>

                <p>Cheers,<br/>
                    <strong>iTracker</strong> – <i style="color:#0070c0;">teeinsight project support team.</i></p>

                <p>Please like our <a href="https://www.facebook.com/teeinsight">facebook fanpage</a>
                    here for more immediate updates from us and we can talk, listen more from your feedbacks.
                    Thank you!</p>
            </div>
        </div>
    </div>
</div>
