<div class="col-md-12">
    <div>
        <pre>
        {0}: [Time]
        {1}: [Client Name]
        {2}: [Phone]
        {3}: [Email]
        {4}: License key: {0}
             if license_key == 'Please use your last license key':
             {0}: <a href="http://teeinsight.com/{0}" target="_blank">[Please see attached excel]</a>
                 {0}: [licenses_file_url]
             else:
             License key: {0} {1}
             {0}: [license key]
             {1}: <a href="http://teeinsight.com/{0}" target="_blank">[Please see attached excel]</a>
                 {0}: [licenses_file_url]
        {5}: [Licenses]
        {6}: Trial/Upgrade/Paid
        {7}: [Platforms]
        {8}: True (3 months)/False
        {9}: [US$xxx]
        {10}: [VND x,xxx,xxx,xxx]
        </pre>

        <div>
            Time: <strong>{0}</strong> <br/>
            Name: <strong>{1}</strong> <br/>
            Phone: <strong>{2}</strong> <br/>
            Email: <strong>{3}</strong> <br/>
            {4}
            <br/>
            Licenses: {5} <br/>
            Pack: {6} <br/>
            Platforms: <strong>{7}</strong> <br/>
            {8} <br/>
            Total: <strong>{9}</strong> USD or <strong>{10}</strong> VND
        </div>
    </div>
</div>
