<div class="col-md-12">
    <div>
        {0}: Paid/Trial<br/>
        {1}: [Client Name]<br/>
        {2}: [US$xxx]<br/>
        {3}: [VND xxxxxxxxxx]<br/>
        <br/>

        <div>
            <p>Subject: &lt;AutoUpload@teeinsight -
                Your <span style="text-transform: capitalize;">{0}</span> Account, {1}&gt;</p>

            <div>
                <a href="http://teeinsight.com/" target="_blank">
                    <img src="http://teeinsight.com/static/images/logo_mail.png" class="img-responsive" width="160">
                </a>

                <p>Dear <span style="font-size: 1.2em;">{1}</span>,</p>

                <p>Thank you for contacting us for your upgrade to Paid Account!</p>

                <p>Your total subscription amount is
                    <strong style="font-size: 1.2em;">{2} USD</strong>
                    or <strong style="font-size: 1.2em;">{3} VND</strong>.<br/>
                    Please make the payment to our Payment Gate as:</p>
                <ul>
                    <li>By Your Payoneer (PO) Account to our PO at:
                        <a href="mailto:dorichard80@gmail.com" target="_blank" style="font-weight: 600;">
                            dorichard80@gmail.com</a>
                    </li>
                    <li>Or, to our Vietcombank (VCB) Account:
                        <ul>
                            <li style="font-weight: 600;">Account Holder: Mai Chi Cong</li>
                            <li style="font-weight: 600;">Account No.: 0071000637739</li>
                            <li style="font-weight: 600;">Branch: Ho Chi Minh.</li>
                        </ul>
                    </li>
                </ul>

                <p><strong>Important Note</strong>:
                    Payment Content Syntax to recognize you when you make the payment to us for subscription:</p>

                <p>“
                    <mark style="background: #ffff00">Your_Registered_Name</mark>
                    <mark style="background: #ffff00">One_Representative_Registered_Email</mark>
                    <mark style="background: #ffff00">Selected_Platforms (ts, tc, sf, vs)</mark>
                    <mark style="background: #ffff00">No._Of_License</mark>
                    ”
                </p>

                <p><strong>Example</strong>:
                    <mark style="background: #ffff00">Cong</mark>
                    <mark style="background: #ffff00">teeinsight@itracker.vn</mark>
                    <mark style="background: #ffff00">ts, vs</mark>
                    <mark style="background: #ffff00">2</mark>
                    --- meaning my name is Cong, my email is teeinsight@itracker.vn
                    and I want to subscribe on teespring, viralstyle with 2 licenses.
                </p>

                <p>Once we receive your payment, we will activate your account immediately.
                    We consider your continous product usage as top priority in our process
                    and we appreciate if you could make the payment as soon as possible.</p>

                <p>Again, thank you for your interest in our services.<br/>
                    Should you have any queries, please not hesitate to reach out to us at
                    <a href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a> or our
                    <a href="https://www.facebook.com/teeinsight">facebook fanpage</a></p>

                <p>Cheers,<br/>
                    <strong>iTracker</strong> – <i style="color:#0070c0;">teeinsight project support team.</i></p>

                <p>Please like our <a href="https://www.facebook.com/teeinsight">facebook fanpage</a>
                    here for more immediate updates from us and we can talk, listen more from your feedbacks.
                    Thank you!</p>
            </div>
        </div>
    </div>
</div>
