<div class="col-md-12">
    <div>
        {0}: Paid/Trial<br/>
        {1}: [Client Name]<br/>
        {2}: [Email]<br/>
        {3}: [license key]<br/>
        <br/>

        <div>
            <p>Subject: &lt;AutoUpload@teeinsight -
                Your <span style="text-transform: capitalize;">{0}</span> Account, {1}&gt;</p>

            <div>
                <a href="http://teeinsight.com/" target="_blank">
                    <img src="http://teeinsight.com/static/images/logo_mail.png" class="img-responsive" width="160">
                </a>

                <p>Dear <span style="font-size: 1.2em;">{1}</span>,</p>

                <p>Thank you for contacting us for AutoUpload@teeinsight {0} account!</p>

                <p>Please find attached
                    <a href="http://teeinsight.com/media/docs/AutoUpload@teeinsight_Manual_Sep16.pdf" target="_blank">
                        MANUAL file</a>
                    for downloading the product (*) and following its instructions.
                    Kindly read it through carefully before use.<br/>
                    (*): <i>download link is at the first line in "Về Sản Phẩm" Section.</i></p>

                <p>Here below is your account information:</p>

                <p style="padding-left: 30px;">
                    Your ID: <strong style="font-size: 1.3em;">{2}</strong><br/>
                    Your {0} license key number is: <strong style="font-size: 1.3em;">{3}</strong></p>

                <p>Also, we have the
                    <a href="http://teeinsight.com/media/docs/Import.xlsx" target="_blank">template excel</a>
                    for your importing your design configuration into the product,
                    instead of inputing it directly in the product designs board.</p>

                <p>You will have 3 days to access and experience the product.</p>

                <p>If you want to subsribe our product, please submit your subscription at
                    <a href="http://teeinsight.com/autoupload" target="_blank">http://teeinsight.com/autoupload</a></p>

                <p>Again, thank you for your interest in our services.<br/>
                    Should you have any queries, please not hesitate to reach out to us at
                    <a href="mailto:teeinsight@itracker.vn">teeinsight@itracker.vn</a> or our
                    <a href="https://www.facebook.com/teeinsight">facebook fanpage</a></p>

                <p>Cheers,<br/>
                    <strong>iTracker</strong> – <i style="color:#0070c0;">teeinsight project support team.</i></p>

                <p>Please like our <a href="https://www.facebook.com/teeinsight">facebook fanpage</a>
                    here for more immediate updates from us and we can talk, listen more from your feedbacks.
                    Thank you!</p>
            </div>
        </div>
    </div>
</div>
