﻿{% extends 'teeinsight.html' %}

{% block content_wrapper %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">400</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! Bad Request.</h3>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
