﻿{% extends 'teeinsight.html' %}

{% block content_wrapper %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

                    <p>
                        We could not find the page you were looking for.<br/>
                        The requested URL {{ request_path }} was not found on this server.<br/>
                        Meanwhile, you may <a href="{% url 'home' %}">return to home page</a>.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
