﻿{% extends 'teeinsight.html' %}

{% block content_wrapper %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-red">500</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

                    <p>
                        We will work on fixing that right away.<br/>
                        Meanwhile, you may <a href="{% url 'home' %}">return to home page</a>.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
