{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block base %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title|default:'Wellcome' }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'images/icon_256.png' %}">

    {% block css %}
        {% include 'include/adminlte/stylesheet_common.html' %}

        {% block plugin-css %}
        {% endblock %}

        {% include 'include/adminlte/stylesheet_adminlte.html' %}

        {% block plugin-css-after %}
        {% endblock %}

        {% include 'include/adminlte/script_ie.html' %}
    {% endblock %}

</head>
<body class="{{ body_class }}">
<!-- Site wrapper -->
<div class="wrapper">
    {% block wrapper %}
        {% include 'include/adminlte/main_header.html' %}

        {% include 'include/adminlte/second_header.html' %}

        {% include 'include/adminlte/main_sidebar.html' %}

        {% block content_wrapper %}
            {% include 'include/adminlte/content_wrapper.html' %}
        {% endblock %}

        {% include 'include/adminlte/main_footer.html' %}

        {% include 'include/adminlte/control_sidebar.html' %}

        {% include 'include/adminlte/sidebar_background.html' %}
    {% endblock %}
</div>

{% block scripts %}
    {% include 'include/adminlte/scripts_common.html' %}

    {% block plugin-js %}
    {% endblock %}

    {% include 'include/adminlte/scripts_adminlte.html' %}

    {% block app-js %}
    {% endblock %}
{% endblock %}

</body>
</html>
