{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block base %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title|default:'TeeInsight | Wellcome' }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'images/icon_256.png' %}">

    {% block css %}
        {% include 'include/adminlte/stylesheet_common.html' %}

        {% block plugin-css %}
        {% endblock %}

        {% include 'include/adminlte/stylesheet_adminlte.html' %}

        {% block plugin-css-after %}
        {% endblock %}

        {% include 'include/adminlte/script_ie.html' %}
    {% endblock %}

    {% block facebook-pixel %}
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '298597573855829');
            fbq('track', "PageView");
            fbq('track', 'CompleteRegistration');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=298597573855829&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
    {% endblock %}
</head>
<body class="{{ body_class }}">
{% block google-analytics %}
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-9714747-10', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
{% endblock %}

<!-- Site wrapper -->
<div class="wrapper">
    {% block wrapper %}
    {% endblock %}
</div>

{% block scripts %}
    {% include 'include/adminlte/scripts_common.html' %}

    {% block plugin-js %}
    {% endblock %}

    {% include 'include/adminlte/scripts_adminlte.html' %}

    {% block app-js %}
    {% endblock %}
{% endblock %}

</body>
</html>
