{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ lang|default:'en' }}">
<head>
    {% block base %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title|default:'Home page' }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'images/icon_256.png' %}">

    <meta property="og:url" content="http://teeinsight.com/autoupload/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Auto Upload Catalyst Product"/>
    <meta property="og:description"
          content="Auto Upload @teeinsight is the very first catalyst product of teeinsight project which is powered by iTracker Corporation – an independent internet tech-based data research company."/>
    <meta property="og:image" content="http://teeinsight.com/static/images/web_teeinsight/lines+.png"/>

    {% block css %}
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <!-- animate -->
        <link rel="stylesheet" href="{% static 'animate.css/animate.css' %}">

        {% block plugin-css %}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'content/webteeinsight.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block facebook-pixel %}
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '298597573855829');
            fbq('track', "PageView");
            fbq('track', 'CompleteRegistration');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=298597573855829&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
    {% endblock %}
</head>
<body class="{% if lang == 'vi' %}cambria{% endif %}">
{% block google-analytics %}
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-9714747-10', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
{% endblock %}
{% block facebook-sdk %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            //console.log('statusChangeCallback');
            //console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token
                // and signed request each expire
                var uid = response.authResponse.userID;
                //console.log(response);
                var accessToken = response.authResponse.accessToken;
                // Logged into your app and Facebook.
                FB.api('/me', function (response) {
                    //console.log('Successful login for: ' + response.name);
                    document.getElementById('cp_status_app').innerHTML = '<a href="javascript:void(0)" role="button" onclick="shareAutoupload();" title="Thanks for logging in, ' + response.name + '!" class="cp-share-btn">Share our page with @Teeinsight</a>';
                });


            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('cp_status_app').innerHTML = '<a href="javascript:void(0)" role="button" onclick="loginAppTeeinsight();" title="Please log into this app." class="cp-btn">Catalyst Program Enrollment</a>';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('cp_status_app').innerHTML = '<a href="javascript:void(0)" role="button" onclick="loginAppTeeinsight();" title="Please log into Facebook." class="cp-btn">Please log into Facebook.</a>';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1834046283493521',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                status: true,
                xfbml: true,  // parse social plugins on this page
                version: 'v2.7'
            });
            FB.AppEvents.logPageView();

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            //FB.getLoginStatus(function (response) {
            //    statusChangeCallback(response);
            //});

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function shareAutoupload() {
            FB.AppEvents.logEvent("shareTeeinsightAutouploadWebsite");
            FB.ui({
                method: 'share',
                display: 'popup',
                href: 'http://teeinsight.com/autoupload/',
                hashtag: "#teeinsightautouploadcatalystproduct"
            }, function (response) {
            });
        }

        function loginAppTeeinsight() {
            FB.AppEvents.logEvent("loginAppTeeinsight");
            FB.login(function (response) {
                statusChangeCallback(response);
            }, {scope: 'public_profile,email'});
        }
    </script>
{% endblock %}

{% block body-content %}
    {% include 'webteeinsight/header_content.html' %}

    {% include 'webteeinsight/right_sidebar_content.html' %}

    {% include 'webteeinsight/slides_content.html' %}

    {% include 'webteeinsight/detail_content.html' %}
{% endblock %}

{% block scripts %}
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.0 -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <!-- jQuery MouseWheel 3.1.13 -->
    <script src="{% static 'jquery-mousewheel/jquery.mousewheel.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block plugin-js %}
        <script src="{% static 'skrollr/src/skrollr.js' %}"></script>
    {% endblock %}

    {% block app-js %}
        <script src="{% static 'scripts/webteeinsight.js' %}"></script>
    {% endblock %}
{% endblock %}

</body>
</html>
