<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        {% comment %}
        <li class="{% if 'dashboard' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_dashboard' %}">
                <i class="fa fa-fw fa-dashboard"></i> Dashboard v1
            </a>
        </li>{% endcomment %}
        <li class="{% if 'dashboard' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_dashboard' %}">
                <i class="fa fa-fw fa-dashboard"></i> Dashboard
            </a>
        </li>
        {% comment %}
        <li class="{% if 'campaigns' in active or 'campaign' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_campaigns' %}">
                <i class="fa fa-fw fa-tags"></i> Campaigns v1
            </a>
        </li>{% endcomment %}
        <li class="{% if 'campaigns' in active or 'campaign' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_campaigns' %}">
                <i class="fa fa-fw fa-tags"></i> Campaigns
            </a>
        </li>
        <li class="{% if 'packages' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_packages' %}">
                <i class="fa fa-fw fa-suitcase"></i> Packages
            </a>
        </li>
        <li class="{% if 'duplicate' in active %}active{% endif %}">
            <a href="{% url 'teeinsight_duplicate' %}">
                <i class="fa fa-fw fa-crosshairs"></i> Duplicate Camps
            </a>
        </li>
    </ul>
</div>
