<!-- Main Footer -->
<footer class="main-footer {{ footer_class }}">
    <div class="container">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">TeeInsight</a>.</strong> All rights reserved.
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0.beta
        </div>
        <div class="go-up">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>
</footer>
