{% load static %}

<!-- Main Header -->
<header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <div class="header-container">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand logo-tee-insight">
                    <img src="{% static 'images/logo_256x100_white.png' %}" class="img-responsive"/>
                </a>
            </div>

            {% include 'include/teeinsight/main_header_left_menu.html' %}

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-form navbar-left navbar-nav">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    {% include 'include/teeinsight/main_header_user_menu.html' %}
                </ul>
            </div>
        </div>
    </nav>
</header>
