{% load staticfiles %}

{% if user.is_authenticated %}
    <li class="dropdown user user-menu {% if 'profile' in active %}active{% endif %}">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="{% static 'images/icon_256.png' %}" class="user-image" alt="User Image">
            <span class="hidden-sm hidden-xs">{{ user.username }}</span>
        </a>
        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <img src="{% static 'images/icon_256.png' %}" class="img-circle" alt="User Image">

                <p>
                    {{ user.username }}
                    <small>{{ '' }}</small>
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="#{{ user.username }}">Profile</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="{% url 'password_change' %}">Change password</a>
                    </div>
                </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#{{ user.username }}/settings" class="btn btn-default btn-flat">Settings</a>
                </div>
                <div class="pull-right">
                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                </div>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}{% if next_url %}?next={{ next_url }}{% endif %}">Login</a>
    </li>
    <li>
        <a href="{% url 'register' %}">Register</a>
    </li>
{% endif %}
