@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,900italic);

@font-face {
    font-family: 'FuturaLTProBook';
    src: url('fonts/futuraltpro-book.eot');
    src: url('fonts/futuraltpro-book.eot') format('embedded-opentype'), url('fonts/futuraltpro-book.woff') format('woff'), url('fonts/futuraltpro-book.ttf') format('truetype'), url('fonts/futuraltpro-book.svg#FuturaLTProBook') format('svg');
}

body,
kbd, pre, samp,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    /*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: FuturaLTProBook, Arial;
}

body.cambria,
body.cambria kbd, body.cambria pre, body.cambria samp,
body.cambria h1, body.cambria h2, body.cambria h3, body.cambria h4, body.cambria h5, body.cambria h6,
body.cambria .h1, body.cambria .h2, body.cambria .h3, body.cambria .h4, body.cambria .h5, body.cambria .h6 {
    font-family: Cambria, Arial;
}

html, body {
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.clear {
    clear: both;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.bg-e8 {
    background-color: #e8e8e9;
    position: relative;
}

.bg-e8.footer-white:before {
    content: "";
    height: 8%;
    background-color: #fff;
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
}

.delay_load, .delay_rotate {
    opacity: 0;
}

.cl-hr {
    border-color: #c0c0c0;
    margin-bottom: 30px;
    margin-top: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.contact-red {
    color: #ff262d;
}

.contact-blue {
    color: #4967a8;
}

#toast-container .toast {
    opacity: 1 !important;
}

/* Layout */
.wrapper {
    /*min-height: 100%;*/
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    margin: 0;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

.subscribe-page {
    position: relative;
}

.subscribe-page .subscribe-bg-fixed {
    position: fixed;
    background: url('../images/web_teeinsight/bg.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
}

.subscribe-page .subscribe-header {
    text-align: center;
    padding-top: 20px;
}

.subscribe-header .logo {
}

.subscribe-header .logo img {
    display: inline-block;
}

.subscribe-content > .content {
    padding: 10px 8.333%;
}

.subscribe-content .subscribe-title {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 0.8em;
}

.subscribe-content .subscribe-title > small {
    font-size: 0.5em;
}

.subscribe-content .title-for-form {
    font-size: 1.2em;
}

.subscribe-content .required {
    font-size: 0.8em;
    color: #ff262d;
}

.subscribe-content .subscribe-form > form {
    background: #fff;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 50px;
}

.subscribe-form {
}

.subscribe-form .form-group {
    padding-right: 30px;
}

.subscribe-form .form-group .form-control {
    border-radius: 0;
    height: 40px;
}

.subscribe-form .text-opaque {
    color: #b9b9b9 !important;
}

.subscribe-form .text-uncheck {
    color: #989898 !important;
}

.subscribe-form .radio,
.subscribe-form .radio-inline {
    font-weight: bold;
}

.subscribe-form .text-total {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2em;
}

.subscribe-form .text-total > .red {
    color: #ff262d !important;
    margin-left: 5px;
}

.subscribe-form button {
    display: inline-block;
}

.subscribe-form button.btn-catalyst-program {
    background: #4967a8;
    padding: 1.2em 10px 1.2em 15px;
    font-size: 1.3em;
    line-height: 1.2em;
    color: #FFFFFF;
    border-color: #ababab;
    display: none;
}

.subscribe-form button.btn-catalyst-program:before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url('../images/web_teeinsight/cp_ic.png') 0 0 no-repeat;
    position: relative;
    top: 5px;
    left: -5px;
}

.subscribe-form button.btn-catalyst-program.visible {
    display: inline-block;
}

.subscribe-form button.btn-subscribe {
    background: #ff262d;
    padding: 0.7em 10px;
    font-size: 1.8em;
    line-height: 1.2em;
    color: #FFFFFF;
    border-color: #ababab;
}

.subscribe-form button.btn-catalyst-program.visible + button.btn-subscribe {
    margin-left: 5px;
}

.subscribe-form .ico-btn,
.subscribe-form .hint {
    position: absolute;
    top: 8px;
    right: -15px;
    display: inline-block;
    font-size: 1.7em;
}

.subscribe-form .ico-btn {
    cursor: pointer;
    top: 0;
}

.subscribe-form .hint {
    width: 24px;
    height: 24px;
    background: url('../images/web_teeinsight/hint.png') no-repeat 0 0;
}

.subscribe-form .hint ~ .tooltip {
    min-width: 360px;
    max-width: 480px;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
}

.subscribe-form .hint ~ .tooltip > .tooltip-inner {
    max-width: 480px;
    text-align: justify;
}

.subscribe-form .btn-up-file {
    position: relative;
}

.subscribe-form .btn-up-file input[type="file"] {
    cursor: pointer;
    width: 100%;
    height: 40px;
    opacity: 0;
    z-index: 5;
    position: absolute;
    top: 0;
}

.subscribe-form .btn-up-file .btn-fake-file {
    cursor: pointer;
    width: 100%;
    height: 40px;
    z-index: 1;
    background: #88a8ee;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    display: block;
}

.subscribe-form .btn-up-file input[type="file"]:focus ~ .subscribe-form .btn-up-file .btn-fake-file,
.subscribe-form .btn-up-file input[type="file"]:active ~ .subscribe-form .btn-up-file .btn-fake-file,
.subscribe-form .btn-up-file input[type="file"]:hover ~ .subscribe-form .btn-up-file .btn-fake-file,
.subscribe-form .btn-up-file .btn-fake-file:focus,
.subscribe-form .btn-up-file .btn-fake-file:active,
.subscribe-form .btn-up-file .btn-fake-file:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.subscribe-form button.btn-subscribe:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.subscribe-form .btn-change-pack {
    vertical-align: top;
    float: right;
}

.subscribe-form .btn-change-pack > label {
    cursor: pointer;
}

.subscribe-form .type-opts {
}

.subscribe-form .type-opts .type-opt {
    position: relative;
    color: #989898;
    margin-bottom: 1.6em;
}

.subscribe-form .type-opts .type-opt.active {
    color: #333;
}

.subscribe-form .type-opts .type-opt > .n-platforms {
    display: none;
}

.subscribe-form .type-opts .type-opt.active > .n-platforms {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 8em;
    text-align: center;
}

.subscribe-form .type-opts .type-opt > .platform-opts {
    position: absolute;
    top: 100%;
    left: 15px;
    z-index: 9;
    background: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    min-width: 120px;
    display: none;
}

.subscribe-form .type-opts .type-opt > .platform-opts:after,
.subscribe-form .type-opts .type-opt > .platform-opts:before {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 17px;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
}

.subscribe-form .type-opts .type-opt > .platform-opts:after {
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 11px 8px;
    margin-left: -11px;
}

.subscribe-form .type-opts .type-opt > .platform-opts:before {
    border-color: transparent;
    border-bottom-color: #d3d3d3;
    border-width: 13px 10px;
    margin-left: -13px;
}

.subscribe-form .type-opts .type-opt > .platform-opts.platforms-show {
    display: block;
}

.subscribe-form .type-opts .type-opt > .platform-opts.platforms-hide {
    display: none;
}

.subscribe-form .icheckbox_flat-blue.checked.disabled {
    background-position: -22px 0;
}

.subscribe-decor {
    margin-top: 20px;
    margin-bottom: 75px;
    position: absolute;
}

@media (max-width: 768px) {
    .subscribe-decor {
    }
}

/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
    height: 100px;
    /*max-height: 100px;*/
    width: 100%;
    padding-right: 120px;
    z-index: 1000;
    background: #f8f8f8;
    -webkit-transition: height 0.7s; /* Chrome, Safari, Opera */
    transition: height 0.7s;
    position: fixed;
    opacity: 0.8;
}

.main-header.sidebar-header {
    background: transparent;
}

.main-header.scroll {
    height: 50px;
    /*position: fixed;*/
}

.main-header .fa-3x {
    -webkit-transition: all 0.7s; /* Chrome, Safari, Opera */
    transition: all 0.7s;
}

.main-header.scroll .fa-3x {
    font-size: 2em;
}

.main-header.scroll .navbar-custom-menu {
    margin: 0px 20px 0 0px;
}

.main-header.scroll .navbar-custom-menu .navbar-nav > li > a {
    padding: 11px 10px;
}

.right-sidebar .main-header.scroll .navbar-custom-menu .sidebar-toggle {
    padding: 8px 15px;
    max-height: 50px;
}

.right-sidebar .main-header.scroll + .navbar-custom-menu > .navbar-nav {
    top: 0;
    margin: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.main-header > .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    margin-left: 0;
    border: none;
    /*min-height: 100px;*/
    border-radius: 0;
}

.main-header > .navbar.navbar-autoupload > .navbar-header {
    float: left;
}

.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
    margin-right: 5px;
}

.main-header .navbar-brand {
    color: #fff;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right;
    margin: 22px 20px 10px 0;
    /*background-color: rgba(256, 256, 256, 0.8);
    border-radius: 20px;*/
}

.main-header .navbar-custom-menu {
    -webkit-transition: margin-top 0.7s; /* Chrome, Safari, Opera */
    transition: margin-top 0.7s;
}

.main-header .navbar-custom-menu a,
.main-header .navbar-right a {
    color: inherit;
    background: transparent;
}

.main-header .navbar-custom-menu .navbar-nav > li {
    float: left;
}

.main-header .navbar-custom-menu .navbar-nav > li > a:hover {
    background-color: rgba(237, 237, 237, 1);
}

.nav > li > a:focus {
    background-color: transparent;
}

.main-header .navbar-custom-menu .navbar-nav > li:first-child > a:hover {
    /*border-radius: 20px 0 0 20px;*/
}

.main-header .navbar-custom-menu .navbar-nav > li:last-child > a:hover {
    /*border-radius: 0 20px 20px 0;*/
}

.main-header .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
    font-size: 15px;
}

.main-header .navbar-custom-menu .navbar-nav > li > a {
    padding: 15px 10px;
    line-height: 1.8em;
    -webkit-transition: padding-top 0.7s; /* Chrome, Safari, Opera */
    transition: padding-top 0.7s;
}

.main-header .navbar-nav > .user-menu .user-image, .navbar-custom-menu.login-box-res .navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    background-color: #fff;
}

.logo-tee-insight {
    width: 220px;
    padding: 0;
    margin: 5px 0 0 50px;
}

/**/
.wrapper-content, .right-sidebar {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.wrapper-content {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin-top: -100px;
    z-index: 100;
}

.wrapper-content.slide-content {
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-content.slide-content.slide_1 {
    background-image: url('../images/web_teeinsight/slide_1_new.png');
}

.wrapper-content.slide-content.slide_2 {
    background-image: url('../images/web_teeinsight/slide_2_new.png');
}

.wrapper-content.slide-content.slide_3 {
    background-image: url('../images/web_teeinsight/slide_3_new.png');
}

.wrapper-content.slide-content.slide_4 {
    background-image: url('../images/web_teeinsight/slide_4_new.png');
}

.wrapper-content.detail-content {
    background: #fff;
    margin-top: 0;
}

.carousel-indicators > li,
.carousel-indicators > li.active {
    width: 30px !important;
    height: 30px !important;
    background-color: #c0c0c0 !important;
    margin: 0 5px !important;
    border-radius: 50%;
}

.carousel-indicators > li.active {
    background-color: #f39c12 !important;
}

/* Content */
.content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 16.666%;
}

.content.detail-flow {
    margin-top: 10px;
}

.content.detail-plans {
    margin-top: 0;
    padding-top: 0;
}

.content.detail-testimonial-faq {
    margin-top: 0;
}

.content.detail-testimonial-faq h1 {
    margin-top: 7px;
    font-size: 3em;
    margin-bottom: 20px;
}

.content.detail-contact-map {
    margin-top: 90px;
}

.content.detail-intro {
    position: relative;
    padding-top: 200px;
    padding-bottom: 75px;
}

.content.detail-reason {
    margin-bottom: 7em;
    margin-top: 4em;
}

.content.detail-benefits {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content.detail-packs {
    padding-top: 50px;
}

.content.detail-payment {
    min-height: 2em;
    font-weight: bold;
}

.relative {
    position: relative;
}

.intro-bg {
    position: fixed;
    background: url('../images/web_teeinsight/bg.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
}

.detail-intro h1 {
    margin-bottom: 20px;
}

.detail-intro .intro-note {
    margin-bottom: 20px;
}

.detail-intro .click-point {
    margin: 0 auto 30px;
}

.detail-reason .reason-thumb {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.detail-reason .reason-thumb img.abs {
    position: absolute;
    top: 0;
}

.detail-reason .title-icon {
    width: auto;
    display: inline-block;
    position: relative;
    padding-left: 1.4em;
    letter-spacing: -2px;
}

.detail-reason .title-icon:before {
    content: "";
    display: inline-block;
    background: url('../images/web_teeinsight/inbox.png') no-repeat 0 0;
    background-size: 1.1em;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 0;
    top: 0;
}

.detail-reason .reason-note {
    line-height: 2em;
}

.detail-benefits .panels-benefit {
    text-align: center;
    margin-top: 50px;
}

.panels-benefit .benefit-3-panel {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.panels-benefit .benefit-panel .panel {
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

.panels-benefit .benefit-panel .panel-heading,
.panels-benefit .benefit-panel .panel-body {
    padding-right: 0;
    padding-left: 0;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.panels-benefit .benefit-panel .panel-body {
    padding-top: 0;
}

.panels-benefit .benefit-panel .panel-heading {
    background: transparent;
    border: none;
    text-align: center;
    position: relative;
}

.benefit-panel .panel-heading a.pill {
    cursor: default;
    margin: 0;
    width: 43px;
    height: 43px;
    padding: 0;
}

.benefit-panel .panel-heading a.pill:before,
.benefit-panel .panel-heading a.pill:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    position: absolute;
    border: 1px solid #818181;
    top: 50%;
}

.benefit-panel .panel-heading a.pill:before {
    left: 0;
    margin-right: 5px;
}

.benefit-panel .panel-heading a.pill:after {
    right: 0;
    margin-left: 5px;
}

.benefit-panel .panel-heading a.pill.pill-1 {
    background: url('../images/web_teeinsight/pill-1.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-2 {
    background: url('../images/web_teeinsight/pill-2.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-3 {
    background: url('../images/web_teeinsight/pill-3.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-4 {
    background: url('../images/web_teeinsight/pill-4.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-5 {
    background: url('../images/web_teeinsight/pill-5.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-6 {
    background: url('../images/web_teeinsight/pill-6.png') no-repeat 0 0;
}

.benefit-panel .panel-heading a.pill.pill-7 {
    background: url('../images/web_teeinsight/pill-7.png') no-repeat 0 0;
}

.detail-benefits .nav-pills {
    margin-top: 20px;
    margin-bottom: 25px;
}

.detail-benefits .pill {
    width: 40px;
    height: 40px;
    padding: 4px;
    display: inline-block;
    float: none;
    margin: 0 25px;
}

.detail-benefits .pill:before {
    content: "";
    display: inline-block;
    width: 45px;
    height: 1px;
    position: absolute;
    border: 1px solid #818181;
    right: 100%;
    top: 50%;
    margin-right: 5px;
}

.detail-benefits .pill:first-child:before {
    content: "";
    display: none;
}

.detail-benefits .pill.active:after {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    z-index: -1;
}

.detail-benefits .pill > a {
    width: 32px;
    height: 32px;
    padding: 0;
    background: url('../images/web_teeinsight/icons.png') no-repeat 0 0;
}

.detail-benefits .pill > a:focus,
.detail-benefits .pill > a:hover {
    background-color: transparent;
    background-position-y: -32px;
}

.detail-benefits .pill.active > a,
.detail-benefits .pill.active > a:focus,
.detail-benefits .pill.active > a:hover {
    color: transparent;
    background-color: transparent;
    background-position-y: -32px;
    border-color: transparent;
}

.detail-benefits .pill.pill-1 > a {
    background-position: 0 0;
}

.detail-benefits .pill.pill-1 > a:focus,
.detail-benefits .pill.pill-1 > a:hover,
.detail-benefits .pill.pill-1.active > a,
.detail-benefits .pill.pill-1.active > a:focus,
.detail-benefits .pill.pill-1.active > a:hover {
    background-position: 0 -32px;
}

.detail-benefits .pill.pill-2 > a {
    background-position: -32px 0;
}

.detail-benefits .pill.pill-2 > a:focus,
.detail-benefits .pill.pill-2 > a:hover,
.detail-benefits .pill.pill-2.active > a,
.detail-benefits .pill.pill-2.active > a:focus,
.detail-benefits .pill.pill-2.active > a:hover {
    background-position: -32px -32px;
}

.detail-benefits .pill.pill-3 > a {
    background-position: -64px 0;
}

.detail-benefits .pill.pill-3 > a:focus,
.detail-benefits .pill.pill-3 > a:hover,
.detail-benefits .pill.pill-3.active > a,
.detail-benefits .pill.pill-3.active > a:focus,
.detail-benefits .pill.pill-3.active > a:hover {
    background-position: -64px -32px;
}

.detail-benefits .pill.pill-4 > a {
    background-position: -96px 0;
}

.detail-benefits .pill.pill-4 > a:focus,
.detail-benefits .pill.pill-4 > a:hover,
.detail-benefits .pill.pill-4.active > a,
.detail-benefits .pill.pill-4.active > a:focus,
.detail-benefits .pill.pill-4.active > a:hover {
    background-position: -96px -32px;
}

.detail-benefits .pill.pill-5 > a {
    background-position: -128px 0;
}

.detail-benefits .pill.pill-5 > a:focus,
.detail-benefits .pill.pill-5 > a:hover,
.detail-benefits .pill.pill-5.active > a,
.detail-benefits .pill.pill-5.active > a:focus,
.detail-benefits .pill.pill-5.active > a:hover {
    background-position: -128px -32px;
}

.detail-benefits .pill.pill-6 > a {
    background-position: -160px 0;
}

.detail-benefits .pill.pill-6 > a:focus,
.detail-benefits .pill.pill-6 > a:hover,
.detail-benefits .pill.pill-6.active > a,
.detail-benefits .pill.pill-6.active > a:focus,
.detail-benefits .pill.pill-6.active > a:hover {
    background-position: -160px -32px;
}

.detail-benefits .pill.pill-7 > a {
    background-position: -192px 0;
}

.detail-benefits .pill.pill-7 > a:focus,
.detail-benefits .pill.pill-7 > a:hover,
.detail-benefits .pill.pill-7.active > a,
.detail-benefits .pill.pill-7.active > a:focus,
.detail-benefits .pill.pill-7.active > a:hover {
    background-position: -192px -32px;
}

.detail-benefits .benefit-note {
    margin-bottom: 20px;
}

.detail-payment h1 {
    margin-bottom: 20px;
}

.detail-payment .po {
    margin-bottom: 10px;
}

.detail-payment .po:before {
    content: "";
    display: inline-block;
    background: url('../images/web_teeinsight/payoneer.png') no-repeat;
    width: 83px;
    height: 31px;
    position: absolute;
    top: 0;
    right: 100%;
}

.detail-payment .bank-account {
    margin-bottom: 10px;
}

.detail-payment .bank-account:before {
    content: "";
    display: inline-block;
    background: url('../images/web_teeinsight/vcb.png') no-repeat;
    width: 84px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 100%;
}

.detail-payment .paypal-account {
    margin-bottom: 10px;
}

.detail-payment .paypal-account:before {
    content: "";
    display: inline-block;
    background: url('../images/samples/secure-paypal-logo.jpg') no-repeat -133px;
    width: 70px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 100%;
}

.detail-payment .acc-li {
    position: relative;
}

.detail-payment .acc-li:before {
    content: "o ";
    display: inline-block;
    position: relative;
    top: 0;
    left: -5px;
    padding-left: 5px;
}

.detail-payment .total-pricing .cl-hr {
    margin-bottom: 10px;
}

.detail-payment .reach-out .cl-hr {
    margin-bottom: 10px;
}

.detail-payment .reach-out .facebook-row {
    position: relative;
    margin-left: -15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.detail-payment .reach-out .facebook-row .fb-like {
    position: absolute;
    top: 7px;
    right: 100%;
}

.facebook-row .contact-blue {
    font-style: italic;
}

.facebook-row .fb-btn {
    text-align: right;
}

.catalyst-program-block {
    position: relative;
    text-align: center;
}

.catalyst-program-block .cp-btn {
    text-decoration: none;
    background: #4967a8;
    color: #fff;
    padding: 1em;
    line-height: 3em;
    font-size: 1.3em;
}

.catalyst-program-block .cp-share-btn {
    text-decoration: none;
    background: #4967a8;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
}

.catalyst-program-block .cp-block {
    position: relative;
    opacity: 0;
    height: 0;
    min-height: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    background: url('../images/web_teeinsight/cp_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.catalyst-program-block .cp-block:before,
.catalyst-program-block .cp-block:after {
    content: "";
    display: block;
    position: absolute;
}

.catalyst-program-block .cp-block:before {
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: url('../images/web_teeinsight/t_r.png') 0 0 no-repeat;
}

.catalyst-program-block .cp-block:after {
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: url('../images/web_teeinsight/b_l.png') 0 0 no-repeat;
}

.catalyst-program-block .cp-block.visible {
    overflow: visible;
    visibility: visible;
}

.catalyst-program-block .cp-block .cp-title {
    margin-top: 0;
}

.catalyst-program-block .cp-block .cp-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    padding: 2px 6px;
    width: 2em;
    cursor: pointer;
}

.catalyst-program-block .cp-block .cp-terms {
    text-align: justify;
}

.catalyst-program-block .cp-block .cp-terms:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 4px;
    width: 24px;
    height: 51px;
    background: url('../images/web_teeinsight/ribbon.png') 0 0 no-repeat;
}

.catalyst-program-block .cp-block .cp-terms .title {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 20px;
}

.catalyst-program-block .cp-block .cp-terms .blue {
    color: #4967a8;
}

.catalyst-program-block .cp-block .cp-terms .contact {
    text-align: right;
    position: relative;
}

.catalyst-program-block .cp-block .cp-terms .contact > p {
    text-align: left;
    font-size: 1em;
    width: 80%;
}

.catalyst-program-block .cp-block .cp-terms .contact > p:before {
    content: "";
    display: inline-block;
    top: 7px;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(../images/web_teeinsight/hint.png) no-repeat 0 0;
    line-height: 1.7em;
    margin-right: 6px;
}

.catalyst-program-block .cp-block .cp-terms .contact a {
    text-decoration: none;
}

.catalyst-program-block .cp-block .cp-terms .contact .fb-like {
    text-align: left;
    position: absolute;
    right: 0;
    top: 10px;
}

.catalyst-program-block .cp-block .cp-terms .tks {
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    margin-top: 2em;
}

.catalyst-program-block .cp-block .cp-terms ul {
    padding-left: 0;
}

.catalyst-program-block .cp-block .cp-terms ul > li {
    list-style: none;
    padding-left: 40px;
    margin-bottom: 0.6em;
    position: relative;
}

.catalyst-program-block .cp-block .cp-terms ul > li > .num {
    display: inline-block;
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 25px;
    height: 25px;
    background: url('../images/web_teeinsight/li_bg.png') 0 0 no-repeat;
    text-align: center;
    color: #fff;
    line-height: 1.875em;
}

.catalyst-program-block .cp-block .cp-terms .form-group {
    position: relative;
    margin: 10px 0 0;
}

.catalyst-program-block .cp-block .cp-terms .form-group label {
    display: inline-block;
}

.catalyst-program-block .cp-block .cp-terms .form-group .input_field {
    display: inline-block;
    width: 50%;
    margin-left: 10px;
}

.catalyst-program-block .cp-block .cp-terms .form-group .share_btn {
    display: inline-block;
    right: 0;
    position: absolute;
}

@media (max-width: 768px) {
    .facebook-row {
    }

    .facebook-row .fb-btn {
        text-align: left;
    }

}

.detail-payment .reach-out .contact-row {
    position: relative;
    margin-left: -15px;
    padding-left: 15px;
}

.detail-payment .reach-out .contact-row:before {
    content: "";
    display: inline-block;
    background: url('../images/web_teeinsight/red_ask.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    right: 100%;
}

.detail-packs .contact {
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
}

.detail-packs .contact:before {
    content: "";
    display: inline-block;
    background: url('../images/web_teeinsight/envelope.png') no-repeat 0 0;
    background-size: 30px 22px;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 100%;
}

.payment-modal button.close {
    font-size: 2em;
    opacity: 1;
    color: #ff262d;
}

.payment-modal mark {
    background: #dde735;
}

.payment-modal .not-free {
    display: none;
}

.payment-modal .modal-title {
    font-size: 2.3em;
}

.teeinsight-title {
    color: #FFFFFF;
    text-align: left;
    margin-top: 150px;
    margin-left: 16.666%;
    padding-left: 1.1em;
    width: 50%;
}

.teeinsight-title > h1 {
    margin: 0;
    font-size: 3.8em;
    line-height: 0.94em;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.teeinsight-title > hr {
    border-top: 5px solid #e4a025;
    width: 10em;
    margin: 2em auto 1.4em 0;
}

.teeinsight-title > p {
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 500;
    padding-right: 20%;
}

.teeinsight-title > .btn-try {
    color: #fff;
    background-color: #e4a025;
    border-color: #e4a025;
    border-radius: 3px;
    font-size: 2.3em;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding-left: 50px;
    margin-top: 50px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teeinsight-title > .btn-try:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.teeinsight-title > .btn-try > .fa {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    text-align: center;
    border-left: 1px solid #FFFFFF;
    padding: 20px 15px;
    font-size: 0.8em;
}

.btn-half-block {
    display: block;
    width: 50%;
}

.info-box {
    min-height: 90px;
    background: #fff;
    margin-bottom: 15px;
}

.info-box > .info-icon {
    display: block;
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101px 101px;
    min-height: 101px;
    transition: background 0.3s linear;
}

.info-box > .info-icon.about-us {
    background-image: url('../images/web_teeinsight/about-us_new.png');
}

.info-box > .info-icon.our-services {
    background-image: url('../images/web_teeinsight/services_new.png');
}

.info-box > .info-icon.our-product {
    background-image: url('../images/web_teeinsight/product_new.png');
}

.info-box > .info-icon.why-us {
    background-image: url('../images/web_teeinsight/why_new.png');
}

.info-box > .info-icon > img {
    display: none;
}

.info-box > .info-short-text {
    display: block;
    margin-top: 10px;
}

.info-box > .info-short-text > .info-title {
    margin-top: 10px;
}

.info-short-text p {
    text-align: justify;
}

.contact-form {
    margin-left: 10%;
    margin-bottom: 70px;
}

.contact-form input {
    width: 80%;
    padding: 20px;
}

.contact-form button {
    border-radius: 0;
    color: #fff;
    background-color: #e85356;
    border-color: #e85356;
    min-width: 72px;
    margin-right: 7px;
}

.detail-address {
    margin-top: 20px;
}

.detail-testimonial {
    margin: 25px 0 15px;
    min-height: 110px;
    padding: 10px 0 20px;
}

.detail-testimonial img {
    width: 110px;
    float: left;
}

.detail-testimonial .testimonial-quote {
    display: block;
    margin-left: 110px;
    padding: 0 15px 15px;
    min-height: 110px;
    max-height: 150px;
    overflow: hidden;
    line-height: 1.6em;
}

.detail-testimonial .testimonial-quote .testimonial-name {
    display: block;
    font-size: 1.2em;
    line-height: 2em;
}

.detail-faq {
    margin: 30px 0;
    min-height: 110px;
}

.detail-faq > a {
    font-size: 1.5em;
    font-weight: bold;
}

.detail-faq > p {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 10px 0 5px;
}

.detail-plans > h1 {
    font-weight: bold;
    margin-top: 0;
    text-align: right;
    padding-right: 20%;
    margin-right: -15px;
    font-size: 3.2em;
    line-height: 0.9;
    margin-bottom: 20px;
}

.plan-packs {
    padding-top: 35px;
    padding-bottom: 5px;
}

.plan-pack {
    padding-top: 35px;
    padding-bottom: 10px;
    min-height: 300px;
    text-align: center;
}

.plan-pack .plan-icon {
    background-color: #fff;
    border: 1px solid #ababab;
    border-radius: 50%;
    padding: 15px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    opacity: 1;
    width: 60px;
    height: 60px;
}

.plan-pack .plan-card {
    border: 1px solid #ababab;
    border-radius: 5px;
    min-height: 425px;
    color: #666666;
}

.plan-card .plan-card-header {
    border-bottom: 1px solid #ababab;
    padding: 25px 5px;
    height: 135px;
}

.plan-card .plan-card-header > h1 {
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1;
    color: #ff262d;
    white-space: nowrap;
}

.plan-card .plan-card-header > .header-title {
    margin-bottom: 0;
    font-size: 2.7em;
    line-height: 1;
    color: #4967a8;
    white-space: nowrap;
}

.plan-card .plan-card-header span {
    font-size: 1.5em;
}

.plan-card .plan-card-body {
    border-bottom: 1px solid #ababab;
    padding: 10px 10px 20px;
    min-height: 250px;
    position: relative;
}

.plan-card .plan-card-body .plan-card-sub-body {
    margin-bottom: 5px;
    position: relative;
}

.plan-card .plan-card-body .plan-card-sub-body:last-child {
    margin-bottom: 0;
}

.plan-card .plan-card-body .plan-description {
    padding: 0;
    text-align: left;
    line-height: 1.6em;
}

.plan-card .plan-card-body .plan-features {
    padding: 0;
    text-align: left;
    list-style: none;
    line-height: 1.6em;
}

.plan-card .plan-card-body .plan-features > li {
}

.plan-card .plan-card-body .plan-price {
    font-size: 4.3em;
    text-transform: uppercase;
    position: relative;
}

.plan-card .plan-card-body .plan-price > span {
    display: block;
}

.plan-card .plan-card-body .plan-price.red-price {
    font-size: 2.5em;
    color: #ff262d;
}

.plan-card .plan-card-body > .plan-price.red-price {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}

.plan-card .plan-card-body .plan-price sup,
.plan-card .plan-card-body .plan-price small {
    font-size: 0.5em;
    text-transform: none;
    line-height: 1em;;
    color: #666666;
}

.plan-card .plan-card-body .plan-price .top {
    position: relative;
    top: -0.7em;
}

.plan-card .plan-card-footer {
    padding: 20px 30px 40px;
    height: 115px;
}

.plan-card .plan-card-footer button,
.plan-card .plan-card-footer a.button {
    padding: 10px 20px;
    font-size: 1.8em;
    line-height: 1.2em;
    color: #FFFFFF;
    background-color: #ff262d;
    border-color: #ababab;
}

/*.plan-card .plan-card-footer button:hover,*/
/*.plan-card .plan-card-footer button:focus,*/
/*.plan-card .plan-card-footer button:active,*/
/*.plan-card .plan-card-footer button.active,*/
/*.plan-card .plan-card-footer button:visited,*/
/*.plan-card .plan-card-footer a.button:hover,*/
/*.plan-card .plan-card-footer a.button:focus,*/
/*.plan-card .plan-card-footer a.button:active,*/
/*.plan-card .plan-card-footer a.button.active,*/
/*.plan-card .plan-card-footer a.button:visited {*/
/*color: #ffffff;*/
/*background-color: #ff262d;*/
/*border-color: #ff262d;*/
/*}*/

.plan-card .plan-card-footer button:hover,
.plan-card .plan-card-footer a.button:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.detail-flow .flow-steps {
    position: relative;
}

.flow-steps:before,
.flow-steps:after {
    content: "";
    position: absolute;
    display: none;
    background-color: #4967A8;
    width: 50px;
    height: 25px;
}

.flow-steps:before {
    top: 0;
    left: 50%;
    margin-left: -25px;
    border-radius: 0 0 50px 50px;
}

.flow-steps:after {
    bottom: 0;
    right: 20%;
    margin-left: -25px;
    border-radius: 50px 50px 0 0;
}

.step {
    padding-top: 10px;
    padding-bottom: 30px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
}

.step:after {
    z-index: -4;
}

.step .text-zone {
}

.step .mark-zone {
    background-repeat: no-repeat;
    background-position: 0 0;
}

.step-title {
    font-size: 2.5em;
    line-height: 1.1em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}

.step-title.highlight {
    margin: 15px 0;
}

.step-title.highlight > kbd {
    color: #333;
    background-color: transparent;
    padding: 15px 10px;
    font-size: 1em;
    border-radius: 0;
}

.step-description {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    letter-spacing: 0.025em;
}

.step-try {
    color: #000;
    background-color: transparent;
    font-size: 1.3em;
    letter-spacing: 0.34em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    padding: 10px 15px;
    width: 195px;
}

.step-try > .fa {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    text-align: center;
    border-left: 1px solid #000000;
    padding: 10px 28px;
    line-height: 1.4;
}

.step-start {
    height: 100%;
    position: absolute;
}

.step-start:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #4967A8;
    width: 50px;
    height: 25px;
    top: 0;
    left: 50%;
    margin-left: -25px;
    border-radius: 0 0 50px 50px;
    border: 0;
    z-index: 0;
}

.step-learn {
    margin-top: 236px;
}

.step-learn:before,
.step-learn:after {
    min-height: 50%;
    min-width: 25%;
    left: 25%;
}

.step-learn:before {
    left: 50%;
    top: -99px;
    border-left: 0;
    border-bottom: 0;
    width: 28%;
}

.step-learn:after {
    bottom: -15%;
    height: 50%;
    border-top: 0;
    border-left: 0;
    width: 53%;
}

.step-learn .text-zone {
}

.step-learn .mark-zone {
    background-image: url(../images/web_teeinsight/learn.png);
    background-size: contain; /*303px 355px;*/
    min-height: 415px;
}

.step-learn .step-try {
    right: 0;
}

.step-ideas {
    width: 100%;
    margin-top: 20px;
}

.step-ideas:before,
.step-ideas:after {
    min-height: 50%;
    min-width: 25%;
    left: 50%;
}

.step-ideas:before {
    display: none;
}

.step-ideas:after {
    top: 40%;
    width: 50%;
    height: 50%;
    border-bottom: 0;
    border-left: 0;
}

.step-ideas .text-zone {
    top: -3em;
}

.step-ideas .mark-zone {
    background-image: url(../images/web_teeinsight/ideas.png);
    background-size: contain; /*445px 280px;*/
    min-height: 280px;
}

.step-ideas .step-title.highlight {
    position: relative;
    float: left;
}

.step-ideas .step-try {
    position: relative;
    float: right;
}

.step-ideas .step-description {
    margin-top: 20px;
}

.step-support {
    margin-top: -190px;
}

.step-support:before,
.step-support:after {
    min-height: 105px;
    min-width: 60px;
    left: -2px;
}

.step-support:before {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    top: 1px;
}

.step-support:after {
    border-bottom: 0;
    border-right: 0;
    top: 115px;
    height: 100%;
}

.step-support .text-zone {
}

.step-support .mark-zone {
    background-position: 10px 0;
    background-image: url(../images/web_teeinsight/support.png);
    background-size: contain; /*210px 210px;*/
    min-height: 210px;
    max-width: 220px;
}

@media (max-width: 1664px) {
    .step-support .mark-zone {
        width: 220px;
    }

    .step-support .text-zone {
        width: auto;
    }
}

.step-support .step-title {
    white-space: normal;
}

.step-support .step-try {
    position: relative;
    float: right;
}

.step-analyze {
    margin-top: 0;
}

.step-analyze:before,
.step-analyze:after {
    min-height: 50%;
    min-width: 50%;
    left: 0;
}

.step-analyze:before {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    top: -150px;
}

.step-analyze:after {
    border-bottom: 0;
    border-left: 0;
    left: 50%;
    top: 50%;
    height: 50%;
    min-width: 28%;
}

.step-analyze .text-zone {
    margin-right: -8.4%;
    padding-right: 5%;
}

.step-analyze .mark-zone {
    background-image: url(../images/web_teeinsight/mac.png);
    background-size: contain; /*687px 418px;*/
    min-height: 420px;
}

.step-analyze .step-try {
    position: relative;
    float: right;
}

.step-aggregate {
    margin-top: 0;
}

.step-aggregate:before,
.step-aggregate:after {
    min-height: 50%;
    min-width: 50%;
    left: 16.666%;
}

.step-aggregate:before {
    border-bottom: 0;
    border-right: 0;
    width: 61.333%;
    top: 0;
}

.step-aggregate:after {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 61.333%;
    top: 90%;
    min-height: 20%;
}

.step-aggregate .text-zone {
    min-height: 200px;
}

.step-aggregate .text-zone > * {
    margin-left: 5px;
}

.step-aggregate .mark-zone {
    /*background-image: url(../images/web_teeinsight/chart.png);*/
    background-size: 100% 100%; /*770px 250px;*/
    min-height: 250px;
}

.step-aggregate .step-description {
    padding: 20px 0
}

.step-aggregate .step-try {
    position: relative;
}

.step-alerts {
    margin-top: 0;
    padding-top: 30px;
}

.step-alerts .step-title {
    padding-top: 50px;
}

.step-alerts:before,
.step-alerts:after {
    min-height: 50%;
    min-width: 50%;
    left: 16.666%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 61.333%;
}

.step-alerts:before {
    top: 0;
}

.step-alerts:after {
    bottom: 0;
}

.step-alerts .text-zone {
}

.step-alerts .mark-zone {
    overflow: hidden;
    background-size: 160%; /*480px 480px;*/
    min-height: 480px;
    max-width: 19.5%;
}

.bell-img {
    max-width: 140%;
    padding-top: 20px;
}

.step-alerts .step-try {
    position: relative;
}

.step-end {
    /*height: 50px;*/
    padding-top: 0px;
}

.step-end:before {
    height: 100%;
    width: 78%;
    left: 0;
    top: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.step-end:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #4967A8;
    width: 50px;
    height: 25px;
    bottom: 0;
    left: 78%;
    margin-left: -25px;
    border-radius: 50px 50px 0 0;
    border: 0;
    z-index: 0;
}

@media (max-width: 1199px) {
    .step {
        margin-top: 50px;
    }

    .step:before,
    .step:after {
    }

    .step:before {
    }

    .step:after {
    }

    .step-support, .step-ideas {
        width: 100%;
    }

    .step-alerts .mark-zone {
        background-size: contain;
        max-width: 100%;
    }

    .step-start, .step-end {
        height: 50px;
    }

    .step-learn:before {
        top: -52px;
        width: 30%;
    }

    .step-learn:after {
        bottom: -25%;
        width: 55%;
    }

    .step-ideas:after {
        left: 0;
        top: 50%;
        border-left: 2px dashed #ccc;
        border-right: 0;
    }

    .step-support:before,
    .step-support:after {
        min-height: 50%;
        left: 0;
    }

    .step-support:before {
        top: -50px;
        height: 60%;
    }

    .step-support:after {
        top: 40%;
        height: 60%;
    }

    .step-analyze:before {
        border-top: 2px dashed #ccc;
        top: -50px;
        width: 75%;
    }

    .step-analyze:after {
        left: 0;
        height: 50%;
        top: 50%;
        width: 75%;
    }

    .step-aggregate:before,
    .step-aggregate:after {
        left: 0;
    }

    .step-aggregate:before {
        width: 75%;
        top: -50px;
    }

    .step-aggregate:after {
        width: 80%;
        bottom: 0;
        top: auto;
        min-height: 30px;
    }

    .step-alerts:before,
    .step-alerts:after {
        left: 0;
        width: 80%;
    }

    .step-alerts:before {
        top: -50px;
    }

    .step-alerts:after {
        bottom: 0;
    }

    .step-end {
        margin-top: 0;
    }

    .step-end:before {
        width: 80%;
    }

    .step-end:after {
        left: 80%;
    }

}

/*right-sidebar*/
.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 1010;
}

.right-sidebar .sidebar-header,
.right-sidebar .sidebar-body,
.right-sidebar .sidebar-footer {
    position: relative;
}

.sidebar-body .menu-custom li a {
    color: #333;
    text-decoration: none;
}

.sidebar-body .menu-custom li.active a {
    font-weight: bold;
}

@-webkit-keyframes slideInRightSlideBar {
    from {
        -webkit-transform: translate3d(-8em, 0, 0);
        transform: translate3d(-8em, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRightSlideBar {
    from {
        -webkit-transform: translate3d(-8em, 0, 0);
        transform: translate3d(-8em, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRightSlideBar {
    -webkit-animation-name: slideInRightSlideBar;
    animation-name: slideInRightSlideBar;
}

@-webkit-keyframes slideOutRightSlideBar {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-8em, 0, 0);
        transform: translate3d(-8em, 0, 0);
    }
}

@keyframes slideOutRightSlideBar {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {

        -webkit-transform: translate3d(-8em, 0, 0);
        transform: translate3d(-8em, 0, 0);
    }
}

.slideOutRightSlideBar {
    -webkit-animation-name: slideOutRightSlideBar;
    animation-name: slideOutRightSlideBar;
}

@-webkit-keyframes slideOutRightLoginBox {
    from {
        -webkit-transform: translate3d(-10em, 0, 0);
        transform: translate3d(-10em, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutRightLoginBox {
    from {
        -webkit-transform: translate3d(-10em, 0, 0);
        transform: translate3d(-10em, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideOutRightLoginBox {
    -webkit-animation-name: slideOutRightLoginBox;
    animation-name: slideOutRightLoginBox;
}

@-webkit-keyframes zoomOutLogo {
    from {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5, 0.5);
        transform: translate3d(0, 0, 0) scale(0.5, 0.5);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomOutLogo {
    from {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5, 0.5);
        transform: translate3d(0, 0, 0) scale(0.5, 0.5);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.zoomOutLogo {
    -webkit-animation-name: zoomOutLogo;
    animation-name: zoomOutLogo;
    transform-origin: 0 0;
}

@-webkit-keyframes zoomInLogo {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5, 0.5);
        transform: translate3d(0, 0, 0) scale(0.5, 0.5);
    }
}

@keyframes zoomInLogo {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0) scale(0.5, 0.5);
        transform: translate3d(0, 0, 0) scale(0.5, 0.5);
    }
}

.zoomInLogo {
    -webkit-animation-name: zoomInLogo;
    animation-name: zoomInLogo;
    transform-origin: 0 0;
}

@-webkit-keyframes slideInRightLoginBox {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-12em, 0, 0);
        transform: translate3d(-12em, 0, 0);
    }
}

@keyframes slideInRightLoginBox {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-12em, 0, 0);
        transform: translate3d(-12em, 0, 0);
    }
}

.slideInRightLoginBox {
    -webkit-animation-name: slideInRightLoginBox;
    animation-name: slideInRightLoginBox;
}

.right-sidebar .sidebar-header {
    left: -8em;
}

.right-sidebar {
    border-left: 1px solid #ddd;
}

.slideInRight.right-sidebar .sidebar-header, .slideInLeft.right-sidebar .sidebar-header {
    left: 0;
}

.right-sidebar .sidebar-body,
.right-sidebar .sidebar-footer,
.right-sidebar .menu-custom,
.right-sidebar .menu-social {
    display: block;
}

.right-sidebar .main-header .navbar-custom-menu {
    float: left;
    border-radius: 0;
}

.right-sidebar .main-header .navbar-custom-menu .sidebar-toggle {
    padding: 5px 15px;
    border-radius: 0 !important;
}

.right-sidebar .menu-custom {
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 1em 0 0;
    padding-left: 15px;
}

.right-sidebar .menu-custom li {
    list-style: none;
    margin-bottom: 1em;
}

.right-sidebar .menu-social {
    position: absolute;
    bottom: 0;
    margin: 15px -15px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.right-sidebar .menu-social li {
    list-style: none;
    display: inline-block;
    flex: 1;
}

.right-sidebar .menu-social li > a {
    color: #c0c0c0;
    padding: 10px;
}

/*sidebar-opened*/
.hide-with-sidebar {
    display: none;
}

.show-with-sidebar {
    display: block;
}

.sidebar-opened .hide-with-sidebar {
    display: block;
}

.sidebar-opened .show-with-sidebar {
    display: none;
}

.right-sidebar {
    width: 16.666%;
    min-height: 100%;
    background-color: #fff;
    right: -16.666%;
}

.slideInRight.right-sidebar, .slideOutRight.right-sidebar {
    right: 0;
}

.sidebar-opened .right-sidebar .sidebar-body,
.sidebar-opened .right-sidebar .sidebar-footer,
.sidebar-opened .right-sidebar .menu-custom {
    display: block;
}

.sidebar-opened .right-sidebar .menu-social {
    display: flex;
}

.sidebar-opened .main-header {
    padding-right: 16.666%;
}

address a {
    color: #e85356;
}

.detail-contact-map iframe {
    max-width: 100%;
}

.login-box-res {
    display: none;
}

.navbar-custom-menu.login-box-res .navbar-nav {
    position: absolute;
    top: 15px;
    right: 10%;
    z-index: 99999;
}

.navbar-custom-menu.login-box-res .navbar-nav li {
    float: left;
}

.navbar-custom-menu.login-box-res .navbar-nav li a {
    color: inherit;
    padding: 10px 5px;
}

.slideanimated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.detail-testimonial, .detail-faq {
    opacity: 0;
}

.detail-testimonial:nth-child(1), .detail-faq:nth-child(1) {
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}

.detail-testimonial:nth-child(2), .detail-faq:nth-child(2) {
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}

.detail-testimonial:nth-child(3), .detail-faq:nth-child(3) {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;

}

.detail-testimonial:nth-child(4), .detail-faq:nth-child(4) {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}

.delay-slide {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

@-webkit-keyframes slideInLeftSlider {
    from {
        -webkit-transform: translate3d(-500%, 0, 0);
        transform: translate3d(-500%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeftSlider {
    from {
        -webkit-transform: translate3d(-500%, 0, 0);
        transform: translate3d(-500%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeftSlider {
    -webkit-animation-name: slideInLeftSlider;
    animation-name: slideInLeftSlider;
}

@-webkit-keyframes slideInRightSlider {
    from {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRightSlider {
    from {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRightSlider {
    -webkit-animation-name: slideInRightSlider;
    animation-name: slideInRightSlider;
}

@-webkit-keyframes bell-tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bell-tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bell-img:hover {
    -webkit-animation-name: bell-tada;
    animation-name: bell-tada;
    animation-delay: 0s;
}

.bell-tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-delay: 1s;
}

/*----svg line ----*/

.svg-line {
    width: 100%;
    height: 100%;
}

.dashed {
    stroke-dasharray: 9;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    /*animation: dash 2s linear forwards;*/
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.chart-svg {
    z-index: 0;
    background: #fff;
    width: 600px;
    height: 300px;
}

.delay-svg-05s {
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}

.delay-svg-1s {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.delay-svg-15s {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}

.delay-svg-3s {
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
}

.delay-svg-4s {
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
}

.transition-delay-1s {
    -webkit-transition-delay: 1s transition-delay : 1 s
}

.transition-delay-2s {
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}

/*--- end ---*/

@media (max-width: 1399px) {
    .teeinsight-title > h1 {
        font-size: 3.8em;
        line-height: 0.94em;
    }

    .right-sidebar .menu-custom {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .right-sidebar {
        width: 35%;
        right: -35%;
    }

    .teeinsight-title {
        width: 70%;
        margin-left: 15%;
    }

    .step-title {
        white-space: inherit;
        display: block;
    }

    .step-title.highlight > kbd {
        display: block;
    }
}

@media (max-width: 768px) {
    .slideInRightLoginBox {
        -webkit-animation-name: inherit;
        animation-name: inherit;
    }

    .slideOutRightLoginBox {
        -webkit-animation-name: inherit;
        animation-name: inherit;
    }

    .step-title {
        font-size: 2.5em;
    }

    .step-ideas .step-title {
        margin-top: 0px;
    }

    .step-learn .step-title {
        padding-top: 50px;
    }

    .teeinsight-title {
        width: 80%;
        margin-left: 10%;
    }

    .teeinsight-title > h1 {
        font-size: 3em;
    }

    .teeinsight-title > p {
        font-size: 1.5em;
        line-height: 1.2em;
    }

    .btn-half-block {
        width: 70%;
    }

    .teeinsight-title > .btn-try {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 25px;
    }

    .teeinsight-title > .btn-try > .fa {
        padding: 20px 15px;
    }

    .main-header .navbar-custom-menu .navbar-nav > li > a {
        padding: 10px 10px;
    }

    .contact-form {
        margin-left: 0px;
    }

    .contact-form input {
        width: 100%;
    }

    .content {
        padding: 15px 10%;
    }

    .detail-testimonial .testimonial-quote {
        padding: 0px 0px 15px 15px;
        max-height: inherit;
    }

    .login-box {
        display: none;
    }

    .login-box-res {
        display: block;
    }

    .fa-3x {
        font-size: 2em;
    }

    .chart-svg {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .right-sidebar {
        width: 75%;
        right: -75%;
    }
}

@media (max-width: 400px) {
    body, .main-header .navbar-custom-menu .navbar-nav {
        font-size: 12px;
    }

    .logo-tee-insight {
        width: 190px;
    }

    .right-sidebar .sidebar-header {
        left: -7em;
    }

    @-webkit-keyframes slideInRightSlideBar {
        from {
            -webkit-transform: translate3d(-7em, 0, 0);
            transform: translate3d(-7em, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInRightSlideBar {
        from {
            -webkit-transform: translate3d(-7em, 0, 0);
            transform: translate3d(-7em, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .slideInRightSlideBar {
        -webkit-animation-name: slideInRightSlideBar;
        animation-name: slideInRightSlideBar;
    }

    @-webkit-keyframes slideOutRightSlideBar {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            -webkit-transform: translate3d(-7em, 0, 0);
            transform: translate3d(-7em, 0, 0);
        }
    }

    @keyframes slideOutRightSlideBar {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        to {

            -webkit-transform: translate3d(-7em, 0, 0);
            transform: translate3d(-7em, 0, 0);
        }
    }
    .slideOutRightSlideBar {
        -webkit-animation-name: slideOutRightSlideBar;
        animation-name: slideOutRightSlideBar;
    }
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(0, -4em);
    }
}

.sheen {
    position: relative;
    overflow: hidden;
}

.sheen:after {
    animation: sheen 1s 4s forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
    transform: rotateZ(60deg) translate(-1em, 4em);
}

/* Input group */
.input-group .input-group-addon {
    border-radius: 0;
    border-color: #d2d6de;
}

.input-group .input-group-addon.label-inline {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0;
}

.input-group .input-group-addon.label-inline:first-child {
    border-left: 1px solid #ccc;
}

.input-group .input-group-addon.label-inline:last-child {
    border-right: 1px solid #ccc;
}

.input-group .input-group-addon.label-primary {
    color: #fff;
}

@media (max-width: 768px) {
    .form-inline .input-group .form-control,
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn {
        width: auto;
    }
}

.input-group-btn.input-group-btn-flex {
    display: table-row-group;
}

.input-group-btn.input-group-btn-flex .btn-group-radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    margin: 0;
}

.input-group-btn.input-group-btn-flex .btn-group-radios > .btn {
    flex-basis: 16.6666%;
    border-radius: 0;
    margin: -1px 0 0;
}
