{% extends 'teeinsight.html' %}
{% load staticfiles %}

{% block plugin-css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
    <link rel="stylesheet"
          href="{% static 'plugins/datatables/extensions/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'plugins/datatables/extensions/Responsive-2.1.0/css/responsive.bootstrap.min.css' %}">
    <!-- Pace style -->
    <link rel="stylesheet" href="{% static 'plugins/pace/pace.min.css' %}">
    <!-- Date Range Picker -->
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <link rel="stylesheet" href="{% static 'toastr/toastr.css' %}"/>
    {% comment %}
    <!-- spzoom.phat -->
    <link rel="stylesheet" href="{% static 'plugins/spzoom/jquery.spzoom.phat.css' %}">
    {% endcomment %}
{% endblock %}

{% block content_wrapper %}
    {% include 'teeinsight/campaigns/campaigns_wrapper.html' %}
{% endblock %}

{% block plugin-js %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/extensions/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/extensions/Responsive-2.1.0/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/extensions/Responsive-2.1.0/js/responsive.bootstrap.min.js' %}"></script>
    <!-- PACE -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- moment.js 2.13.0 -->
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <!-- Date Range Picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    {% comment %}
    <!-- spzoom.phat -->
    <script src="{% static 'scripts/plugins/spzoom/jquery.spzoom.phat.js' %}"></script>
    {% endcomment %}
    <!-- elevatezoom -->
    <script src="{% static 'elevatezoom/jquery.elevatezoom.js' %}"></script>
    <!-- moment.js 2.13.0 -->
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.js' %}"></script>
{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/campaigns.js' %}"></script>
{% endblock %}
