{% extends 'teeinsight.html' %}
{% load staticfiles %}

{% block plugin-css %}
    <!-- Pace style -->
    <link rel="stylesheet" href="{% static 'plugins/pace/pace.min.css' %}">
    <!-- Morris charts -->
    {#<link rel="stylesheet" href="{% static 'scripts/plugins/morris/morris.css' %}">#}
    <!-- jquery.lighter -->
    <link rel="stylesheet" href="{% static 'plugins/jquery.lighter/jquery.lighter.css' %}">
    <!-- Ion Slider -->
    <link rel="stylesheet" href="{% static 'ion.rangeSlider/css/ion.rangeSlider.css' %}">
    <link rel="stylesheet" href="{% static 'ion.rangeSlider/css/ion.rangeSlider.skinModern.css' %}">
{% endblock %}

{% block content_wrapper %}
    {% include 'teeinsight/campaign/campaign_wrapper.html' %}
{% endblock %}

{% block plugin-js %}
    <!-- PACE -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- moment.js 2.13.0 -->
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <!-- ChartJS 2.x -->
    <script src="{% static 'Chart.js/dist/Chart.min.js' %}"></script>
    <!-- Sparkline -->
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- Morris.js charts -->
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>#}
    {#<script src="{% static 'scripts/plugins/morris/morris.min.js' %}"></script>#}
    <!-- jquery.lighter -->
    <script src="{% static 'plugins/jquery.lighter/jquery.lighter.js' %}"></script>
    <!-- Ion Slider -->
    <script src="{% static 'ion.rangeSlider/js/ion.rangeSlider.js' %}"></script>
{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/campaign.js' %}"></script>
{% endblock %}
