{% extends 'teeinsight.html' %}
{% load staticfiles %}

{% block plugin-css-after %}
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <!-- Pace style -->
    <link rel="stylesheet" href="{% static 'plugins/pace/pace.min.css' %}">
{% endblock %}

{% block content_wrapper %}
    {% include 'teeinsight/dashboard/dashboard_wrapper.html' %}
{% endblock %}

{% block plugin-js %}
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <!-- PACE -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
{% endblock %}

{% block app-js %}
    <script src="{% static 'scripts/teeinsight.js' %}"></script>
{% endblock %}
